@import url('https://fonts.googleapis.com/css?family=Rubik');

.nav > li > a {
    padding: 20px;
    align-content: left;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 1080px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding: 30px;
    padding-top: 10px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }

    .content {
        padding: 1px !important;
        padding-top: 40px !important;
    }

    .tab-title {
        display: none;
    }

    .send-label {
        font-size: 16px !important;
        padding-bottom: 10px !important;
        padding-left: 1px !important;
    }

    .well {
        padding: 5px !important;
        margin-top: 50px !important;
    }

    body {
        background-size: cover !important;
    }

    .menu-item-highlight {
        background-color: white !important;
    }

    .alert {
        margin: 10px;
    }

    .public-address {
        font-size: 14px !important;
    }

    .public-address-label {
        font-size: 14px !important;
    }
}

html {
    height: 100%;
}

body {
    font-family: "Rubik";
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    height: 100%;
}

.container-fluid {
    height: auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    min-height: 100%;
}

.sidenav {
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
}

.navbar-toggle {
    background: #06A2DA;
}

.icon-bar {
    background-color: white;
}

.wallet-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.wallet-subtitle {
    font-size: 1.8em;
    font-weight: 600;
    color: white;
}

ul.nav.nav-pills {
    text-align: left;
    display: inline-block;
}

.nav-stacked > li + li {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    display: inline-block;
}

.nav-pills li {
    float: none;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    font-size: 1.4em;
}

.nav-pills > li > a /*, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover*/ {
    color: #7C95AB;
    background-color: white;
    text-align: left;
    background-color: white;
}

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #17B0E7;
        text-align: left;
        background-color: white;
    }

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #17B0E7;
        text-align: left;
        background-color: white;
    }

    .nav-pills > li > a:hover {
        -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    }

.menu-icon {
    margin-right: 15px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    font-size: 1em;
}

.menu-item-highlight {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
}

.token-shadow {
    -webkit-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.btn-primary {
    min-width: 100px;
}

.btn-primary:active:hover {
    border-color: transparent;
}

.btn-normal {
    background-color: #17B0E7;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
}

.btn-asset-no-border {
    margin-right: 10px;
    color: #7c95ab;
    font-size: 20px;
    border: none;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.btn .caret {
    margin-left: 20px;
    color: #7C95AB;
}

.btn-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 20px;
}

.qrbox {
    /*padding: 1px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
    width: 195px;
    height: 195px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.copy-pad {
    display: inline-block;
    width: 6px;
    height: 10px;
}

.token-icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.portfolio-token-icon {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: .5em;
    margin-top: .5em;
}

.well {
    height: 940px;
    overflow-y: scroll;
    /*height: 100%;*/
    background-color: white;
    border: none;
    padding: 60px;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    border: 4px solid #17B0E7;
}

.content {
    padding: 70px;
}


.tab-title {
    font-size: 25px;
    padding-bottom: 20px;
    font-family: "Rubik";
    color: #7C95AB;
    margin-top: 0;
}

.send-label {
    font-size: 25px;
    padding-bottom: 20px;
    font-family: "Rubik";
    color: #7C95AB;
}

.table-responsive {
    border: none;
    background-color: transparent;
    color: transparent;
    padding: 10px;
}

.portfolio a {
    color: #17B0E7;
}

.portfolio .table {
    margin-bottom: 0;
}

.portfolio .table-responsive {
    padding: 0 20em 0 20em;
    margin-top: 1em;
}

.portfolio .table-responsive .token-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #17B0E7;
    border-top: 1px solid #17B0E7;
}

.borderless-input {
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table-general {
    color: #333333;
    border-spacing: 0 30px;
    border-collapse: collapse;
    text-align: center;
}

    .table-general thead tr {
        border: none;
        font-size: 14px;
        color: grey;
    }

    .table-general th {
        font-size: 14px;
        border: none !important;
        white-space: normal;
        width: auto;
    }

    .table-general tbody tr > td {
        border: none;
        font-size: 16px;
        border-spacing: 20px;
    }

    .table-general > td {
        padding-bottom: 20px;
    }


.table-striped {
    /*width: 100%;*/
    table-layout: auto;
    /*max-width: 100%;*/
    border-collapse: collapse;
}

    .table-striped tbody tr {
        border: 1px solid #17B0E7;
    }

    .table-striped th {
        font-size: 14px;
        font-weight: 600;
        color: #7C95AB;
        border-bottom: 1px solid #17B0E7 !important;
    }


    .table-striped td {
        color: #7C95AB;
    }

        .table-striped td a {
            color: #17B0E7;
        }

    .table-striped > tbody > tr:nth-child(even) > td,
    .table-striped > tbody > tr:nth-child(even) > th {
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }

/* waiting animation */
.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.block-loader {
    margin: 2em auto;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #17B0E7;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loader-dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

    .loader-dot:first-child {
        background-color: #005073;
        animation-delay: 0.5s;
    }

    .loader-dot:nth-child(2) {
        background-color: #107dac;
        animation-delay: 0.4s;
    }

    .loader-dot:nth-child(3) {
        background-color: #189ad3;
        animation-delay: 0.3s;
    }

.loader-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 350px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-flex;
}

    .loader-text:after {
        overflow: hidden;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 3000ms infinite;
        animation: ellipsis steps(4,end) 3000ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
    }

@keyframes ellipsis {
    to {
        width: 1em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1em;
    }
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

/* send wizard*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: #17B0E7 1.5em 0 0 0, #17B0E7 1.1em 1.1em 0 0, #17B0E7 0 1.5em 0 0, #17B0E7 -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #17B0E7 0 -1.5em 0 0, #17B0E7 1.1em -1.1em 0 0;
            box-shadow: #17B0E7 1.5em 0 0 0, #17B0E7 1.1em 1.1em 0 0, #17B0E7 0 1.5em 0 0, #17B0E7 -1.1em 1.1em 0 0, #17B0E7 -1.5em 0 0 0, #17B0E7 -1.1em -1.1em 0 0, #17B0E7 0 -1.5em 0 0, #17B0E7 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.public-address {
    color: #7C95AB;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    height: 3em;
}

.public-address-label {
    color: #7C95AB;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

.version {
    text-align: center;
    color: white;
    margin: 0.5em 0;
    font-size: 1.2em;
}

.blockheight {
    text-align: center;
    color: darkslategrey;
    margin: 0.5em 0;
    font-size: 1.2em;
    display:inline-block;
}

.flash {
    transform: scale(1.1)
}

.flash-portfolio {
    color: #337ab7 !important;
}

.wrapper-settings {
    width: 40%;
    margin: 0 auto;
    font-size: 1.3em;
    margin-top: 4em;
}

.wrapper-portfolio {
    float: left;
    margin: 1em auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-portfolio div {
    display: inline-block;
    font-size: 1.2em;
    width: 24%;
    display: inline-block;
}

.portfolio {
    margin-top: -5em;
}

.portfolio .wrapper-portfolio button {
    width: 6.5em;
    font-size: .75em;
    padding: .5em .5em;
}

.settings-row {
    display: flex;
    border-bottom: 1px solid #17B0E7;
    padding-bottom: 1em;
    height: 45px;
    margin: 1em;
}

.settings-row-icon {
    margin-right: 10px;
    margin-left: 1em;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.settings-row-name {
    display: flex;
    width: 40%;
    flex: 1;
}

.bootstrap-select {
    background-color: inherit;
    outline: 0;
}

.history input {
    outline: 0;
}

.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: -.4em;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-flat + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
    border: 4px solid #17B0E7;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #17B0E7;
}

.center {
    text-align: center;
}

.wrapper-chains {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid #17B0E7;
    text-transform: uppercase;
}

.wrapper-methods {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid #17B0E7;
}

.wrapper-methods.button {
    margin: .5em !important;
}

.contracts {
    font-size: 1.2em;
    margin-top: -2.5em;
}

.contracts h4 {
    font-size: 1.3em;
}

.contracts .wrapper, .contracts select, .contracts input, .send select, .send input {
    margin: 2em 0;
}

.send select, .send input {
    width: 25em;
    height: 2.5em;
}

.contracts .button:hover, .portfolio .button:hover, .settings .button:hover, .send .button:hover, .contracts .selected-chain, .contracts .selected-method {
    background-color: #17B0E7 !important;
    color: #fff !important;
}

.contracts .button, .portfolio .button, .settings .button {
    padding: 1em 1em;
    color: #17B0E7;
    border: 2px solid #17B0E7;
    border-radius: 100px;
    margin: 0 auto;
    transition: background .25s ease-in-out, color .25s ease-in-out;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    font-size: .8em;
}

.send .button {
    padding: 1em 1em;
    color: #17B0E7;
    border: 2px solid #17B0E7;
    border-radius: 100px;
    margin: 1em 3em;
    transition: background .25s ease-in-out, color .25s ease-in-out;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}

.parameters-input {
    width: 20%;
    text-align: center;
    margin: 0em auto 2em !important;
}

.button:focus, select:focus, th:focus {
    outline: none;
}

.well.dark-mode, .sidenav.dark-mode {
    color: #fff;
    background-color: #2C2E34 !important;
}

.well.dark-mode {
    border: 4px solid darkgrey;
}

.sidenav.dark-mode ul li a {
    background-color: darkgrey;
    color: #fff;
}

.sidenav.dark-mode ul li.menu-item-highlight a {
    color: black !important;
}

.dark-mode h4, .dark-mode h3 {
    color: #fff;
}

.dark-mode h5, .dark-mode .blockheight {
    color: grey !important;
}

.dark-mode .settings-row {
    border-bottom: 1px solid black;
}

.dark-mode select {
    background-color: inherit;
}

.dark-mode .button {
    color: #fff;
    border: 2px solid #fff;
    background-color: inherit;
}

.dark-mode input, .dark-mode pre {
    background-color: #333;
    color: #fff;
}

.dark-mode tbody tr:hover {
    background-color: #333;
    color: #fff;
}

tbody tr:hover {
    background-color: #17B0E7;
}

tbody tr:hover td {
    background-color: #17B0E7;
    color: #fff;
}

tbody tr:hover a {
    color: #fff;
}

thead th {
    text-align: center;
}

.portfolio .table-responsive tfoot .token-shadow {
    border-bottom: 0;
    border-top: 1px solid #17B0E7;
}

.table > tfoot > tr > td {
    border-top: 0;
}

.dark-mode .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #555;
}

.dark-mode .table-striped td {
    color: #ddd;
}

.top-portfolio {
    text-align: center;
    font-size: 1.4em;
    padding: 0 10em;
}

.top-portfolio-col {
    width: 30%;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1em;
    color: grey;
}

.top-portfolio-col-small {
    font-size: .7em;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#check-advanced {
    -ms-transform: scale(1.6); /* IE */
    -moz-transform: scale(1.6); /* FF */
    -webkit-transform: scale(1.6); /* Safari and Chrome */
    -o-transform: scale(1.6); /* Opera */
    transform: scale(1.6);
    padding: 10px;
}

#address-input {
    width: 60%;
    margin: 2em auto;
}

.container {
    margin-top:5em;
    width: 550px;
    text-align: center;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: initial;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

#container-pie {
    padding: 1em 2em 2em 2em;
}

#container-historical-value {
    padding: 0 2em 2em 2em;
}

table.dataTable thead .sorting_asc:after {
    color: #17B0E7;
    font-family: 'Font Awesome 5 Free';
    content: "\f13a";
    position: absolute;
    margin-left: 0.2em;
}
table.dataTable thead .sorting_desc:after {
    color: #17B0E7;
    font-family: 'Font Awesome 5 Free';
    content: "\f139";
    position: absolute;
    margin-left: 0.2em;
}
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting {
    position: relative;
    cursor: pointer;
    width: auto !important;
}
    table.dataTable thead .sorting_desc:hover,
    table.dataTable thead .sorting_asc:hover,
    table.dataTable thead .sorting:hover {
    color: #17B0E7;
}

.dataTables_info {
    display: none;
}
.dataTables_filter {
    display: none;
}

.dataTables_filter input:focus {
    box-shadow: 0 0 0 1pt #17B0E7;
    border: 0;
    outline: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
}

.dataTables_filter label i {
    margin-right: .5em;
    color: #333;
    font-size: 1.5em;
    vertical-align: middle;
}

.dark-mode .history .dataTables_filter i, .dark-mode .history .dataTables_filter input {
    color: #fff;
}

.dataTables_paginate span a, .dataTables_paginate a {
    padding: .5em;
    cursor: pointer;
}

.dataTables_paginate a:focus, .dataTables_paginate span a:focus {
    outline: 0;
}

.dark-mode .highcharts-background {
    fill: transparent;
}
.dark-mode .highcharts-data-labels .highcharts-label tspan {
    fill: #fff !important;
}
.dark-mode .highcharts-title {
    fill: #fff !important;
}
.dark-mode .highcharts-label.highcharts-range-input text {
    fill: #fff !important;
}
.dark-mode .highcharts-series-0 .highcharts-area {
    fill: #555;
}
.dark-mode .highcharts-series-1 .highcharts-area {
    fill: #aeaeae;
}
.dark-mode .highcharts-yaxis-labels text,
.dark-mode .highcharts-xaxis-labels text {
    fill: #fff !important;
}
.dark-mode .token-shadow {
    color: #fff;
}
.top-portfolio-col {
    color: #333;
}
.dark-mode .top-portfolio-col {
    color: #fff;
}
.dark-mode .top-portfolio-col-small {
    color: grey;
}
.top-portfolio-col-highlight {
    color: #17B0E7;
}
.multisig-event {
    position: absolute;
    top: 2em;
    right: 3em;
    font-size: 3em;
    line-height: .5em;
    text-align: center;
    color: #cfd90e;
}
.multisig-event:hover {
    color: #17B0E7;
    cursor: pointer;
}
.multisig-event span {
    font-size: .5em;
    text-align: center;
}

#wrapper-portfolio-confirm {
    text-align: center;
    display: block;
    width: 100%;
    float: left;
    margin: 1em 0;
}