.vs/
packages/
PhantomWallet/publish
PhantomWallet/bin
PhantomWallet/obj
PhantomWallet/www/bin
PhantomCli/bin
PhantomCli/obj
Published/
www/bin
www/session
*.DS_Store
*.history
*session*
PhantomWallet/www/session
*.config
*.walletconfig
bin/
