<h3 class="tab-title">Contracts</h3>

<div class="row setup-content contracts" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-2 center" style="height:0;">
              <h4>Step 1) Select chain</h4>
              <select id="chaininput" style="width: 5em;height: 2.5em;">
                {{#each chains}}
                  <option value="{{Name}}">{{Name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-md-4 center">
              <h4>Step 2) Select contract</h4>
              <select id="contractinput" style="width: 7em;height: 2.5em;"></select>
            </div>
            <div class="col-md-12 center">
              <div id="loader-methods" class="block-loader" style="text-align:center;">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <h4 id="methodinput-title" style="1em;">Step 3) Select method</h4>
              <div id="methodinput" style="margin:1em;">
              </div>
            </div>
            <div class="col-md-12 center">
              <div id="loader-parameters" class="block-loader" style="text-align:center;">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <h4 id="parametersinput-title">Step 4) Enter parameters</h4>
              <div id="parametersinput">
              </div>
              <div id="wrapper-confirmrun">
              </div>
            </div>
            <div class="col-md-12 center" style="margin:2em auto;" >
              <h4 id="contractresult-title">Result</h4>
              <pre id="contractresult" class="p-3 border rounded" style="width:33%;margin: 0 auto;">
            </div>
        </div>
    </div>
</div>

<script>

  $("#methodinput").hide();
  $("#methodinput-title").hide();
  $("#parametersinput").hide();
  $("#parametersinput-title").hide();
  $("#contractresult").hide();
  $("#contractresult-title").hide();
  $("#loader-methods").hide();
  $("#loader-parameters").hide();
  $("#wrapper-confirmrun").hide();
  selectedchain = 'main';
  getChainContracts('step1-main');

  $("#chaininput").change(function () {
       var e = document.getElementById("chaininput");
       var chain = 'step1-' + e.options[e.selectedIndex].value;
       $("#methodinput").hide();
       $("#methodinput-title").hide();
       $("#parametersinput").hide();
       $("#parametersinput-title").hide();
       $("#contractresult").hide();
       $("#contractresult-title").hide();
       $("#loader-methods").hide();
       $("#loader-parameters").hide();
       $("#wrapper-confirmrun").hide();
       getChainContracts(chain);
   });

  function getChainContracts(chain) {

       chain = chain.substr(6);
       if ($(document.getElementById("step1-" + selectedchain))) {
        $(document.getElementById("step1-" + selectedchain)).removeClass('selected-chain');
       }
       fetchValuesContracts = '';
       selectedchain = chain;

       $.get('/chains',
         function (returnedData) {
           var matchingContracts = (JSON.parse(returnedData)).filter(function(matchChain) {
            return matchChain.name == chain;
           });
           var clength = (matchingContracts[0].contracts).length,
               i = 0;
           for (i; i < clength; i += 1) {
             fetchValuesContracts += '<option value="' + (matchingContracts[0].contracts)[i] + '">' + (matchingContracts[0].contracts)[i] + '</option>';
           }
           document.getElementById("contractinput").innerHTML = fetchValuesContracts;
         }).fail(function() {
            console.log("error");
         });

         $.get('/config',
           {
               mode: "get"
           },
           function (returnedData) {
             console.log(returnedData)
           }).fail(function() {
              console.log("error");
           });

       $(document.getElementById("step1-" + chain)).addClass('selected-chain').delay(150).queue(function(next){});
  }

  $("#contractinput").change(function () {

       $("#loader-methods").show();
       var e = document.getElementById("contractinput");
       var contract = e.options[e.selectedIndex].value;
       fetchValuesMethod = '';
       document.getElementById("methodinput").innerHTML = fetchValuesMethod;
       $("#methodinput").show();
       $("#methodinput-title").show();
       $("#parametersinput").hide();
       $("#parametersinput-title").hide();
       $("#wrapper-confirmrun").hide();
       $("#contractresult").hide();
       getABI(contract);

   });

  function getABI(contract) {

      var e = document.getElementById("chaininput");
      var chain = e.options[e.selectedIndex].value;
      var f = document.getElementById("contractinput");
      var contract = f.options[f.selectedIndex].value;
      fetchValuesMethod = '';

      $.post('/contract/abi',
        {
            chain: chain,
            contract: contract
        },
        function (returnedData) {
          abiFromContract = returnedData;
          var methodslength = (JSON.parse(returnedData).methods).length,
              i = 0;
          for (i; i < methodslength; i += 1) {
            fetchValuesMethod += '<span class="wrapper-methods button" id="step3-' + (JSON.parse(returnedData).methods)[i].name + '" onclick="getMethodParams(this.id)">' + (JSON.parse(returnedData).methods)[i].name + '</span>';
          }
          if (methodslength == 0) {
            document.getElementById("methodinput").innerHTML = '<div style="margin:2em auto;">No methods available.</div>';
          } else {
            document.getElementById("methodinput").innerHTML = fetchValuesMethod;
          }
          $("#loader-methods").hide();
        }).fail(function() {
           console.log("error");
        });

  }

  function getMethodParams(method) {

      $("#loader-parameters").show();
      fetchValuesParams = '';
      document.getElementById("parametersinput").innerHTML = fetchValuesParams;
      $("#parametersinput").show();
      $("#parametersinput-title").show();
      $("#wrapper-confirmrun").show();
      $("#contractresult").hide();
      $("#contractresult-title").hide();
      document.getElementById("contractresult").innerHTML = '';
      method = method.substr(6);
      if (typeof selectedmethod !== 'undefined') {
        $(document.getElementById("step3-" + selectedmethod)).removeClass('selected-method');
      }
      selectedmethod = method;
      $(document.getElementById("step3-" + method)).addClass('selected-method').delay(150).queue(function(next){});

      var matchingMethod = (JSON.parse(abiFromContract).methods).filter(function(matchedMethod) {
        return matchedMethod.name == method;
      });
      var pLength = (matchingMethod[0].parameters).length,
          i = 0;
      for (i; i < pLength; i += 1) {
        var input = matchingMethod[0].parameters[i].vmtype;
        //var period = input.lastIndexOf('.');
        //var lastValue = input.substring(period + 1);
        var lastValue = input;
        fetchValuesParams += matchingMethod[0].parameters[i].name + ' - ' + lastValue +'<div><input id="parametersinput-' + [i] + '" type="text" class="form-control parameters-input" placeholder="Enter parameter ' + [i+1] + '"</div>'
      }
      if (fetchValuesParams !== '') {
        document.getElementById("parametersinput").innerHTML = fetchValuesParams;
      } else {
        $("#parametersinput-title").hide();
        document.getElementById("parametersinput").innerHTML = '<div style="margin:2em auto;">No parameters required.</div>'
      }
      document.getElementById("wrapper-confirmrun").innerHTML = '<button id="confirmrun-'+method+'" type="button" style="border-radius:0;font-size:1.2em;" class="button" onclick="confirmRun(this.id)">RUN</button>';
      $("#loader-parameters").hide();

  }

  function confirmRun(method) {

    var e = document.getElementById("chaininput");
    chain = e.options[e.selectedIndex].value;
    var f = document.getElementById("contractinput");
    contract = f.options[f.selectedIndex].value;
    method = method.substr(11);

    var matchingMethod = (JSON.parse(abiFromContract).methods).filter(function(matchedMethod) {
      return matchedMethod.name == method;
    });
    var pLength = (matchingMethod[0].parameters).length,
        i = 0;
    var params = [];
    for (i; i < pLength; i += 1) {
      paramsnumber = ((document.getElementById('parametersinput-' + [i])).value)
      params[i] = { name: matchingMethod[0].parameters[i].name, vmtype: matchingMethod[0].parameters[i].vmtype, type: matchingMethod[0].parameters[i].type, input: paramsnumber, info: '' }
    }

    $.post('/contract',
       {
           chain: chain,
           contract: contract,
           method: method,
           params: JSON.stringify({
             params
           })
       },
       function (returnedData) {
          document.getElementById("contractresult").innerHTML = returnedData;
       }).fail(function(e) {
         $.post('/contract/tx',
             {
                 chain: chain,
                 contract: contract,
                 method: method,
                 params: JSON.stringify({
                   params
                 })
             },
             function (returnedData) {
               if (returnedData.startsWith('0x')) {
                 document.getElementById("contractresult").innerHTML = '<a href="http://localhost:7072/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
               } else {
                 document.getElementById("contractresult").innerHTML = returnedData;
               }

                $.get('/tx/' + returnedData,
                    function (returnedData) {
                       console.log(returnedData)
                    }).fail(function(e) {
                       console.log(JSON.stringify(e));
                    });

             }).fail(function(e) {
                console.log(JSON.stringify(e));
                document.getElementById("contractresult").innerHTML = JSON.stringify(e.statusText);
             });
       });

    $("#contractresult").show();
    $("#contractresult-title").show();

}

</script>
