<h3 class="tab-title">Contracts</h3>

<div class="row setup-content" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12">
            <div class="form-group">
                <h4>1) Select chain</h4>
                <div class="wrapper">
                  {{#each chains}}
                    <span class="wrapper-chains">{{Name}}</span>
                  {{/each}}
                </div>
                <h4>1) Select contract</h4>
                <div class="wrapper">
                  {{#each chains}}
                    <span class="wrapper-chains">{{Name}}</span>
                  {{/each}}
                </div>
                <h4>2) Select method</h4>
                <input maxlength="100" style="height:5em;width:50%;margin 0 auto;" type="text" required="required" class="form-control borderless-input shadow-box" id="destination" placeholder="Enter method" />
                <h4>3) Select parameters</h4>
                <input maxlength="100" style="height:10em;width:50%;margin 0 auto;" type="text" required="required" class="form-control borderless-input shadow-box" id="destination" placeholder="Enter params" />
            </div>
            <div class="form-group">
                <button type="button" onclick="confirmSend()">Send</button>
                <br>
            </div>
            <div class="form-group">
              <label class="control-label send-label">Output</label>
              <input id="contractresult" maxlength="100" style="height:10em;width:50%;margin 0 auto;" type="text" required="required" class="form-control borderless-input shadow-box" id="destination" />
            </div>
        </div>
    </div>
</div>

<script>

//setInterval(function() {
  //postContract();
//}, 1000);

function confirmSend() {
   $.post('/contract',
       {
           contract: 'energy',
           method: 'GetUnclaimed'
       },
       function (returnedData) {
         console.log(returnedData)
         document.getElementById("contractresult").value = returnedData;
       }).fail(function(e) {
          console.log(e);
   });
}

</script>
