<h3 class="tab-title">Contracts</h3>

<div class="row setup-content contracts" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12">
            <div class="form-group">
                <h4>1) Select chain</h4>
                <div class="wrapper">
                  {{#each chains}}
                    <span class="wrapper-chains button">{{Name}}</span>
                  {{/each}}
                </div>
                <h4>2) Select contract</h4>
                <select id="contractinput">
                  {{#each chains}}
                  <option value="{{Name}}">{{Name}}</option>
                  {{/each}}
                  <option value="energy">energy</option>
                </select>
                <h4>3) Enter method</h4>
                <input id="methodinput" style="width:50%;" type="text" required="required" class="form-control borderless-input shadow-box" placeholder="Enter method" />
                <h4>4) Enter parameters</h4>
                <input id="parametersinput" style="width:50%" type="text" required="required" class="form-control borderless-input shadow-box" placeholder="Enter parameters" />
            </div>
            <div class="form-group">
                <button type="button" class="button" onclick="confirmRun()">RUN</button>
                <br>
            </div>
            <div class="card-footer" style="width:50%;" ><h6>Result</h6> <pre><div id="contractresult" class="p-3 border rounded"></div></pre></div>
        </div>
    </div>
</div>

<script>
/*
function confirmRun() {

  var e = document.getElementById("contractinput");

   $.post('/contract',
       {
           contract: e.options[e.selectedIndex].value,
           method: document.getElementById("methodinput").value
       },
       function (returnedData) {
          console.log(returnedData)
          document.getElementById("contractresult").innerHTML = returnedData;
       }).fail(function(e) {
          console.log(JSON.stringify(e));
   });
}
*/

function confirmRun() {

  chain = 'main';
  contract = 'energy';
  method = 'GetMasterClaimDateFromReference';
  params = ''

   $.post('/contract/abi',
       {
           chain: chain,
           contract: contract
       },
       function (returnedData) {
          console.log(JSON.parse(returnedData))
          var matchingMethod = (JSON.parse(returnedData).methods).filter(function(matchedMethod) {
          	return matchedMethod.name == method;
          });
          parameters = matchingMethod[0].parameters;
          returntype = matchingMethod[0].returnType;

          var pLength = parameters.length,
              i = 0;

          for (i; i < pLength; i += 1) {
            console.log(parameters[i])
          }

          params1 = { 12: 'Number' };
          params2 = { '2019-10-11 23:00:00': 'Timestamp'};

          $.post('/contract',
              {
                  chain: chain,
                  contract: contract,
                  method: method,
                  params: {
                        params1,
                        params2
                  }
              },
              function (returnedData) {
                 console.log(returnedData)
                 document.getElementById("contractresult").innerHTML = returnedData;
              }).fail(function(e) {
                 console.log(JSON.stringify(e));
          });


       }).fail(function(e) {
          console.log(JSON.stringify(e));
   });
}


</script>
