<script src="https://unpkg.com/datatables.net@1.10.19/js/jquery.dataTables.min.js"></script>
<h3 class="tab-title">Transactions History</h3>
<div class="history">

  {{#if confirmedHash}}
  <!--<div class="table-responsive">-->
  <div class="alert alert-success" style="overflow: auto">
      The transaction <a href="http://localhost:7072/tx/{{confirmedHash}}">{{confirmedHash}}</a> was sent with <strong>success</strong>!
  </div>
  <!--</div>-->
  {{/if}}

  {{#if transactions}}
  <div class="table-responsive">
      <table class="table table-striped" id="mainhistorytable" style="display:none;">
          <thead>
              <tr>
                  <th class="col-1">Type</th>
                  <th class="col-2">Date (UTC)</th>
                  <th class="col-3">Hash</th>
                  <th class="col-4">Amount</th>
                  <th class="col-5">Description</th>
              </tr>
          </thead>
          <tbody>
              {{#each transactions}}
              <tr>
                  <td class="col-1">
                    {{#if Type == 'Custom'}}
                      <i class="fas fa-file-signature" style="margin-left: 0.5em;font-size: 1.2em;margin-top: .2em;"><span style="display:none;">{{Type}}</span></i>
                    {{#else}}
                      {{#if Type == address}}
                      <i class="fas fa-sign-out-alt" style="margin-left: 0.5em;font-size: 1.2em;margin-top: .2em;"><span style="display:none;">{{Type}}</i>
                      {{#else}}
                      <i class="fas fa-sign-in-alt" style="margin-left: 0.5em;font-size: 1.2em;margin-top: .2em;"><span style="display:none;">{{Type}}</i>
                      {{/if}}
                    {{/if}}
                  </td>
                  <td class="col-2">{{#date Date}}</td>
                  <td class="col-3"><small><a href="http://localhost:7072/tx/{{Hash}}" target="_blank" title="View Transaction">{{Hash}}</a></small></td>
                  <td class="col-4">{{Amount}}</td>
                  <td class="col-5">{{Description}}</td>
              </tr>
              {{/each}}
          </tbody>
      </table>
  </div>
</div>

{{#else}}
<div class="alert alert-info" role="alert">
    This address is still new and does not have any transaction yet.
</div>
{{/if}}

<script>

  $(document).ready(function() {

    initTables()

  });

  function initTables() {
      if (!$.fn.dataTable.isDataTable('#mainhistorytable')) {
          setTimeout(function() {
              jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                  "currency-pre": function(a) {
                      a = (a === "-") ? 0 : a.replace(/[^\d\-\.]/g, "");
                      return parseFloat(a)
                  },
                  "currency-asc": function(a, b) {
                      return a - b
                  },
                  "currency-desc": function(a, b) {
                      return b - a
                  }
              });
              $('#mainhistorytable').DataTable({
                  "language": {
                      "decimal": ".",
                      "thousands": ",",
                      search: "<i class='fas fa-search'></i>",
                      searchPlaceholder: "Transaction",
                      zeroRecords: "No matching transaction found"
                  },
                  "bPaginate": !0,
                  "pageLength": 10,
                  "aaSorting": [],
                  //"aaSorting": false,
                  //"ordering": false,
                  "order": [1, "desc"],
                  "columnDefs": [{
                      type: 'currency',
                      targets: [3]
                  }, {
                    searchable: false,
                    targets: [0]
                  }],
                  "initComplete": function() {
                      $(this).show()
                  }
              })
          }, 100)
      }
  }

</script>