<h3 class="tab-title" id="main-nft-tab">NFT Sales</h3>

<div class="row setup-content nft" id="nft">
  <div id="sendSpinner" class="loading">Loading&#8230;</div>
    <div class="col-xs-12">
        <div class="col-md-12">

            <div style="text-align:center;" id="main-logo">
              <img src="img/22series-logo-dark.png" alt="" style="width: 20em;">
            </div>
            <div class="col-md-6 center">
              <div style="margin-top:-5em;width: 225%;margin-left: -65% !important;" class="container-clock">
                <h3 id="countdown-title"></h3>
                <div class="custom-clock"></div>
              </div>
            </div>
            <div class="col-md-6 center container-prize" style="margin-top:-5em;">
              <h3>Prize Pool<i class="tooltip fas fa-info-circle" style="margin-left:1em;width:1em;" title="10% of all sales goes towards the prize pool of the first 22 Series championship!"></i></h3>
              <div class="prizepool" id="prizepool">$XXX,XXX USD</div>
              <div class="referral-nft">If you refer someone, you both get 11% of their purchase!<i class="tooltip fas fa-info-circle" style="margin-left:1em;width:1em;" data-tooltip-content="#tooltip_referral"></i></div>
            </div>
            <div class="col-md-12 center nft-cat-headers">
              <div id="current-balances">
                <div id="current-balance-desc" style="display:inline-block;margin-right:1em;">Available</div>
                <div id="current-balance-soul" style="display:inline-block;"><img src="img/soul_logo.png" alt="SOUL" title="Available Balance" style="margin-right:1em;width:2.5em;">XXX SOUL</div>
                <div id="current-balance-goati" style="display:inline-block;margin-left:1em;"><img src="img/goati_logo.png" alt="GOATI" title="Available Balance" style="margin-right:1em;width:2.5em;">XXX GOATI</div>
              </div>
              <div id="nft-category" style="margin: -1em auto 1em;padding:.5em;padding-left: 4em;padding-right: 4em;">
                <div class="category" id="game-access" onclick="filterCategory(this.id)">Game Access</div>
                <div class="category" id="vehicle-parts" onclick="filterCategory(this.id)">Vehicle Parts</div>
                <div class="category" id="vehicles" onclick="filterCategory(this.id)">Vehicles</div>
                <div class="category-currency" style="font-size: 1.25em;justify-content: center;border: 0;white-space:nowrap;">
                  <div style="margin-top:.95em;display:inline-block;vertical-align:top;">
                    <input class="tgl tgl-flat" id="cb5" type="checkbox" onclick="toggleCurrency()" checked>
                    <label class="tgl-btn" style="margin: 0 auto;" for="cb5"></label>
                  </div>
                  <span style="margin:1em .5em;display:inline-block;color:#FFBF32;" id="symbol-currency">SOUL (XX% DISCOUNT)</span>
                </div>
              </div>
              <div style="font-size:1.15em;"><input id="cosmicaddfee" type="checkbox" checked><span style="font-size:1em;">Enter the bi-monthly lottery to win a custom NFT vehicle for 5 SOUL!</span><span id="lottery-odds"></span><i class="tooltip fas fa-info-circle" style="width:1em;margin-left:1em;" data-tooltip-content="#tooltip_lottery"></i></div>
              <div id="loader-nftlist" class="block-loader center">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <div id="nftdetailslist-game" style="margin:1em;">
              </div>
              <div id="nftdetailslist-parts" style="margin:1em;">
              </div>
              <div id="nftdetailslist-vehicles" style="margin:1em;">
              </div>
            </div>

        </div>
    </div>
</div>
<div id="no-nft" style="display:none;">
    <h3>No sales available currently</h3>
</div>

<div class="tooltip_templates">
    <span id="tooltip_referral">
        Simply give them your public Phantasma address which they'll have to input before buying NFTs.<br><br>Rewards paid out in GOATi tokens, valued at $0.10.<br><br>Example: you refer someone who buys an item worth 500 GOATi, you both get 11% in GOATi (55 GOATi), which you can use to buy other NFTs.
    </span>
</div>
<div class="tooltip_templates">
    <span id="tooltip_winner">
        Your wallet is currently one of the top bids.<br>If no one outbids you, you will get this NFT once the counter ends.
    </span>
</div>
<div class="tooltip_templates">
    <span id="tooltip_lottery">
    </span>
</div>
<div class="tooltip_templates">
    <div id="tooltip_"></div>
    <div id="tooltip_a"></div>
    <div id="tooltip_b"></div>
</div>

<script>

$(document).ready(function() {

  $('#sendSpinner').hide();

  storeURL = 'http://www.22series.com/api/store/info';
  currencySelected = 'SOUL';

  // if session storage exist, get it, else set it
  if (!localStorage.getItem('nft-category-filter')) {
    localStorage.setItem('nft-category-filter', 'game-access');
  }
  categorySelected = localStorage.getItem('nft-category-filter');

  // Hide all on page init
  $("#loader-nftlist").show();

  initStore();

  loadedKCALbalance = 0;
  loadedSOULbalance = 0;
  loadedGOATIbalance = 0;
  {{#each holdings}}
    if ('{{Symbol}}' == 'KCAL') {
      loadedKCALbalance = '{{Amount}}';
    }
    if ('{{Symbol}}' == 'SOUL') {
      loadedSOULbalance = '{{Amount}}';
      document.getElementById("current-balance-soul").innerHTML = '<img src="img/soul_logo.png" alt="SOUL" title="Available Balance" style="margin-right:1em;width:2.5em;">' + numberWithCommas(loadedSOULbalance) + ' SOUL';
    }
    if ('{{Symbol}}' == 'GOATI') {
      loadedGOATIbalance = '{{Amount}}';
      document.getElementById("current-balance-goati").innerHTML = '<img src="img/goati_logo.png" alt="GOATI" title="Available Balance" style="margin-right:1em;width:2.5em;">' + numberWithCommas(loadedGOATIbalance) + ' GOATI';
    }
  {{/each}}
  if (loadedSOULbalance == 0) {
      document.getElementById("current-balance-soul").innerHTML = '<img src="img/soul_logo.png" alt="SOUL" title="Available Balance" style="margin-right:1em;width:2.5em;">N/A';
  }
  if (loadedGOATIbalance == 0) {
      document.getElementById("current-balance-goati").innerHTML = '<img src="img/goati_logo.png" alt="GOATI" title="Available Balance" style="margin-right:1em;width:2.5em;">N/A';
  }


  $.get('https://neoeconomy.io/json/lotteryphantom.json',

    function (data) {

      ticketsEntries = data.filter(function (el) {
        return el.address == '{{address}}';
      });

      //const unique = [...new Set(data.map(item => item.address))];
      //console.log(unique)

      // init lottery tooltip
      var d = new Date();
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      if (d.getDate() <= 15) {
        beginningPeriodDay = 01;
        endPeriodDay = 15;
        beginningPeriodMonth = months[d.getMonth()];
        endPeriodMonth = months[d.getMonth()];
      } else {
        beginningPeriodDay = 15;
        endPeriodDay = 01;
        beginningPeriodMonth = months[d.getMonth()];
        endPeriodMonth = months[d.getMonth() + 1]
      }
      beginningPeriod = beginningPeriodMonth + ' ' + beginningPeriodDay ;
      endPeriod = endPeriodMonth + ' ' + endPeriodDay ;
      document.getElementById("tooltip_lottery").innerHTML = 'When the box is ticked, for each purchase/auction bid, you will also be sending a 5 SOUL payment<br>for an entry to a bi-monthly lottery, where you can win a unique limited edition NFT vehicle.<br><br>Each draw will consist of one unique winner, randomly picked out of all transactions received<br>during the period. Sending multiple entries will increase your odds of winning.'
          + '<br><br>You currently have <strong>' + numberWithCommas(ticketsEntries.length) + ' tickets</strong> out of <strong>' + numberWithCommas(data.length) + ' total tickets</strong> (' + ((ticketsEntries.length/data.length)*100).toFixed(2) + '% chance).<br>Lottery tickets count updated twice per day.<br><br>Current lottery period <strong>(' + beginningPeriod + ' to ' + endPeriod + ')'
          + '<br><br><a href="https://www.22series.com/part_info?id=16777229" target="_blank">NEO Economy Car</a></strong><img src="https://neoeconomy.io/assets/img/lotterycar.png" style="margin-left:5em;width:20em;"><div>'

      if (ticketsEntries.length > 0) {
          document.getElementById("lottery-odds").innerHTML = 'Your current odds: ' + ((ticketsEntries.length/data.length)*100).toFixed(2) + '%'
      }

      // init tooltipster i
      $('i.tooltip').tooltipster({
        theme: 'tooltipster-noir',
        contentCloning: true,
        interactive: true,
        side: 'right'
      });


    }
  )


  hasredeemPack = 0;

  arrayNFT = '';
  arrayNFTFormatted = '';
  arrayNFTlength = 0;
  {{#each chainTokens}}
      {{#each Ids}}
      arrayNFTlength++
      {{/each}}
  {{/each}}
  for (i = 0; i < (arrayNFTlength/100); i++) {
    idList = 0;
    window['arrayNFT' + i] = '';
    {{#each chainTokens}}
        {{#each Ids}}
        idList++
        if (idList/100 >= i && idList/100 < (i+1)) {
            window['arrayNFT' + i] += '{{this}}' + ',';
        }
        {{/each}}
    {{/each}}
    window['arrayNFTFormatted' + i] = (window['arrayNFT' + i]).substring(0, (window['arrayNFT' + i]).length - 1)
  }

  getRedeemPack()

  var clicks = 0;
  var timer, timeout = 300;
  var now = new Date();
  multiClick = function(e) {
    $.get(storeURL,

      function (data) {
            getNFTDetails()
            setInterval(function() {
              getNFTDetails()
              getRedeemPack()
            }, 60000);
            var diff = (JSON.parse(data).end_timestamp) - (now.getTime()/1000);
            document.getElementById("countdown-title").innerHTML = 'Sale ending in';
            var clock = $('.custom-clock').FlipClock(diff,{
              clockFace: 'DailyCounter',
              countdown: true
            });
            if (document.getElementById("cb5").checked == 1)
            {
              document.getElementById("symbol-currency").innerHTML = 'SOUL (' + Math.ceil((1-((JSON.parse(data).soul_usd_value_market)/(JSON.parse(data).soul_usd_value_store)))*100) + '% DISCOUNT)';
            }
            getRedeemPack()
            $("#nft").show();
            $("#no-nft").hide();

      }).then(function() {

      })
  }

  // multi click timer
  document.getElementById("main-nft-tab").addEventListener('click', function(e) {
    clearTimeout(timer);
    clicks++;
    var evt = e;
    timer = setTimeout(function() {
      if(clicks==5) multiClick(evt);
      clicks = 0;
    }, timeout);
  });

  // Trigger next button on press enter
  var input = document.getElementById("referral-input");
  input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("buy-confirm").click();
      }
  });

  // Trigger next button on press enter
  var input = document.getElementById("referral-input-auction");
  input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("auction-confirm").click();
      }
  });

});

// function redeem pack
function getRedeemPack() {

  redeemcustomNFT = [];

  if (arrayNFTlength > 0) {

    var arrayNFTFormattedResultTotal = [];
    for (i = 0; i < (arrayNFTlength/100); i++) {
        arrayNFTFormattedResultTotal.push(getNFTIds(window['arrayNFTFormatted' + i]));
    }
    Promise.all(arrayNFTFormattedResultTotal)
    .then(data => {

      console.log(data)

      dataNFT = data.reduce(function(result, current) {
        return Object.assign(result, current);
      }, {});

      fetchRedeemDropdown = '<select style="margin-left:.5em;margin-right:.5em;" id="pack-redeem-count">';
      Object.keys(dataNFT).forEach(key => {
        if (dataNFT[key].item_info) {
          if (dataNFT[key].item_info.name_english == 'Pre-season pack') {
            redeemcustomNFT.push ({
                id: key
            });
            hasredeemPack = 1;
          }
        }
      });
      for (i = 0; i < redeemcustomNFT.length; i ++) {
        fetchRedeemDropdown += '<option value="' + [i+1]+ '">' + [i+1]
          //if (i == 9) {
          if (i == 4) {
            break;
          }
      }
      fetchRedeemDropdown += '</select>'

      if (redeemcustomNFT.length != 0) {
        document.getElementById("redeem-pack").innerHTML = redeemcustomNFT.length + ' packs available. Click here to redeem!'
        $('#redeem-pack-container').show();
      } else {
        document.getElementById("redeem-pack").innerHTML = 'No pack available to redeem.'
        $('#redeem-pack-container').show();
      }

    })

    async function getNFTIds(arrayids) {

      let myPromise = new Promise((resolve, reject) => {

      $.ajax({
          xhrFields: {
              withCredentials: !1
          },
          cache: !1,
          crossDomain: !0,
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify({ids: arrayids}),
          url: 'https://www.22series.com/api/store/nft',
          success: function(returnedDataTX) {
            var dataNFT = returnedDataTX;
            resolve(dataNFT);
          }
        })

      });

      let dataNFTdetail = await myPromise;
      return dataNFTdetail;

    }

  }

}

// function toggle currency
function toggleCurrency() {

  if(document.getElementById("symbol-currency").innerHTML == 'GOATI')
  {
    currencySelected = 'SOUL';
    document.getElementById("symbol-currency").innerHTML = discountSoul;
  }
  else
  {
    document.getElementById("symbol-currency").innerHTML = 'GOATI';
    currencySelected = 'GOATI';
  }

  getNFTDetails()
  getRedeemPack()

}

// On click categories
function filterCategory(category) {

  var cat1 = document.getElementById("game-access");
  var cat2 = document.getElementById("vehicle-parts");
  var cat3 = document.getElementById("vehicles");
  if (category == 'game-access') {
    cat1.classList.add("category-current");
    cat2.classList.remove("category-current");
    cat3.classList.remove("category-current");
    $("#nftdetailslist-game").show();
    $("#nftdetailslist-parts").hide();
    $("#nftdetailslist-vehicles").hide();
    localStorage.setItem('nft-category-filter', 'game-access');
    document.getElementById('cb5').removeAttribute("disabled", "true");
  } else if (category == 'vehicle-parts') {
    cat1.classList.remove("category-current");
    cat2.classList.add("category-current");
    cat3.classList.remove("category-current");
    $("#nftdetailslist-game").hide();
    $("#nftdetailslist-parts").show();
    $("#nftdetailslist-vehicles").hide();
    localStorage.setItem('nft-category-filter', 'vehicle-parts');
    document.getElementById('cb5').removeAttribute("disabled", "true");
  } else if (category == 'vehicles') {
    cat1.classList.remove("category-current");
    cat2.classList.remove("category-current");
    cat3.classList.add("category-current");
    $("#nftdetailslist-game").hide();
    $("#nftdetailslist-parts").hide();
    $("#nftdetailslist-vehicles").show();
    localStorage.setItem('nft-category-filter', 'vehicles');
    document.getElementById('cb5').setAttribute("disabled", "true");
    if (document.getElementById("cb5").checked == 0)
    {
      currencySelected = 'SOUL';
      document.getElementById("symbol-currency").innerHTML = discountSoul;
      document.getElementById("cb5").checked = true;
    }
  }
  categorySelected = category;

}

// function redeem pack
function redeemPack() {

  if (hasredeemPack == 0) {
      bootbox.alert('You do not have any pre-season pack to redeem!');
      return;
  }

  if (parseFloat(loadedKCALbalance) < 0.1 && parseFloat(loadedKCALbalance) > 0) {
      bootbox.alert("Not enough KCAL available. You need at least 0.1 KCAL to perform a transaction!");
      return;
  }

  payloadFormatted = JSON.stringify({})
  nftPacks = [];
  $('#sendSpinner').show();

  contentBootbox = 'You are going to redeem <strong>' + fetchRedeemDropdown + '</strong> pre-season pack(s).<br><br>For each NFT pre-season pack selected, the NFT will be burned and you will instantly get <strong>5</strong> random NFT vehicle parts per pack burned.<br>Each pack burned also gives you a chance to discover a limited edition vehicle NFT.'

  dialog = bootbox.confirm({
      title: "NFT pre-season pack redeem",
      message: contentBootbox,
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Redeem pre-season pack'
          }
      },
      callback: function(result) {

        if (result) {

          var e = document.getElementById("pack-redeem-count");
          countPack = e.options[e.selectedIndex].value;
          redeemcustomNFT.length = countPack;

          $.post('/redeemnft',
              {
                  token: 'TTRS', id: JSON.stringify(redeemcustomNFT), dest: addressActionPack, chain: "main" , destChain: "main"
              },
              function (returnedData) {
                if (returnedData !== "") {
                    //$('#sendSpinner').hide();
                    window.location.replace("/waiting/" + returnedData);
                } else {
                    //$('#sendSpinner').hide();
                    window.location.replace("/error");
                }
                console.log(returnedData);
              }).fail(function() {
              $('#sendSpinner').hide();
              console.log("error nft");
          });

        } else {
          $('#sendSpinner').hide();
        }

      }
    })

}

// init store data
function initStore() {

  var now = new Date();

  $.get(storeURL,

    function (data) {

      if (1581638400 - (now.getTime()/1000) > 0) {

        $("#nft").hide();
        $("#no-nft").show();

      } else {

        if (now.getTime() <= ((JSON.parse(data).end_timestamp) * 1000)) {
          // init page on load
          getNFTDetails()

          // init refresh every 5 minutes
          setInterval(function() {
            getNFTDetails()
            getRedeemPack()
          }, 3000000);

          // init counter
          var diff = (JSON.parse(data).end_timestamp) - (now.getTime()/1000);
          document.getElementById("countdown-title").innerHTML = 'Sale ending in';
          var clock = $('.custom-clock').FlipClock(diff,{
            clockFace: 'DailyCounter',
            countdown: true
          });

          // init store discount
          if (document.getElementById("cb5").checked == 1)
          {
            document.getElementById("symbol-currency").innerHTML = 'SOUL (' + Math.ceil((1-((JSON.parse(data).soul_usd_value_market)/(JSON.parse(data).soul_usd_value_store)))*100) + '% DISCOUNT)';
          }

          $("#nft").show();
          $("#no-nft").hide();

        } else {
          $("#nft").hide();
          $("#no-nft").show();
        }

      }

    }).fail(function() {
      $("#nft").hide();
      $("#no-nft").show();
    })

}

// Get NFT details
function getNFTDetails() {

  addressNFT = '';
  addressAuctionNFT = '';
  datastore = '';

  $.get(storeURL,

    function (data) {
      addressNFT = JSON.parse(data).address
      addressActionPack = JSON.parse(data).actions[0].address
      datastore = JSON.parse(data);
      if (JSON.parse(data).prize_pool_usd_formatted != undefined) {
        responseprizebal = JSON.parse(data).prize_pool_usd_formatted;
        responseprizebalformatted = '$' + numberWithCommas(responseprizebal) + ' USD';
        document.getElementById("prizepool").innerHTML = responseprizebalformatted;
      }
      // init store discount
      discountSoul = 'SOUL (' + Math.ceil((1-((JSON.parse(data).soul_usd_value_market)/(JSON.parse(data).soul_usd_value_store)))*100) + '% DISCOUNT)';
      if (document.getElementById("cb5").checked == 1)
      {
        document.getElementById("symbol-currency").innerHTML = discountSoul
      }
  }).then(function() {

    $("#nftdetailslist-game").hide();
    $("#nftdetailslist-parts").hide();
    $("#nftdetailslist-vehicles").hide();

    fetchValuesNFTGame = '';
    fetchValuesNFTParts = '';
    fetchValuesNFTVehicles = '';
    counterAuctions = 0;

    var detailsNFTGamelength = (datastore.inventory).length;

    // Start building the tooltip first
    for (i = 0; i < detailsNFTGamelength; i += 1) {
      document.getElementById("tooltip_").innerHTML += '<span id="tooltip_' + i + '"></span>';
    }

    // Start building the NFT details divs
    for (i = 0; i < detailsNFTGamelength; i += 1) {
      if (((datastore.inventory)[i].item_info.name_english) == 'Pit Pass' || ((datastore.inventory)[i].item_info.name_english) == 'NFT Pre Season Game Pack') {

      amountFormatted = (datastore.inventory)[i].value_soul_formatted;
      if (currencySelected == 'GOATI') {
        amountFormatted = (datastore.inventory)[i].value_goati_formatted;
      }

      if ((datastore.inventory)[i].max_supply == 0) {
        maxSupply = 'UNLIMITED';
      } else {
        maxSupply = numberWithCommas((datastore.inventory)[i].max_supply);
      }

      document.getElementById("tooltip_" + [i]).innerHTML = (datastore.inventory)[i].item_info.description_english;

        fetchValuesNFTGame += '<div class="nft-class">'
                          + '<div class="nft-image" onclick="confirmSale(\'' + (datastore.inventory)[i].item_info.name_english + '\',\'' + amountFormatted + '\',\'' + (datastore.inventory)[i].item + '\')">'
                            + '<button class="nft-order circulating">' + numberWithCommas((datastore.inventory)[i].supply) + ' BOUGHT</button>'
                            + '<button class="nft-order supply">' + maxSupply + '</button>'
                            + '<img src="' + (datastore.inventory)[i].item_info.image_url + '?width=1200" onerror="this.onerror=null;this.src=\'/img/nft_notfound.png\'" alt="" style="height:20em;">'
                            + '<div class="nft-desc" style="height:8em;">'
                              + '<h3>' + (datastore.inventory)[i].item_info.name_english + '</h3>'
                                + '<div style="text:align:center;">'
                                  + '<button class="nft-order price" style="font-size:1.3em;" >BUY FOR ' + numberWithCommas(amountFormatted) + ' ' + currencySelected + '</button>'
                                  + '<button class="tooltip nft-order info" style="font-size:1.3em;" data-tooltip-content="#tooltip_' + [i] + '"><i class="fas fa-info" style="width:1em;"></i></button>'
                                + '</div>'
                            + '</div>'
                          + '</div>'
                        + '</div>'

        }
    }

    var detailsNFTPartslength = (datastore.inventory).length;
    // Start building the NFT details divs
    for (i = 0; i < detailsNFTPartslength; i += 1) {
      if (((datastore.inventory)[i].item_info.name_english) !== 'Pit Pass' && ((datastore.inventory)[i].item_info.name_english) !== 'NFT Pre Season Game Pack') {

      amountFormatted = (datastore.inventory)[i].value_soul_formatted;
      if (currencySelected == 'GOATI') {
        amountFormatted = (datastore.inventory)[i].value_goati_formatted;
      }

      if ((datastore.inventory)[i].max_supply == 0) {
        maxSupply = 'UNLIMITED';
      } else {
        maxSupply = numberWithCommas((datastore.inventory)[i].max_supply);
      }

      document.getElementById("tooltip_" + [i]).innerHTML = (datastore.inventory)[i].item_info.description_english;

        fetchValuesNFTParts += '<div class="nft-class">'
                          + '<div class="nft-image" onclick="confirmSale(\'' + (datastore.inventory)[i].item_info.name_english + '\',\'' + amountFormatted + '\',\'' + (datastore.inventory)[i].item + '\')">'
                            + '<button class="nft-order circulating">' + numberWithCommas((datastore.inventory)[i].supply) + ' BOUGHT</button>'
                            + '<button class="nft-order supply">' + maxSupply + '</button>'
                            + '<img src="' + (datastore.inventory)[i].item_info.image_url + '?width=1200" onerror="this.onerror=null;this.src=\'/img/nft_notfound.png\'" alt="" style="height:20em;">'
                            + '<div class="nft-desc" style="height:8em;">'
                              + '<h3>' + (datastore.inventory)[i].item_info.name_english + '</h3>'
                                + '<div style="text:align:center;">'
                                  + '<button class="nft-order price" style="font-size:1.3em;" >BUY FOR ' + numberWithCommas(amountFormatted) + ' ' + currencySelected + '</button>'
                                  + '<button class="tooltip nft-order info" style="font-size:1.3em;" data-tooltip-content="#tooltip_' + [i] + '"><i class="fas fa-info" style="width:1em;"></i></button>'
                                + '</div>'
                            + '</div>'
                          + '</div>'
                        + '</div>'

        }
    }

    fetchValuesNFTParts += '<div id="redeem-pack-container" style="display:none;">Already bought pre-season pack(s)?<br><a onclick=redeemPack() title="Redeem pre-season pack" id="redeem-pack"></a></div>'

    datastoreAuction = datastore.auctions
    datastoreAuction.sort((a,b) => (a.start_time > b.start_time) ? 1 : ((b.start_time > a.start_time) ? -1 : 0));

    var detailsNFTVehicleslength = (datastoreAuction).length;

    // Start building the tooltip first
    for (i = 0; i < detailsNFTVehicleslength; i += 1) {
      document.getElementById("tooltip_a").innerHTML += '<span id="tooltip_a' + i + '"></span>';
      document.getElementById("tooltip_b").innerHTML += '<span id="tooltip_b' + i + '"></span>';
    }

    // Start building the NFT details divs
    for (i = 0; i < detailsNFTVehicleslength; i += 1) {

      var timeuntil = (((datastoreAuction)[i].start_time)*1000) - (new Date()).getTime();
      var timeleft = (((datastoreAuction)[i].end_time)*1000) - (new Date()).getTime();
      if (((((timeuntil / 1000) / 60) / 60) < 1) && ((((timeuntil / 1000) / 60) / 60) > 0)) {
        var hoursuntil = 'STARTS IN ' + numberWithCommas(Math.ceil((((timeuntil / 1000) / 60)))) + ' MINUTES';
      } else {
        if ((((timeuntil / 1000) / 60) / 60) > 96) {
          var hoursuntil = 'STARTS IN ' + numberWithCommas(Math.ceil((((timeuntil / 1000) / 60) / 60 / 24))) + ' DAYS';
        } else {
          var hoursuntil = 'STARTS IN ' + numberWithCommas(Math.ceil((((timeuntil / 1000) / 60) / 60))) + ' HOURS';
        }
      }
      if (((((timeleft / 1000) / 60) / 60) < 1) && ((((timeleft / 1000) / 60) / 60) > 0)) {
        var hoursleft = 'ENDS IN ' + numberWithCommas(Math.ceil((((timeleft / 1000) / 60)))) + ' MINUTES';
      } else {
        if ((((timeleft / 1000) / 60) / 60) > 96) {
          var hoursleft = 'ENDS IN ' + numberWithCommas(Math.ceil((((timeleft / 1000) / 60) / 60 / 24))) + ' DAYS';
        } else {
          var hoursleft = 'ENDS IN ' + numberWithCommas(Math.ceil((((timeleft / 1000) / 60) / 60))) + ' HOURS';
        }
      }
      winnerBid1 = '';
      winnerBid2 = '';
      winnerBid3 = '';

        if (timeuntil >= 0) {
          hours = hoursuntil
        } else {
          hours = hoursleft
        }

        if (counterAuctions == 2 || counterAuctions == 5 || counterAuctions == 8 || counterAuctions == 11 || counterAuctions == 14 || counterAuctions == 17 || counterAuctions == 20 || counterAuctions == 23 || counterAuctions == 26) {
          customlinebreak = '<br>';
        } else {
          customlinebreak = '';
        }

        var bidsLength = ((datastoreAuction)[i].bids).length;
        var maxWinners = (datastoreAuction)[i].capacity;

        if ((datastoreAuction)[i].bids[0]) {

          if (bidsLength >= ((datastoreAuction)[i].capacity)) {
            currentLowestBid = (datastoreAuction)[i].bids[maxWinners-1].value_soul_formatted
          } else if (bidsLength < ((datastoreAuction)[i].capacity)) {
            currentLowestBid = 1000;
          }

        } else {
          currentLowestBid = 1000;
        }

        addressAuctionNFT = (datastoreAuction)[i].address

        document.getElementById("tooltip_a" + [i]).innerHTML = (datastoreAuction)[i].item_info.description_english;

        if (timeleft < 0) {

          //console.log(outside of sale timeframe)

        } else if (timeuntil > 0) {

          //console.log(sale timeframe planned but not started)

          counterAuctions++;

          fetchValuesNFTVehicles += '<div class="nft-class">'
                            + '<div class="nft-image" style="width:115%;" onclick="confirmAuctionNotStarted(\'' + timeuntil + '\')">'
                              + '<button class="nft-order circulating" style="border-color:#d3e717">' + hours + '</button>'
                              + '<button class="nft-order supply">' + numberWithCommas((datastoreAuction)[i].capacity) + ' AVAILABLE</button>'
                              + '<img src="' + (datastoreAuction)[i].item_info.image_url + '?width=512" onerror="this.onerror=null;this.src=\'/img/nft_notfound.png\'" alt="" style="height:12em;padding-top:3em;">'
                              + '<div class="nft-desc">'
                                + '<h3>' + (datastoreAuction)[i].name + '</h3>'
                                  + '<div style="text-align:center;">'
                                    + '<button class="nft-order price" >STARTING BID 1,000 SOUL</button>'
                                    + '<button class="nft-order price" >0 TOTAL BIDS</button>'
                                    + '<button class="tooltip nft-order info" data-tooltip-content="#tooltip_a' + [i] + '"><i class="fas fa-info" style="width:1em;"></i></button>'
                                  + '</div>'
                              + '</div>'
                            + '</div>'
                          + '</div>'
                          + customlinebreak;

        } else if (timeleft > 0) {

          //console.log(sale timeframe started but not ended)

          var bidsLength = ((datastoreAuction)[i].bids).length;
          var currentWinner = 0;
          datastoreAuctionBid = ''

          for (k = 0; k < ((datastoreAuction)[i].capacity); k++) {

            if ((datastoreAuction)[i].bids[k]) {
              if (('{{address}}' == (datastoreAuction)[i].bids[k].from) || ('{{name}}' == (datastoreAuction)[i].bids[k].from)) {
                currentWinner = 1
              }
            }
            datastoreAuctionBid = (datastoreAuction)[i].bids
            //datastoreAuctionBid.sort((a,b) => (a.value_soul_formatted > b.value_soul_formatted) ? 1 : ((b.value_soul_formatted > a.value_soul_formatted) ? -1 : 0));
            if (bidsLength >= ((datastoreAuction)[i].capacity)) {
              tooltipWinners = document.getElementById("tooltip_b" + [i]).innerHTML = (datastoreAuction)[i].item_info.description_english + '<br><br>'
              tooltipWinners += 'Current winning bids<br>'
              for (l = 0; l < ((datastoreAuction)[i].capacity); l++) {
                  tooltipWinners +=  '#' + [l+1] + ' - ' + numberWithCommas(datastoreAuctionBid[l].value_soul_formatted) + ' SOUL • ' + datastoreAuctionBid[l].from + '<br>'
              }
              document.getElementById("tooltip_b" + [i]).innerHTML = tooltipWinners;
            } else if (bidsLength > 0) {
              tooltipWinners = document.getElementById("tooltip_b" + [i]).innerHTML = (datastoreAuction)[i].item_info.description_english + '<br><br>'
              tooltipWinners += 'Current winning bids<br>'
              for (l = 0; l < bidsLength; l++) {
                  tooltipWinners +=  '#' + [l+1] + ' - ' + numberWithCommas(datastoreAuctionBid[l].value_soul_formatted) + ' SOUL • ' + datastoreAuctionBid[l].from + '<br>'
              }
              document.getElementById("tooltip_b" + [i]).innerHTML = tooltipWinners;
            } else {
              document.getElementById("tooltip_b" + [i]).innerHTML = (datastoreAuction)[i].item_info.description_english;
            }

          }

          if (currentWinner == 0) {
            bidTypeWinner = ''
          } else {
            bidTypeWinner = '<button class="tooltip nft-order info winner" data-tooltip-content="#tooltip_winner"><i class="fas fa-trophy" style="width:1em;"></i></button>'
          }

          counterAuctions++;

          fetchValuesNFTVehicles += '<div class="nft-class">'
                              + '<div class="nft-image" style="width:115%;" onclick="confirmAuction(\'' + (datastoreAuction)[i].name + '\',\'' + (parseFloat(currentLowestBid)) + '\',\'' + (numberWithCommas((datastoreAuction)[i].capacity)) + '\',\'' + addressAuctionNFT + '\',\'' + ((datastoreAuction)[i].item) + '\')">'
                              + '<button class="nft-order circulating">' + hours + '</button>'
                              + '<button class="nft-order supply">' + numberWithCommas((datastoreAuction)[i].capacity) + ' AVAILABLE</button>'
                              + '<img src="' + (datastoreAuction)[i].item_info.image_url + '?width=512" onerror="this.onerror=null;this.src=\'/img/nft_notfound.png\'" alt="" style="height:12em;padding-top:3em;">'
                              + '<div class="nft-desc">'
                                + '<h3 style="display:inline-block;">' + (datastoreAuction)[i].name + '</h3>'
                                + bidTypeWinner
                                  + '<div style="text-align:center;">'
                                    + '<button class="nft-order price" >CURRENT BID ' + numberWithCommas(parseFloat(currentLowestBid)) + ' SOUL</button>'
                                    + '<button class="nft-order price" >' + numberWithCommas((datastoreAuction)[i].total_bids) + ' TOTAL BIDS</button>'
                                    + '<button class="tooltip nft-order info" data-tooltip-content="#tooltip_b' + [i] + '"><i class="fas fa-info" style="width:1em;"></i></button>'
                                  + '</div>'
                              + '</div>'
                            + '</div>'
                          + '</div>'
                          + customlinebreak;

        }

    }

    if (counterAuctions == 0) {
      fetchValuesNFTVehicles = '<div style="text-align:center;">No vehicle auctions available at the moment.<br>Check back later!</div>';
    }

    if ((datastore.inventory).length == 0) {
      document.getElementById("nftdetailslist-game").innerHTML = '<div style="margin:2em auto;">No NFTs available.</div>';
    } else {
      document.getElementById("nftdetailslist-game").innerHTML = fetchValuesNFTGame;
      document.getElementById("nftdetailslist-parts").innerHTML = fetchValuesNFTParts;
      document.getElementById("nftdetailslist-vehicles").innerHTML = fetchValuesNFTVehicles;
    }
    $("#loader-nftlist").hide();

    filterCategory(categorySelected)

    // init tooltipster button
    if ($('button.tooltip').tooltipster()) {
        $('button.tooltip').tooltipster('destroy');
    }

    $('button.tooltip').tooltipster({
      theme: 'tooltipster-noir',
      contentCloning: true,
      side: 'right'
    });

  }).fail(function(e) {
     console.log(e)
     $("#loader-nftlist").hide();
  })

}

// Confirm date auction
function confirmAuctionNotStarted(timeleft) {

  var selectfee = document.getElementById('cosmicaddfee').checked;

  if (((((timeleft / 1000) / 60) / 60) < 1) && ((((timeleft / 1000) / 60) / 60) > 0)) {
    bootbox.alert('Auction has not started yet.<br>You need to wait ' + numberWithCommas(Math.ceil((((timeleft / 1000) / 60)))) + ' more minutes to bid on this NFT!');
  } else {
    bootbox.alert('Auction has not started yet.<br>You need to wait ' + numberWithCommas(Math.ceil((((timeleft / 1000) / 60) / 60))) + ' more hours to bid on this NFT!');
  }
  return;

}

// Confirm auction
function confirmAuction(nameNFT, priceNFT, quantityNFT, addressAuctionNFT, payloadNFT) {

  var selectfee = document.getElementById('cosmicaddfee').checked;

  if (selectfee == true) {

    if (parseFloat(loadedSOULbalance) < (parseFloat(priceNFT) + 5)) {
          bootbox.alert('Not enough SOUL available. You need ' + numberWithCommas((parseFloat(priceNFT) + 5) - parseFloat(loadedSOULbalance)) + ' more SOUL to bid on this NFT!');
          return;
    }

  } else {

    if (parseFloat(loadedSOULbalance) < parseFloat(priceNFT)) {
          bootbox.alert('Not enough SOUL available. You need ' + numberWithCommas(parseFloat(priceNFT) - parseFloat(loadedSOULbalance)) + ' more SOUL to buy bid on NFT!');
          return;
    }

  }

  if (parseFloat(loadedKCALbalance) < 0.1 && parseFloat(loadedKCALbalance) > 0) {
        bootbox.alert("Not enough KCAL available. You need at least 0.1 KCAL to perform a transaction!");
        return;
  }

  $('#sendSpinner').show();
  if (selectfee == true) {
    feeDescText = '</strong>. You will also enter the bi-monthly lottery to win a limited edition NFT vehicle for <strong>5 SOUL</strong>!'
    customURL = '/sendrawtxcustomNFT'
    isDonation = true;
  } else {
    feeDescText = '</strong>.'
    customURL = '/sendrawtxNFT'
    isDonation = false;
  }

  if (priceNFT == 1000) {
    contentBootbox = 'How much SOUL do you want to bid for <strong>' + nameNFT + '</strong>? It needs to be at least <strong>1,000 SOUL' + feeDescText
        + '<br><input type="text" class="form-control" name="bidauction" id="bidauction"><br>'
        + 'If your bid falls below the <b>' + quantityNFT + ' highest bids</b> later, you will be refunded instantly.<br><br>'
        + "Someone referred you? Enter their Phantasma address below.<br>You will both get <strong>11% of the purchase back in GOATi (based on GOATi item price)</strong>.<br><br>"
        + '<input type="text" class="form-control" name="referral" id="referral-input-auction">';
  } else {
    contentBootbox = 'How much SOUL do you want to bid for <strong>' + nameNFT + '</strong>? It needs to be at least 100 more SOUL than the current lowest winning bid of <strong>' + numberWithCommas(parseFloat(priceNFT)) + ' SOUL' + feeDescText
        + '<br><input type="text" class="form-control" name="bidauction" id="bidauction"><br>'
        + 'If your bid falls below the <b>' + quantityNFT + ' highest bids</b> later, you will be refunded instantly.<br><br>'
        + "Someone referred you? Enter their Phantasma address below.<br>You will both get <strong>11% of the purchase back in GOATi (based on GOATi item price)</strong>.<br><br>"
        + '<input type="text" class="form-control" name="referral" id="referral-input-auction">';
  }

  dialog = bootbox.confirm({
      title: "NFT auction bid confirmation",
      message: contentBootbox,
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel',
              className:'btn btn-default'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Bid on NFT',
              className:'btn btn-primary auction-confirm'
          }
      },
      callback: function(result) {

        if (result) {

          results = {};
          results.fieldname1 = dialog[0].querySelector("[name=referral]").value;
          referredBy = results.fieldname1
          results.fieldname2 = dialog[0].querySelector("[name=bidauction]").value;
          bidAuction = results.fieldname2
          if (bidAuction < 1000) {
                bootbox.alert('Bid too low! You need to bid at least 1,000 ' + currencySelected);
                return;
          }
          if ((bidAuction < (parseFloat(priceNFT) + 100)) && priceNFT != 1000) {
                bootbox.alert('Bid too low! You need to bid at least ' + numberWithCommas(parseFloat(priceNFT) + 100) + ' ' + currencySelected);
                return;
          }
          var payloadFormatted = JSON.stringify({"item":parseFloat(payloadNFT)})

          if (referredBy != ''){
            payloadFormatted = JSON.stringify({"ref":referredBy, "item":parseFloat(payloadNFT)})
          }

          $.post(customURL,
              {
                  token: currencySelected, amount: parseFloat(bidAuction), dest: addressAuctionNFT, chain: 'main' , destChain: 'main', payload: payloadFormatted, donation: isDonation
              },
              function (returnedData) {
                  //setTimeout(function(){ $('#sendSpinner').hide(); }, 3000);
                  if (returnedData !== "") {
                      window.location.replace("/waiting/" + returnedData);
                  } else {
                      window.location.replace("/error");
                  }
                  console.log(returnedData);
              }).fail(function() {
              $('#sendSpinner').hide();
              console.log("error nft");
          });

        } else {
          $('#sendSpinner').hide();
        }


      }
    }).init(function() {
      $(".auction-confirm").attr('id', 'auction-confirm');
    })

}

// Confirm sale
function confirmSale(nameNFT, priceNFT, payloadNFT) {

  var d = new Date();
  var selectfee = document.getElementById('cosmicaddfee').checked;

  if (currencySelected == 'SOUL') {

    if (parseFloat(loadedSOULbalance) < parseFloat(priceNFT)) {
          bootbox.alert('Not enough SOUL available. You need ' + numberWithCommas(parseFloat(priceNFT) - parseFloat(loadedSOULbalance)) + ' more SOUL to buy this NFT!');
          return;
    }

  } else if (currencySelected == 'GOATI') {

    if (selectfee == true) {

      if (parseFloat(loadedSOULbalance) < 5) {

        bootbox.alert('Not enough SOUL available. You need 5 SOUL if you wish to participate in the lottery!');
        return;

      } else {

        if (parseFloat(loadedGOATIbalance) < parseFloat(priceNFT)) {
              bootbox.alert('Not enough GOATi available. You need ' + numberWithCommas(parseFloat(priceNFT) - parseFloat(loadedGOATIbalance)) + ' more GOATi to buy this NFT!');
              return;
        }

      }

    } else {

      if (parseFloat(loadedGOATIbalance) < parseFloat(priceNFT)) {
            bootbox.alert('Not enough GOATi available. You need ' + numberWithCommas(parseFloat(priceNFT) - parseFloat(loadedGOATIbalance)) + ' more GOATi to buy this NFT!');
            return;
      }

    }

  }

  if (parseFloat(loadedKCALbalance) < 0.1 && parseFloat(loadedKCALbalance) > 0) {
        bootbox.alert("Not enough KCAL available. You need at least 0.1 KCAL to perform a transaction!");
        return;
  }

  if (nameNFT == 'Pre-season pack') {
    //customAction = 'How many packs would you like to buy? <select id="pack-buy-quantity" style="margin-left:.5em;margin-right:.5em;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select> pack(s).<br><br>'
    customAction = 'How many packs would you like to buy? <select id="pack-buy-quantity" style="margin-left:.5em;margin-right:.5em;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select> pack(s).<br><br>'
  } else {
    customAction = ''
  }

  $('#sendSpinner').show();
  if (selectfee == true) {
    feeDescText = '</strong> and enter the bi-monthly lottery to win a limited edition NFT vehicle for <strong>5 SOUL</strong>!'
    customURL = '/sendrawtxcustomNFT'
    isDonation = true;
  } else {
    feeDescText = '</strong>.'
    customURL = '/sendrawtxNFT'
    isDonation = false;
  }

  contentBootbox = 'You are going to buy <strong>'
      + nameNFT
      + '</strong> for <strong>'
      + numberWithCommas(parseFloat(priceNFT))
      + " " + currencySelected + feeDescText + "</strong><br><br>"
      + customAction
      + " Someone referred you? Enter their Phantasma address below.<br>You will both get 11% of the purchase back in GOATi tokens (based on GOATi item price).<br><br>"
      + '<input type="text" class="form-control" name="referral" id="referral-input">';
  dialog = bootbox.confirm({
      title: "NFT buy confirmation",
      message: contentBootbox,
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel',
              className:'btn btn-default'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Buy NFT',
              className:'btn btn-primary buy-confirm'
          }
      },
      callback: function(result) {

        if (result) {

          if (document.getElementById("pack-buy-quantity")) {
            var e = document.getElementById("pack-buy-quantity");
            var pbQty = e.options[e.selectedIndex].value;
          } else {
            pbQty = 1;
          }

          results = {};
          results.fieldname1 = dialog[0].querySelector("[name=referral]").value;
          referredBy = results.fieldname1
          var payloadFormatted = JSON.stringify({"item":parseFloat(payloadNFT),"count":pbQty})
          if (referredBy != '' && referredBy.length != 52){
            payloadFormatted = JSON.stringify({"ref":referredBy, "item":parseFloat(payloadNFT),"count":parseFloat(pbQty)})
          }

          $.post(customURL,
              {
                  token: currencySelected, amount: pbQty*parseFloat(priceNFT), dest: addressNFT, chain: 'main' , destChain: 'main', payload: payloadFormatted, donation: isDonation
              },
              function (returnedData) {
                  //setTimeout(function(){ $('#sendSpinner').hide(); }, 3000);
                  if (returnedData !== "") {
                      window.location.replace("/waiting/" + returnedData);
                  } else {
                      window.location.replace("/error");
                  }
                  console.log(returnedData);
              }).fail(function() {
              $('#sendSpinner').hide();
              console.log("error nft");
          });

        } else {
            $('#sendSpinner').hide();
        }


      }
    }).init(function() {
      $(".buy-confirm").attr('id', 'buy-confirm');
    })

}

</script>
