<h3 class="tab-title">Portfolio</h3>
{{#if holdings}}
<div class="portfolio">
  <div id="sendSpinner" class="loading">Loading&#8230;</div>
  <div class="top-portfolio col-md-12">
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/kcal_logo.png" /><span>ENERGY</span><br><span id="unclaimed-kcal" class="top-portfolio-col-highlight">KCAL</span><br><span id="rewards-kcal" class="top-portfolio-col-small">KCAL / DAY</span></div>
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/phantasma_logo.png" /><span>STAKES</span><br><span id="stake-soul" class="top-portfolio-col-highlight">SOUL</span><br><span id="count-soulmasters" class="top-portfolio-col-small">SOULMASTER</span></div>
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/soulmasters_logo.png" /><span>SOULMASTERS</span><br><span><span id="count-soulmasters-total" class="top-portfolio-col-highlight">SOULMASTER</span></span><br><span><span id="rewards-soulmasters" class="top-portfolio-col-small">SOUL / MONTH / SM</span></span></div>
</div>
    <div class="wrapper-portfolio">
      <div><button type="button" id="claim-kcal" class="button" onclick="Claim()">CLAIM<BR>KCAL</button></div>
      <div><input id="manageinput" type="number" min="1" class="form-control center" placeholder="Amount" style="display:inline-block;width: 22%;display:inline-block;margin-right: 1em;"><button type="button" class="button" style="border-radius: 0;" onclick="Stake()">STAKE</button><button type="button" id="unstake-soul" class="button" style="border-radius: 0;margin-left: .1em;display:none;" onclick="Unstake()">UNSTAKE</button></div>
      <div><button type="button" id="claim-rewards" class="button"onclick="MasterClaim()">CLAIM<BR>REWARDS</button></div>
    </div>
    <div id="wrapper-portfolio-confirm" style="opacity:0;">
      Transaction
    </div>
  <div class="table-responsive col-md-12">
      <table class="table table-general" id="mainportfoliotable">
          <thead>
              <tr>
                  <th class="col-6">ASSET NAME</th>
                  <th class="col-6">CHAIN NAME</th>
                  <th class="col-3">ASSET QUANTITY</th>
                  <th class="col-3" id="currency-header">VALUE</th>
              </tr>
          </thead>
          <tbody>
              {{#each holdings}}
              <tr class="token-shadow">
                  {{#if Symbol == 'SOUL'}}
                  <td class="col-6"><img class="token-icon" src="img/{{Icon}}.png" />{{Name}} - <a href="{{explorer}}/token/{{Symbol}}" target="_blank" title="View Asset">{{Symbol}}</a></td>
                  {{#else}}
                    {{#if Symbol == 'KCAL'}}
                    <td class="col-6"><img class="token-icon" src="img/kcal_logo.png" />{{Name}} - <a href="{{explorer}}/token/{{Symbol}}" target="_blank" title="View Asset">{{Symbol}}</a></td>
                    {{#else}}
                    <td class="col-6"><img class="token-icon" src="img/soulmasters_logo.png" />{{Name}} - <a href="{{explorer}}/token/{{Symbol}}" target="_blank" title="View Asset">{{Symbol}}</a></td>
                    {{/if}}
                  {{/if}}
                  <td class="col-6">{{ChainName}}</td>
                  <td class="col-3" id="{{Symbol}}-amount">{{AmountFormated}}</td>
                  {{#if Symbol == 'SOUL'}}
                    <td class="col-3" id="{{Symbol}}-price">{{CurrencySymbol}}{{PriceFormated}}</td>
                  {{#else}}
                    <td class="col-3" id="{{Symbol}}-price">N/A</td>
                  {{/if}}
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr class="token-shadow">
                <td class="col-6"></td>
                <td class="col-6"></td>
                <td class="col-3"></td>
                <td class="col-3" id="totalportfolio"></td>
              </tr>
          </tfoot>
      </table>
  </div>
  <div id="wrapper" style="margin:0 auto;">
  <div id="container-pie" style="height:340px" class="col-md-6"></div>
  <div id="loader-pie" class="block-loader col-md-6 center">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="wrapper-container-historical">
    <div class="dropdown-custom col-md-4 center" id="dropdown-historical-value" style="margin-top: 1em;font-size:16px;display:none;">
      <select id="historical-value" style="margin-right:.5em;">
        <option value="24H">1 Day</option>
        <option value="1W">1 Week</option>
        <option value="1M">1 Month</option>
        <option value="3M">3 Months</option>
        <option value="ALL">All Time</option>
      </select>
      Portfolio historical <span id="portfolio-currency-title"></span> value
    </div>
    <div id="container-historical-value" style="height:340px" class="col-md-4"></div>
    <div id="loader-historical" class="block-loader col-md-4 center">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
</div>
<div class="multisig-event" onclick="CheckMultisignature();" style="display:none">
  <i class="fas fa-exclamation-circle"></i><br>
  <span>NEW<br>EVENT</span>
</div>
<script>

$(document).ready(function() {

  $('#sendSpinner').hide();

  // if session storage exist, get it, else set it
  if (localStorage.getItem('currency') !== 'null') {
    currency = localStorage.getItem('currency');
    if (localStorage.getItem('currency') == 'EUR') {
      currencysymbol = '€';
    } else if (localStorage.getItem('currency') == 'CAD') {
      currencysymbol = 'C$';
    } else if (localStorage.getItem('currency') == 'GBP') {
      currencysymbol = '£';
    } else if (localStorage.getItem('currency') == 'JPY') {
      currencysymbol = '¥';
    } else if (localStorage.getItem('currency') == 'AUD') {
      currencysymbol = 'A$';
    } else {
      currencysymbol = '$';
    }
  } else {
    currency = 'USD';
    currencysymbol = '$';
  }
  // adjust currency header based on existing currency setting
  document.getElementById("currency-header").innerHTML = currency + ' VALUE';
  // default loader/dropdown/chart values
  $("#historical-value").val('3M');
  $("#loader-pie").hide();
  $("#loader-historical").hide();
  $("#container-pie").hide();
  $("#container-historical-value").hide();

  getPieChart();
  // init portfolio chart on 3M
  getPortfolioChart('3M')
  // get all three smart contract call
  getUnclaimed();
  getStake();
  GetSoulmastersDetails();
  initTables();

  var pathname = window.location.pathname;
  // on all pages except login and create, get all three smart contract call every 1 minute
  if (pathname != '/login' && pathname != '/create') {
    setInterval(function() {
      getUnclaimed();
      getStake();
      GetSoulmastersDetails();
    }, 60000);
  }

});
// Datatable initialization
function initTables() {
    if (!$.fn.dataTable.isDataTable('#mainportfoliotable')) {
        setTimeout(function() {
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
              // custom ordering
                "currency-pre": function(a) {
                    a = (a === "-") ? 0 : a.replace(/[^\d\-\.]/g, "");
                    return parseFloat(a)
                },
                "currency-asc": function(a, b) {
                    return a - b
                },
                "currency-desc": function(a, b) {
                    return b - a
                }
            });
            $('#mainportfoliotable').DataTable({
                // start ordering on column 1
                "order": [
                    [3, "desc"]
                ],
                // adjust command and dot and replace default texts
                "language": {
                    "decimal": ".",
                    "thousands": ","
                },
                "bPaginate": !1,
                "aaSorting": [],
                // custom column defs
                "columnDefs": [{
                    type: 'currency',
                    targets: [3]
                }],
                // show datatable only after its fully initialized
                "initComplete": function() {
                    $(this).show()
                }
            })
        }, 100)
    }
}

// on click claim on portfolio
function Claim() {

  $("#wrapper-portfolio-confirm").fadeTo(1, 0);
  var params = [];
  // calculate amount/changedamount/futureamount
  currentkcalamount = parseFloat((document.getElementById("KCAL-amount").innerHTML).replace(/\,/g,''));
  changedamount = parseFloat((document.getElementById("unclaimed-kcal").innerHTML.slice(0, -5)).replace(/\,/g,''));
  futureamount = currentkcalamount + changedamount;
  // build params for contract call
  params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
  params[1] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

  $.post('/contract/tx',
     {
         chain: 'main',
         contract: 'energy',
         method: 'Claim',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
        //console.log(returnedData)
        // If /contract/tx works, call /tx/hash to check if the tx worked
        $.get('/tx/' + returnedData,
            function (returnedDataTX) {
              //console.log(returnedDataTX)
              // If .error defined, returns the custom error message
              if ((JSON.parse(returnedDataTX).error) != undefined) {
                document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
              } else {
                setTimeout(function() {
                  // if amount exist and changed and update kcal based on fees, flash the value
                  if (document.getElementById("KCAL-amount").innerHTML != numberWithCommas((futureamount - ((JSON.parse(returnedDataTX).fee) / Math.pow(10,10))).toFixed(10))) {
                    document.getElementById("KCAL-amount").innerHTML = numberWithCommas((futureamount - ((JSON.parse(returnedDataTX).fee) / Math.pow(10,10))).toFixed(10));
                    $(document.getElementById("KCAL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                         $(this).removeClass('flash-portfolio');
                         next();
                    });
                  }
                  getUnclaimed();
                }, 2000);
                // If it works, returns the tx link
                document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
              }
            }).fail(function(e) {
              console.log(e)
              document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
              $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
            });
     }).fail(function(e) {
        console.log(e)
        document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
     })

     setTimeout(function() {
       getUnclaimed();
     }, 2000);

}

// on click stake on portfolio
function Stake() {

  $("#wrapper-portfolio-confirm").fadeTo(1, 0);
  var params = [];
  // calculate amount/changedamount/futureamount
  if (document.getElementById("SOUL-amount")) {
    currentsoulamount = parseFloat((document.getElementById("SOUL-amount").innerHTML).replace(/\,/g,''));
  } else {
    currentsoulamount = 0;
  }
  if (localStorage.getItem('currency') == 'CAD' || localStorage.getItem('currency') == 'AUD') {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(2).replace(/\,/g,''));
  } else {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(1).replace(/\,/g,''));
  }
  changedamount = parseFloat(document.getElementById("manageinput").value);
  futureamount = currentsoulamount - changedamount;
  futuresoulprice = futureamount * currentsoulpriceunit;
  // build params for contract call
  params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
  params[1] = { name: 'stakeAmount', type: 'Number', input: toFixed((changedamount)*(Math.pow(10,8))), info: '' }

  if (toFixed((changedamount)) < 1 || Number.isNaN(changedamount)) {
        bootbox.alert("Minimum amount to stake is 1 SOUL!");
        return;
  }

  $('#sendSpinner').show();
  bootbox.confirm({
      title: "Staking confirmation",
      message: "Stake <strong>" +
          numberWithCommas(toFixed((changedamount))) +
          " SOUL?",
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Confirm'
          }
      },
      callback: function(result) {

        if (result) {

          $.post('/contract/tx',
             {
                 chain: 'main',
                 contract: 'energy',
                 method: 'Stake',
                 params: JSON.stringify({
                   params
                 })
             },
             function (returnedData) {
                //console.log(returnedData)
                // If /contract/tx works, call /tx/hash to check if the tx worked
                $.get('/tx/' + returnedData,
                    function (returnedDataTX) {
                      //console.log(returnedDataTX)
                      if ((JSON.parse(returnedDataTX).error) != undefined) {
                        // If .error defined, returns the custom error message
                        document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                      } else {
                        //console.log(returnedDataTX)
                        setTimeout(function() {
                          // update kcal based on features
                          document.getElementById("KCAL-amount").innerHTML = numberWithCommas(((document.getElementById("KCAL-amount").innerHTML).replace(/\,/g,'') - ((JSON.parse(returnedDataTX).fee) / Math.pow(10,10))).toFixed(10));
                          $(document.getElementById("KCAL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                               $(this).removeClass('flash-portfolio');
                               next();
                          });
                          // if amount exist and changed, flash the value
                          if (document.getElementById("SOUL-amount").innerHTML != numberWithCommas(futureamount)) {
                            document.getElementById("SOUL-amount").innerHTML = numberWithCommas(futureamount);
                            $(document.getElementById("SOUL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                          }
                          // if price exist and changed, flash the value
                          if (document.getElementById("SOUL-price").innerHTML != numberWithCommas(futuresoulprice)) {
                            document.getElementById("SOUL-price").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                            $(document.getElementById("SOUL-price")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                            // if total price exist and changed, flash the value
                            document.getElementById("totalportfolio").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                            $(document.getElementById("totalportfolio")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                          }
                          // call getstake and getpie getsoulmastersdetails after all other refresh
                          getStake();
                          getPieChart()
                          setTimeout(function() {
                            GetSoulmastersDetails();
                          }, 1000);
                        }, 2000);
                        document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                      }
                    }).fail(function(e) {
                      console.log(e)
                      document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
                      $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                    });
             }).fail(function(e) {
                console.log(e)
                document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
             })

             document.getElementById("manageinput").value = '';
           }
           $('#sendSpinner').hide();
         }
     })
}
// on click stake on portfolio
function Unstake() {

  $("#wrapper-portfolio-confirm").fadeTo(1, 0);
  var params = [];
  // calculate amount/changedamount/futureamount
  if (document.getElementById("SOUL-amount")) {
    currentsoulamount = parseFloat((document.getElementById("SOUL-amount").innerHTML).replace(/\,/g,''));
  } else {
    currentsoulamount = 0;
  }
  if (localStorage.getItem('currency') == 'CAD' || localStorage.getItem('currency') == 'AUD') {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(2).replace(/\,/g,''));
  } else {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(1).replace(/\,/g,''));
  }
  changedamount = parseFloat(document.getElementById("manageinput").value);
  futureamount = currentsoulamount + changedamount;
  futuresoulprice = futureamount * currentsoulpriceunit;
  // build params for contract call
  params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
  params[1] = { name: 'stakeAmount', type: 'Number', input: toFixed((changedamount)*(Math.pow(10,8))), info: '' }

  if (toFixed((changedamount)) < 1 || Number.isNaN(changedamount)) {
        bootbox.alert("Minimum amount to stake is 1 SOUL!");
        return;
  }

  $('#sendSpinner').show();
  bootbox.confirm({
      title: "Unstaking confirmation",
      message: "Unstake <strong>" +
          numberWithCommas(toFixed((changedamount))) +
          " SOUL?",
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Confirm'
          }
      },
      callback: function(result) {

        if (result) {

          $.post('/contract/tx',
             {
                 chain: 'main',
                 contract: 'energy',
                 method: 'Unstake',
                 params: JSON.stringify({
                   params
                 })
             },
             function (returnedData) {
                //console.log(returnedData)
                // If /contract/tx works, call /tx/hash to check if the tx worked
                $.get('/tx/' + returnedData,
                    function (returnedDataTX) {
                      //console.log(returnedDataTX)
                      if ((JSON.parse(returnedDataTX).error) != undefined) {
                        // If .error defined, returns the custom error message
                        document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                      } else {
                        setTimeout(function() {
                          // update kcal based on fees
                          document.getElementById("KCAL-amount").innerHTML = numberWithCommas((document.getElementById("KCAL-amount").innerHTML - ((JSON.parse(returnedDataTX).fee) / Math.pow(10,10))).toFixed(10));
                          $(document.getElementById("KCAL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                               $(this).removeClass('flash-portfolio');
                               next();
                          });
                          // if amount exist and changed, flash the value
                          if (document.getElementById("SOUL-amount").innerHTML != numberWithCommas(futureamount)) {
                            document.getElementById("SOUL-amount").innerHTML = numberWithCommas(futureamount);
                            $(document.getElementById("SOUL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                          }
                          // if price exist and changed, flash the value
                          if (document.getElementById("SOUL-price").innerHTML != numberWithCommas(futuresoulprice)) {
                            document.getElementById("SOUL-price").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                            $(document.getElementById("SOUL-price")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                            // if total price exist and changed, flash the value
                            document.getElementById("totalportfolio").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                            $(document.getElementById("totalportfolio")).addClass('flash-portfolio').delay(300).queue(function(next){
                                 $(this).removeClass('flash-portfolio');
                                 next();
                            });
                          }
                          // call getstake and getpie and getsoulmastersdetails after all other refresh
                          getStake();
                          getPieChart();
                          setTimeout(function() {
                            GetSoulmastersDetails();
                          }, 1000);
                        }, 2000);
                          document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                      }
                    }).fail(function(e) {
                      console.log(e)
                      document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
                      $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
                    });
             }).fail(function(e) {
                console.log(e)
                document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
             })

             document.getElementById("manageinput").value = '';
         }
         $('#sendSpinner').hide();
       }
     })
}
// on click claim rewards on portfolio
function MasterClaim() {

  $("#wrapper-portfolio-confirm").fadeTo(1, 0);
  var params = [];
  // calculate amount/changedamount/futureamount
  if (document.getElementById("SOUL-amount")) {
    currentsoulamount = parseFloat((document.getElementById("SOUL-amount").innerHTML).replace(/\,/g,''));
  } else {
    currentsoulamount = 0;
  }
  if (localStorage.getItem('currency') == 'CAD' || localStorage.getItem('currency') == 'AUD') {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(2).replace(/\,/g,''));
  } else {
    currentsoulpriceunit = parseFloat((document.getElementById("soulprice").innerHTML).substr(1).replace(/\,/g,''));
  }
  // build params for contract call
  params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }

  $.post('/contract/tx',
     {
         chain: 'main',
         contract: 'energy',
         method: 'MasterClaim',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
        //console.log(returnedData)
        // If /contract/tx works, call /tx/hash to check if the tx worked
        $.get('/tx/' + returnedData,
            function (returnedDataTX) {
              //console.log(returnedDataTX)
              if ((JSON.parse(returnedDataTX).error) != undefined) {
                // If .error defined, returns the custom error message
                document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
              } else {
                console.log(returnedDataTX)
                //changedamount = JSON.parse(returnedDataTX);
                //futureamount = currentsoulamount + changedamount;
                //futuresoulprice = futureamount * currentsoulpriceunit;
                setTimeout(function() {
                  // update kcal based on fees
                  document.getElementById("KCAL-amount").innerHTML = numberWithCommas((document.getElementById("KCAL-amount").innerHTML - ((JSON.parse(returnedDataTX).fee) / Math.pow(10,10))).toFixed(10));
                  $(document.getElementById("KCAL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                       $(this).removeClass('flash-portfolio');
                       next();
                  });
                  // if amount exist and changed, flash the value
                  //if (document.getElementById("SOUL-amount").innerHTML != numberWithCommas(futureamount)) {
                  //  document.getElementById("SOUL-amount").innerHTML = numberWithCommas(futureamount);
                  //  $(document.getElementById("SOUL-amount")).addClass('flash-portfolio').delay(300).queue(function(next){
                  //       $(this).removeClass('flash-portfolio');
                  //       next();
                  //  });
                  //}
                  // if price exist and changed, flash the value
                  //if (document.getElementById("SOUL-price").innerHTML != numberWithCommas(futuresoulprice)) {
                  //  document.getElementById("SOUL-price").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                  //  $(document.getElementById("SOUL-price")).addClass('flash-portfolio').delay(300).queue(function(next){
                  //       $(this).removeClass('flash-portfolio');
                  //       next();
                  //  });
                    // if total price exist and changed, flash the value
                  //  document.getElementById("totalportfolio").innerHTML = currencysymbol + numberWithCommas(futuresoulprice.toFixed(0));
                  //  $(document.getElementById("totalportfolio")).addClass('flash-portfolio').delay(300).queue(function(next){
                  //       $(this).removeClass('flash-portfolio');
                  //       next();
                  //  });
                  //}
                  // call getstake and getsoulmastersdetails after all other refresh
                  getStake();
                  setTimeout(function() {
                    GetSoulmastersDetails();
                  }, 1000);
                }, 2000);
                document.getElementById("wrapper-portfolio-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
              }
            }).fail(function(e) {
              console.log(e)
              document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
              $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
            });
     }).fail(function(e) {
        console.log(e)
        document.getElementById("wrapper-portfolio-confirm").innerHTML = e;
        $("#wrapper-portfolio-confirm").fadeTo("slow", 1);
     })

     document.getElementById("manageinput").value = '';

}

// function getunclaimed kcal
function getUnclaimed() {

  var params = [];
  // build params for contract call
  params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

  $.post('/contract',
     {
         chain: 'main',
         contract: 'energy',
         method: 'GetUnclaimed',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
         // format kcal with decimals value
         unclaimedFormatted = (returnedData) / (Math.pow(10, 10));
         // if amount exist and changed, flash the value
         if (document.getElementById("unclaimed-kcal").innerHTML != numberWithCommas(unclaimedFormatted) + ' KCAL') {
           document.getElementById("unclaimed-kcal").innerHTML = numberWithCommas(toFixed(unclaimedFormatted)) + ' KCAL';
           $(document.getElementById("unclaimed-kcal")).addClass('flash-portfolio').delay(300).queue(function(next){
                $(this).removeClass('flash-portfolio');
                next();
           });
         }
         // if kcal value 0 disable button
         if (unclaimedFormatted == 0) {
           $(document.getElementById("claim-kcal")).addClass('button-disabled').delay(300).queue(function(next){
           });
         } else {
           $(document.getElementById("claim-kcal")).removeClass('button-disabled').delay(300).queue(function(next){
           });
         }
     }).fail(function(e) {
        console.log(e)
     })

}

// function getStake
function getStake() {

  var params = [];
  // build params for contract call
  params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

  $.post('/contract',
     {
         chain: 'main',
         contract: 'energy',
         method: 'GetStake',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
        // format soul with decimals value
        stakesFormatted = (returnedData) / (Math.pow(10, 8));
        // if amount exist and changed, flash the value
        if (document.getElementById("stake-soul").innerHTML != numberWithCommas(stakesFormatted) + ' SOUL') {
          document.getElementById("stake-soul").innerHTML = numberWithCommas(stakesFormatted) + ' SOUL';
          $(document.getElementById("stake-soul")).addClass('flash-portfolio').delay(300).queue(function(next){
               $(this).removeClass('flash-portfolio');
               next();
          });
        }
        // if kcal per day exist and changed, flash the value
        if (document.getElementById("rewards-kcal").innerHTML != numberWithCommas(parseFloat((stakesFormatted/500).toFixed(10))) + ' KCAL / DAY') {
          document.getElementById("rewards-kcal").innerHTML = numberWithCommas(parseFloat((stakesFormatted/500).toFixed(10))) + ' KCAL / DAY';
          $(document.getElementById("rewards-kcal")).addClass('flash-portfolio').delay(300).queue(function(next){
               $(this).removeClass('flash-portfolio');
               next();
          });
        }
        // if 0 soul staked hide unstake
        if (stakesFormatted == 0) {
          $("#unstake-soul").hide();
        } else {
          $("#unstake-soul").show();
        }
     }).fail(function(e) {
        console.log(e)
     })

}

// function GetSoulmastersDetails
function GetSoulmastersDetails() {

  var params = [];
  var params2 = [];

  // call both GetCurrentMasterCount and GetStake for calculations
  $.when(

    $.post('/contract',
       {
           chain: 'main',
           contract: 'energy',
           method: 'GetCurrentMasterCount',
           params: JSON.stringify({
             params
           })
       },
       function (returnedData) {
          mastertotalcount = returnedData;
       }).fail(function(e) {
          console.log(e)
       }),

     // build params for contract call
     params2[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' },

     $.post('/contract',
        {
            chain: 'main',
            contract: 'energy',
            method: 'GetStake',
            params: JSON.stringify({
              params2
            })
        },
        function (returnedData) {
           stakeamount = returnedData;
        }).fail(function(e) {
           console.log(e)
        })

     ).then(function() {
       // check if address is master
       if (stakeamount/(Math.pow(10,8)) >= 50000) {
         mastercount = 1;
       } else {
         mastercount = 0;
       }
       // calculate total soulmasters
       if (mastertotalcount > 0) {
         rewards = 125000/mastertotalcount;
       } else {
         rewards = 0;
       }
       // if soulmaster exist and changed, flash the value
       if (document.getElementById("count-soulmasters").innerHTML != mastercount + ' SOULMASTER') {
         document.getElementById("count-soulmasters").innerHTML = mastercount + ' SOULMASTER';
         $(document.getElementById("count-soulmasters")).addClass('flash-portfolio').delay(300).queue(function(next){
              $(this).removeClass('flash-portfolio');
              next();
         });
       }
       // if amount 0 or 1 total soulmaster exist and changed, flash the value
       if (mastertotalcount == 0 || mastertotalcount == 1) {
         if (document.getElementById("count-soulmasters-total").innerHTML != mastertotalcount + ' SOULMASTER') {
           document.getElementById("count-soulmasters-total").innerHTML = mastertotalcount + ' SOULMASTER';
           $(document.getElementById("count-soulmasters-total")).addClass('flash-portfolio').delay(300).queue(function(next){
                $(this).removeClass('flash-portfolio');
                next();
           });
         }
       } else {
         // if amount >1 total soulmaster exist and changed, flash the value
         if (document.getElementById("count-soulmasters-total").innerHTML != mastertotalcount + ' SOULMASTERS') {
           document.getElementById("count-soulmasters-total").innerHTML = mastertotalcount + ' SOULMASTERS';
           $(document.getElementById("count-soulmasters-total")).addClass('flash-portfolio').delay(300).queue(function(next){
                $(this).removeClass('flash-portfolio');
                next();
           });
         }
       }
       // if amount rewards soulmaster exist and changed, flash the value
       if (document.getElementById("rewards-soulmasters").innerHTML != numberWithCommas(parseFloat((rewards).toFixed(8))) + ' SOUL / MONTH / SM') {
         document.getElementById("rewards-soulmasters").innerHTML = numberWithCommas(parseFloat((rewards).toFixed(8))) + ' SOUL / MONTH / SM';
         $(document.getElementById("rewards-soulmasters")).addClass('flash-portfolio').delay(300).queue(function(next){
              $(this).removeClass('flash-portfolio');
              next();
         });
       }
       // if getstake < 50000 disable claim rewards button
       if (mastercount == 0) {
         $(document.getElementById("claim-rewards")).addClass('button-disabled').delay(300).queue(function(next){
         });
       } else {
         $(document.getElementById("claim-rewards")).removeClass('button-disabled').delay(300).queue(function(next){
         });
       }
     })

}

// function getPortfolioChart based on timegrame
function getPortfolioChart(timeframe) {

  $("#loader-historical").show();

  // start url pricing
  urlforcombined = 'https://api.o3.network/v1/historical?currency=' + currency;
  arraygraph = [];
  params = [];
  // build params for contract call
  params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

  // call both GetUnclaimed and GetStake for calculations
  $.when(

  $.post('/contract',
     {
         chain: 'main',
         contract: 'energy',
         method: 'GetStake',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
        // format soul based on decimals
        stakesFormatted = (returnedData) / (Math.pow(10, 8));

     }
   ).fail(function(e) {
      console.log(e)
      $("#loader-historical").hide();
   }),
   $.post('/contract',
      {
          chain: 'main',
          contract: 'energy',
          method: 'GetUnclaimed',
          params: JSON.stringify({
            params
          })
      },
      function (returnedData) {
         // format kcal based on decimals
         unclaimedFormatted = (returnedData) / (Math.pow(10, 10));

      }
    ).fail(function(e) {
       console.log(e)
    })

  ).then(function() {
    // loop over holdings to build url pricing
    {{#each holdings}}
      if ('{{Symbol}}' == 'SOUL') {
        amountsoulcombined = {{Amount}} + stakesFormatted
        urlforcombined = urlforcombined + '&{{Symbol}}=' + amountsoulcombined;
      }

      if (!document.getElementById("SOUL-amount") && stakesFormatted != 0) {
        amountsoulcombined = stakesFormatted
        urlforcombined = urlforcombined + '&SOUL=' + amountsoulcombined;
      }

      if ('{{Symbol}}' == 'KCAL') {
        amountkcalcombined = {{Amount}} + unclaimedFormatted
        urlforcombined = urlforcombined + '&{{Symbol}}=' + amountkcalcombined;
      }
    {{/each}}

        $.ajax({
            xhrFields: {
                withCredentials: !1
            },
            cache: !1,
            crossDomain: !0,
            type: 'GET',
            dataType: 'json',
            data: {},
            // final url pricing
            url: urlforcombined.replace(/\,/g,'') + '&i=' + timeframe,
            success: function(data) {
                var response = JSON.stringify(data);
                var parsedJson = JSON.parse(response);
                var positivebal = false;
                var ohlc = [],
                    dataLength = parsedJson.result.data.data.length,
                    i = dataLength - 1;
                for (i; i >= 0; --i) {
                    // build array graph portfolio
                    ohlc.push([
                        (new Date(parsedJson.result.data.data[i].time).getTime()),
                        parsedJson.result.data.data[i].averageUSD
                    ]);
                    // check if balance > 0
                    if (parsedJson.result.data.data[i].averageUSD >= 1) {
                      positivebal = true;
                    }
                }
                if (positivebal == true) {
                  Highcharts.stockChart('container-historical-value', {
                      chart: {
                          style: {
                              fontFamily: 'Rubik'
                          }
                      },
                      xAxis: {
                        type: 'datetime',
                        labels: {
                          formatter: function() {
                            return Highcharts.dateFormat('%e %b', this.value);
                          },
                        }
                      },
                      yAxis: {
                          labels: {
                              formatter: function() {
                                  return currencysymbol + this.axis.defaultLabelFormatter.call(this);
                              }
                          },
                          opposite: false,
                          min: 0,
                          gridLineWidth: 0,
                          minorGridLineWidth: 0
                      },
                      navigator: {
                          enabled: false
                      },
                      scrollbar: {
                          enabled: false
                      },
                      rangeSelector: {
                          enabled: false
                      },
                      legend: {
                          enabled: false
                      },
                      credits: {
                          enabled: false
                      },
                      exporting: {
                          enabled: false
                      },
                      plotOptions: {
                          area: {
                              fillColor: {
                                  linearGradient: {
                                      x1: 0,
                                      y1: 0,
                                      x2: 0,
                                      y2: 1
                                  },
                                  stops: [
                                      [0, '#17B0E7'],
                                      [1, '#fff']
                                  ]
                              },
                              marker: {
                                  radius: 4
                              },
                              lineWidth: 3,
                              states: {
                                  hover: {
                                      lineWidth: 1
                                  }
                              },
                              threshold: null
                          }
                      },
                      tooltip: {
                          shared: true,
                          split: false,
                          formatter: function() {
                              if (($("#historical-value").val()) == '24H') {
                                var s = Highcharts.dateFormat('%A, %b %d, %Y - %H:%M', this.x);
                              } else {
                                var s = Highcharts.dateFormat('%A, %b %d, %Y', this.x);
                              }
                              $.each(this.points, function(i, point) {
                                  s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ' <b>' + currencysymbol + Highcharts.numberFormat(point.y, 0, '.', ',') + '</b>';
                              });
                              return s;
                          }
                      },
                      series: [{
                          type: 'area',
                          name: 'Average Wallet Value:',
                          data: ohlc,
                          color: '#17B0E7',
                          fillColor: {
                              linearGradient: {
                                  x1: 1,
                                  y1: 1,
                                  x2: 1,
                                  y2: 1
                              },
                              stops: [
                                  [0, '#fff'],
                                  [1, '#fff']
                              ]
                          }
                      }],
                      title: {
                          text: '',
                          style: {
                              fontSize: '16px'
                          }
                      }
                  });
                  $("#loader-historical").hide();
                  // show portfolio graph
                  $("#container-historical-value").fadeIn(1000);
                  // change dropdown balue based on timeframe selected
                  $("#historical-value").val(timeframe);
                  $("#dropdown-historical-value").fadeIn(1000);
                  // add currency to graph title
                  document.getElementById("portfolio-currency-title").innerHTML = currency;
                } else {
                  $("#loader-historical").hide();
                }
            },
            error: function(xhr, err) {
              console.log(err)
            }
          });

  })

}
//function getPieChart
function getPieChart() {

  $("#loader-pie").show();

  valueTOTAL = 0;
  valueTOTALWithoutStakes = 0;
  arraygraph = [];
  params = [];
  // build params for contract call
  params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }
  // call both GetUnclaimed and GetStake for calculations
  $.when(

  $.post('/contract',
     {
         chain: 'main',
         contract: 'energy',
         method: 'GetStake',
         params: JSON.stringify({
           params
         })
     },
     function (returnedData) {
        // format soul based on decimals
        stakesFormatted = (returnedData) / (Math.pow(10, 8));

     }
   ).fail(function(e) {
      console.log(e)
   }),
   $.post('/contract',
      {
          chain: 'main',
          contract: 'energy',
          method: 'GetUnclaimed',
          params: JSON.stringify({
            params
          })
      },
      function (returnedData) {
         // format kcal based on decimals
         unclaimedFormatted = (returnedData) / (Math.pow(10, 10));

      }
    ).fail(function(e) {
       console.log(e)
       $("#loader-pie").hide();
    })

  ).then(function() {
    // add stakes to holdings
    if (localStorage.getItem('currency') == 'CAD' || localStorage.getItem('currency') == 'AUD') {
      currentsoulprice = parseFloat((document.getElementById("soulprice").innerHTML).substr(2).replace(/\,/g,''));
    } else {
      currentsoulprice = parseFloat((document.getElementById("soulprice").innerHTML).substr(1).replace(/\,/g,''));
    }
    stakesPrice = currentsoulprice * stakesFormatted;
    // loop over holdings to build value total
    {{#each holdings}}
      if ('{{Symbol}}' == 'SOUL') {
        valueTOTAL += parseInt(('{{Price}}').replace(/,/g, ''));
        valueTOTALWithoutStakes += parseInt(('{{Price}}').replace(/,/g, ''));
      }
    {{/each}}
    if (stakesPrice != 0) {
      valueTOTAL += parseInt(stakesPrice);
    }
    // loop over holdings to build array for pie data
    {{#each holdings}}
      if ('{{Symbol}}' == 'SOUL') {
        arraygraph.push({name: "{{Symbol}}", y: ({{Price}})/valueTOTAL, oldColor: "#E8E8E8", sliced: true})
      }
    {{/each}}

    // add stakes to array
    if (stakesPrice != 0) {
      arraygraph.push({name: "SOUL - stakes", y: (stakesPrice)/valueTOTAL, oldColor: "#E8E8E8", sliced: true})
    }

  // add total portfolio once calculated
  document.getElementById("totalportfolio").innerHTML = currencysymbol + numberWithCommas(valueTOTALWithoutStakes.toFixed(0));

  Highcharts.chart('container-pie', {
    chart: {
        type: 'pie',
        style: {
            fontFamily: 'Rubik'
        }
    },
    credits: {
        enabled: !1
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: !0,
            cursor: 'pointer',
            depth: 30,
            colors: ['#E8E8E8', '#17B0E7', '#2f7ed8', '#434348', '#8bbc21', '#64E572', '#DDDF00', '#8085e9', '#f28f43', '#e4d354', '#f45b5b', '#77a1e5'],
            slicedOffset: 10,
            dataLabels: {
                enabled: !0,
                format: '{point.name}: {point.percentage:.2f} %',
                style: {
                    textOutline: !1
                }
            },
            states: {
                hover: {
                    enabled: !1
                },
                inactive: {
                    opacity: 1
                }
            },
            point: {
                events: {
                    mouseOver: function() {
                        this.options.oldColor = this.color;
                        this.graphic.attr("fill", "#17B0E7");
                        var point = this,
                            points = this.series.points;
                        for (var key in points) {
                            if (points[key].sliced) {
                                points[key].slice(!1)
                            }
                        }
                        if (!point.selected) {
                            point.slice(!0)
                        }
                    },
                    mouseOut: function() {
                        this.graphic.attr("fill", this.options.oldColor);
                        for (var key in this.points) {
                            if (this.points[key].sliced) {
                                this.points[key].slice(!1)
                            }
                        }
                    }
                }
            }
        }
    },
    series: [{
        title: 'test',
        type: 'pie',
        name: 'Portfolio',
        data: arraygraph
    }],
    title: {
        text: 'Portfolio composition',
        //text: '',
        style: {
            fontSize: '16px'
        }
    }
})

$("#loader-pie").hide();
$("#container-pie").fadeIn(1000);

if (valueTOTAL == 0) {
  $("#container-pie").hide();
}

})

}

// Handles historical-value change
$("#historical-value").change(function() {

  $("#container-historical-value").hide();
  getPortfolioChart($("#historical-value").val())

})

// function CheckMultisignature (popup event)
function CheckMultisignature() {

  $('#sendSpinner').show();

  bootbox.confirm({
      title: "New multisignature withdrawal request!",
      message: '- Amount: 123 SOUL<br>' +
          '- From: P5ySorAXMaJLwe6AqTsshW3XD8ahkwNpWHU9KLX9CwkYd<br>'+
          '- To: P5ySorAXMaJLwe6AqTsshW3XD8ahkwNpWHU9KLX9CwkYd<br>'+
          '- Signatures: 2 out of 3 signed',
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Confirm'
          }
      },
      callback: function(result) {

        $('#sendSpinner').hide();

      }
  })

}

</script>
{{#else}}
<div class="alert alert-info" role="alert">
    This address is still new and does not have any assets yet.
</div>

{{/if}}
