<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://unpkg.com/datatables.net@1.10.19/js/jquery.dataTables.min.js"></script>
<h3 class="tab-title">Portfolio</h3>
{{#if holdings}}
<div class="portfolio">
  <div class="top-portfolio col-md-12">
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/kcal_logo.png" /><span>ENERGY</span><br><span id="unclaimed-kcal" class="top-portfolio-col-highlight">KCAL</span><br><span id="rewards-kcal" class="top-portfolio-col-small">KCAL PER DAY</span></div>
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/phantasma_logo.png" /><span>STAKES</span><br><span id="stake-soul" class="top-portfolio-col-highlight">SOUL</span><br><span id="rewards-soulmasters" class="top-portfolio-col-small">SOUL PER MONTH</span></div>
    <div class="top-portfolio-col"><img class="portfolio-token-icon" src="img/soulmasters_logo.png" /><span>SOULMASTERS</span><br><span><span id="count-soulmasters" class="top-portfolio-col-highlight">SOULMASTER</span></span><br><span><span id="count-soulmasters-total" class="top-portfolio-col-small">OUT OF SOULMASTER</span></span></div>
</div>
    <div class="wrapper-portfolio">
      <div><button type="button" class="button" onclick="Claim()">CLAIM<BR>KCAL</button></div>
      <div><button type="button" class="button" onclick="Stake()">STAKE<BR>SOUL</button></div>
      <div><button type="button" class="button"onclick="Stake()">UNSTAKE<BR>SOUL</button></div>
    </div>

  <div class="table-responsive col-md-12">
      <table class="table table-general" id="mainportfoliotable">
          <thead>
              <tr>
                  <th class="col-6">ASSET NAME</th>
                  <th class="col-6">CHAIN NAME</th>
                  <th class="col-3">ASSET QUANTITY</th>
                  <th class="col-3">USD VALUE</th>
              </tr>
          </thead>
          <tbody>
              {{#each holdings}}
              <tr class="token-shadow">
                  {{#if Symbol == 'SOUL'}}
                    <td class="col-6"><img class="token-icon" src="img/{{Icon}}.png" />{{Name}} - <a href="http://localhost:7072/token/{{Symbol}}" target="_blank" title="View Asset">{{Symbol}}</a></td>
                  {{#else}}
                    <td class="col-6"><img class="token-icon" src="img/soulmasters_logo.png" />{{Name}} - <a href="http://localhost:7072/token/{{Symbol}}" target="_blank" title="View Asset">{{Symbol}}</a></td>
                  {{/if}}
                  <td class="col-6">{{ChainName}}</td>
                  <td class="col-3">{{AmountFormated}}</td>
                  {{#if Symbol == 'SOUL'}}
                    <td class="col-3">${{UsdFormated}}</td>
                  {{#else}}
                    <td class="col-3">N/A</td>
                  {{/if}}
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr class="token-shadow">
                <td class="col-6">TOTAL</td>
                <td class="col-6"></td>
                <td class="col-3"></td>
                <td class="col-3" id="totalusdportfolio"></td>
              </tr>
          </tfoot>
      </table>
  </div>
  <div id="wrapper" style="margin:0 auto;">
  <div id="container-pie" style="height:370px" class="col-md-6"></div>
  <div id="container-historical-value" style="height:370px" class="col-md-4"></div>
  </div>
</div>
<script>

    $(document).ready(function() {

      getContainerPie();
      getUnclaimed();
      getStake();
      GetSoulmastersDetails();
      initTables();

      var pathname = window.location.pathname;
      if (pathname != '/login' && pathname != '/create') {
        setInterval(function() {
          getUnclaimed();
          getStake();
          GetSoulmastersDetails();
        }, 60000);
      }

    });

    function initTables() {
        if (!$.fn.dataTable.isDataTable('#mainportfoliotable')) {
            setTimeout(function() {
                jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                    "currency-pre": function(a) {
                        a = (a === "-") ? 0 : a.replace(/[^\d\-\.]/g, "");
                        return parseFloat(a)
                    },
                    "currency-asc": function(a, b) {
                        return a - b
                    },
                    "currency-desc": function(a, b) {
                        return b - a
                    }
                });
                $('#mainportfoliotable').DataTable({
                    "order": [
                        [3, "desc"]
                    ],
                    "language": {
                        "decimal": ".",
                        "thousands": ","
                    },
                    "bPaginate": !1,
                    "aaSorting": [],
                    "columnDefs": [{
                        type: 'currency',
                        targets: [3]
                    }],
                    "initComplete": function() {
                        $(this).show()
                    }
                })
            }, 100)
        }
    }

    function getUnclaimed() {

      var params = [];
      params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

      $.post('/contract',
         {
             chain: 'main',
             contract: 'energy',
             method: 'GetUnclaimed',
             params: JSON.stringify({
               params
             })
         },
         function (returnedData) {
             unclaimedFormatted = (returnedData) / (Math.pow(10, 10));
             if (document.getElementById("unclaimed-kcal").innerHTML != numberWithCommas(unclaimedFormatted) + ' KCAL') {
               document.getElementById("unclaimed-kcal").innerHTML = numberWithCommas(unclaimedFormatted) + ' KCAL';
               $(document.getElementById("unclaimed-kcal")).addClass('flash-portfolio').delay(300).queue(function(next){
                    $(this).removeClass('flash-portfolio');
                    next();
               });
             }
         }).fail(function(e) {
            console.log(e)
         })

    }

    function Claim() {

      var params = [];
      params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
      params[1] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

      $.post('/contract/tx',
         {
             chain: 'main',
             contract: 'energy',
             method: 'Claim',
             params: JSON.stringify({
               params
             })
         },
         function (returnedData) {
              //console.log(returnedData)
         }).fail(function(e) {
            console.log(e)
         })

    }

    function getStake() {

      var params = [];
      params[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' }

      $.post('/contract',
         {
             chain: 'main',
             contract: 'energy',
             method: 'GetStake',
             params: JSON.stringify({
               params
             })
         },
         function (returnedData) {
            stakesFormatted = (returnedData) / (Math.pow(10, 8));
            if (document.getElementById("stake-soul").innerHTML != numberWithCommas(stakesFormatted) + ' SOUL') {
              document.getElementById("stake-soul").innerHTML = numberWithCommas(stakesFormatted) + ' SOUL';
              $(document.getElementById("stake-soul")).addClass('flash-portfolio').delay(300).queue(function(next){
                   $(this).removeClass('flash-portfolio');
                   next();
              });
            }
            if (document.getElementById("rewards-kcal").innerHTML != numberWithCommas(stakesFormatted/500) + ' KCAL PER DAY') {
              document.getElementById("rewards-kcal").innerHTML = numberWithCommas(stakesFormatted/500) + ' KCAL PER DAY';
              $(document.getElementById("rewards-kcal")).addClass('flash-portfolio').delay(300).queue(function(next){
                   $(this).removeClass('flash-portfolio');
                   next();
              });
            }
         }).fail(function(e) {
            console.log(e)
         })

    }

    function Stake() {

      var params = [];
      params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
      params[1] = { name: 'stakeAmount', type: 'Number', input: '1000000', info: '' }

      $.post('/contract/tx',
         {
             chain: 'main',
             contract: 'energy',
             method: 'Stake',
             params: JSON.stringify({
               params
             })
         },
         function (returnedData) {
            //console.log(returnedData)
         }).fail(function(e) {
            console.log(e)
         })

    }

    function GetSoulmastersDetails() {

      var params = [];
      var params2 = [];

      $.when(

        $.post('/contract',
           {
               chain: 'main',
               contract: 'energy',
               method: 'GetCurrentMasterCount',
               params: JSON.stringify({
                 params
               })
           },
           function (returnedData) {
              mastertotalcount = returnedData;
           }).fail(function(e) {
              console.log(e)
           }),

         params2[0] = { name: 'stakeAddress', type: 'Object', input: '{{address}}', info: '' },

         $.post('/contract',
            {
                chain: 'main',
                contract: 'energy',
                method: 'GetStake',
                params: JSON.stringify({
                  params2
                })
            },
            function (returnedData) {
               stakeamount = returnedData;
            }).fail(function(e) {
               console.log(e)
            })

         ).then(function() {
           mastercount = Math.floor(stakeamount/(Math.pow(10,8))/50000);
           rewards = 125000/mastertotalcount*mastertotalcount;
           if (mastercount == 0 || mastercount == 1) {
             if (document.getElementById("count-soulmasters").innerHTML != mastercount + ' SOULMASTER') {
               document.getElementById("count-soulmasters").innerHTML = mastercount + ' SOULMASTER';
               $(document.getElementById("count-soulmasters")).addClass('flash-portfolio').delay(300).queue(function(next){
                    $(this).removeClass('flash-portfolio');
                    next();
               });
             }
           } else {
             if (document.getElementById("count-soulmasters").innerHTML != mastercount + ' SOULMASTERS') {
               document.getElementById("count-soulmasters").innerHTML = mastercount + ' SOULMASTERS';
               $(document.getElementById("count-soulmasters")).addClass('flash-portfolio').delay(300).queue(function(next){
                    $(this).removeClass('flash-portfolio');
                    next();
               });
             }
           }
           if (mastertotalcount == 0 || mastertotalcount == 1) {
             if (document.getElementById("count-soulmasters-total").innerHTML != 'OUT OF ' + mastertotalcount + ' SOULMASTER') {
               document.getElementById("count-soulmasters-total").innerHTML = 'OUT OF ' + mastertotalcount + ' SOULMASTER';
               $(document.getElementById("count-soulmasters-total")).addClass('flash-portfolio').delay(300).queue(function(next){
                    $(this).removeClass('flash-portfolio');
                    next();
               });
             }
           } else {
             if (document.getElementById("count-soulmasters-total").innerHTML != 'OUT OF ' + mastertotalcount + ' SOULMASTERS') {
               document.getElementById("count-soulmasters-total").innerHTML = 'OUT OF ' + mastertotalcount + ' SOULMASTERS';
               $(document.getElementById("count-soulmasters-total")).addClass('flash-portfolio').delay(300).queue(function(next){
                    $(this).removeClass('flash-portfolio');
                    next();
               });
             }
           }
           if (document.getElementById("rewards-soulmasters").innerHTML != numberWithCommas(rewards) + ' SOUL PER MONTH') {
             document.getElementById("rewards-soulmasters").innerHTML = numberWithCommas(rewards) + ' SOUL PER MONTH';
             $(document.getElementById("rewards-soulmasters")).addClass('flash-portfolio').delay(300).queue(function(next){
                  $(this).removeClass('flash-portfolio');
                  next();
             });
           }
         })

    }

    function getContainerPie() {


      valueTOTALusd = 0;
      urlforcombined = 'https://api.o3.network/v1/historical?currency=USD';
      arraygraph = [];

      {{#each holdings}}
        if ('{{Symbol}}' == 'SOUL') {
          valueTOTALusd += {{UsdFormated}};
        }
      {{/each}}

      {{#each holdings}}
        if ('{{Symbol}}' == 'SOUL') {
          urlforcombined = urlforcombined + '&{{Symbol}}={{AmountFormated}}';
          arraygraph.push({name: "{{Symbol}}", y: ({{AmountFormated}})/valueTOTALusd, oldColor: "#E8E8E8", sliced: true})
        }
      {{/each}}

      document.getElementById("totalusdportfolio").innerHTML = '$' + numberWithCommas(valueTOTALusd.toFixed(0));
      //arraygraph = [{name: "SOUL", y: 75, oldColor: "#E8E8E8", sliced: true},{name: "KCAL", y: 25, oldColor: "#E8E8E8", sliced: true}];
      //urlforcombined = 'https://api.o3.network/v1/historical?currency=USD&SOUL=7712405&KCAL=89.9992967615&NACHO=8000&KCAL=5.0000009778&NACHO=1000';
      currencysymbol = '$';

  Highcharts.chart('container-pie', {
      chart: {
          type: 'pie',
          style: {
              fontFamily: 'Rubik'
          }
      },
      credits: {
          enabled: !1
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: !0,
              cursor: 'pointer',
              depth: 30,
              colors: ['#E8E8E8', '#17B0E7', '#2f7ed8', '#434348', '#8bbc21', '#64E572', '#DDDF00', '#8085e9', '#f28f43', '#e4d354', '#f45b5b', '#77a1e5'],
              slicedOffset: 10,
              dataLabels: {
                  enabled: !0,
                  format: '{point.name}: {point.percentage:.2f} %',
                  style: {
                      textOutline: !1
                  }
              },
              states: {
                  hover: {
                      enabled: !1
                  },
                  inactive: {
                      opacity: 1
                  }
              },
              point: {
                  events: {
                      mouseOver: function() {
                          this.options.oldColor = this.color;
                          this.graphic.attr("fill", "#17B0E7");
                          var point = this,
                              points = this.series.points;
                          for (var key in points) {
                              if (points[key].sliced) {
                                  points[key].slice(!1)
                              }
                          }
                          if (!point.selected) {
                              point.slice(!0)
                          }
                      },
                      mouseOut: function() {
                          this.graphic.attr("fill", this.options.oldColor);
                          for (var key in this.points) {
                              if (this.points[key].sliced) {
                                  this.points[key].slice(!1)
                              }
                          }
                      }
                  }
              }
          }
      },
      series: [{
          title: 'test',
          type: 'pie',
          name: 'Portfolio',
          data: arraygraph
      }],
      title: {
          text: 'Portfolio composition',
          //text: '',
          style: {
              fontSize: '16px'
          }
      }
  })
  $.ajax({
      xhrFields: {
          withCredentials: !1
      },
      cache: !1,
      crossDomain: !0,
      type: 'GET',
      dataType: 'json',
      data: {},
      url: urlforcombined.replace(/\,/g,'') + '&i=3M',
      success: function(data) {
          var response = JSON.stringify(data);
          var parsedJson = JSON.parse(response);
          var positivebal = false;
          var ohlc = [],
              dataLength = parsedJson.result.data.data.length,
              i = dataLength - 1;
          for (i; i >= 0; --i) {
              ohlc.push([
                  (new Date(parsedJson.result.data.data[i].time).getTime()),
                  parsedJson.result.data.data[i].averageUSD
              ]);
              if (parsedJson.result.data.data[i].averageUSD >= 1) {
                positivebal = true;
              }
          }
          if (positivebal == true) {
            Highcharts.stockChart('container-historical-value', {
                chart: {
                    style: {
                        fontFamily: 'Rubik'
                    }
                },
                xAxis: {
                  type: 'datetime',
                  labels: {
                    formatter: function() {
                      return Highcharts.dateFormat('%e %b', this.value);
                    },
                  }
                },
                yAxis: {
                    labels: {
                        formatter: function() {
                            return currencysymbol + this.axis.defaultLabelFormatter.call(this);
                        }
                    },
                    opposite: false,
                    min: 0,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0
                },
                navigator: {
                    enabled: false
                },
                scrollbar: {
                    enabled: false
                },
                rangeSelector: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, '#17B0E7'],
                                [1, '#fff']
                            ]
                        },
                        marker: {
                            radius: 4
                        },
                        lineWidth: 3,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                tooltip: {
                    shared: true,
                    split: false,
                    formatter: function() {
                        if (($("#historical-value").val()) == '24H') {
                          var s = Highcharts.dateFormat('%A, %b %d, %Y - %H:%M', this.x);
                        } else {
                          var s = Highcharts.dateFormat('%A, %b %d, %Y', this.x);
                        }
                        $.each(this.points, function(i, point) {
                            s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ' <b>' + currencysymbol + Highcharts.numberFormat(point.y, 0, '.', ',') + '</b>';
                        });
                        return s;
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Average Wallet Value:',
                    data: ohlc,
                    color: '#17B0E7',
                    fillColor: {
                        linearGradient: {
                            x1: 1,
                            y1: 1,
                            x2: 1,
                            y2: 1
                        },
                        stops: [
                            [0, '#fff'],
                            [1, '#fff']
                        ]
                    }
                }],
                title: {
                    text: 'Portfolio value',
                    //text: '',
                    style: {
                        fontSize: '16px'
                    }
                }
            });
            $("#container-historical-value").fadeIn(1000);
          }
      },
      error: function(xhr, err) {
        //console.log(err)
      }
  });
}
</script>
{{#else}}
<div class="alert alert-info" role="alert">
    This address is still new and does not have any assets yet.
</div>

{{/if}}
