<div wrapper style="display: flex;justify-content: center;align-items: center;height:100%">
  <div class="row" style="padding-top: 50px;">


      <div id="qrcode" class="qrbox"></div>

      <h4 class="public-address-label">Your public Phantasma address:</h4>

      <div style="text-align: center;">
          <p class="public-address" style="display:inline-block">
              <em>{{address}}</em>
          </p>
          <span class="copy-pad" style="font-size: 20px;">
              <a href="#" onclick="copyText('{{address}}', 'Address')">
                  <i class="fas fa-copy"></i>
              </a>
          </span>
      </div>

      <input type="hidden" value="{{address}}" id="myAddress">
  </div>
</div>


<script>
    var QR_CONTENT = "phantasma://{{address}}";

    var QR_IMAGE = "/img/phantasma_logo_white.png";

    var QR_FILTER = "color";

    var QR_CONTAINER = document.getElementById("qrcode");

    new QArt({
        value: QR_CONTENT,
        imagePath: QR_IMAGE,
        filter: QR_FILTER
    }).make(QR_CONTAINER);
</script>