<h3 class="tab-title">Send assets</h3>
{{#if holdings}}

<div class="container send">
    <div id="sendSpinner" class="loading">Loading&#8230;</div>
    <div class="stepwizard" style="display:none;">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle" style="color: white; background-color: #107dac">1</a>
                <p>Chain</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" style="color: white; background-color: #107dac" disabled="disabled">2</a>
                <p>Asset</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" style="color: white; background-color: #107dac" disabled="disabled">3</a>
                <p>Address</p>
            </div>
        </div>
    </div>
    <form role="form" onsubmit="validateForm()">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 1) Select chain</h4>
                        <select id="selectChain">
                            {{#each availableChains}}
                              {{#if this == 'main'}}
                              <option>{{this}}</option>
                              {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <button class="btn-primary nextBtn btn-lg button" type="button" onclick="selectTokens()">NEXT</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 2) Select token</h4>
                        <select id="select-token-form" onchange="saveToken()"></select>
                    </div>
                    <div class="form-group" id="amountGroup">
                        <h4 class="control-label send-label">Step 3) Enter amount</h4>
                        <div>
                          <input onfocusin="saveToken()" class="form-control parameters-input" maxlength="100" type="number" required="required" placeholder="Enter amount" id="amount" />
                          <button class="btn-primary btn-lg button" type="button" id="button-max" onClick="getMax()">MAX</button>
                        </div>
                        <div class="col-md-12">
                          <div class="percent-slider">
                            <input class="slider" type="range" min="0" max="1" step="0.01" value="1" style="background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.0, rgb(23,176,231)), color-stop(0.0, rgb(167, 160, 160)));margin:0;" id="slider-amount">
                            <div class="button-container zero active">
                              <div class="circle-container">
                                <div class="submit-btn-small" onclick="updateSliderFixed(0)">
                                </div>
                              </div>
                              <div class="button-label" onclick="updateSliderFixed(0)">0%</div>
                            </div>
                            <div class="button-container quarter">
                              <div class="circle-container">
                                <div class="submit-btn-small" onclick="updateSliderFixed(0.25)">
                                </div>
                              </div>
                              <div class="button-label" onclick="updateSliderFixed(0.25)">25%</div>
                            </div>
                            <div class="button-container half">
                              <div class="circle-container">
                                <div class="submit-btn-small" onclick="updateSliderFixed(0.5)">
                                </div>
                              </div>
                              <div class="button-label" onclick="updateSliderFixed(0.5)">50%</div>
                            </div>
                            <div class="button-container three-quarter">
                              <div class="circle-container">
                                <div class="submit-btn-small" onclick="updateSliderFixed(0.75)"></div>
                              </div>
                              <div class="button-label" onclick="updateSliderFixed(0.75)">75%</div>
                            </div>
                            <div class="button-container max">
                              <div class="circle-container">
                                <div class="submit-btn-small" onclick="updateSliderFixed(1)">
                                </div>
                              </div>
                              <div class="button-label" onclick="updateSliderFixed(1)">100%</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-group" id="nft-id-group" hidden>
                        <h4 class="control-label send-label">Step 3) Select NFT</h4>
                        <select id="select-id" multiple></select>
                    </div>
                    <div class="col-md-12" style="margin:1em auto;" id="multiple-nft-selected"><span style="font-style:italic"><u>note</u>: a single NFT is selected.</span></div>
                    <button class="btn-primary prevBtn btn-lg button" type="button">PREVIOUS</button>
                    <button class="btn-primary nextBtn btn-lg button" type="button" id="amount-next">NEXT</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 4) Select destination address</h4>
                        <input maxlength="100" class="form-control parameters-input" type="text" required="required" id="destination" placeholder="Enter destination address" />
                    </div>
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 5) Select destination chain</h4>
                        <select id="destinationChain" style="margin-top: 0;">
                            {{#each chains}}
                              {{#if Name == 'main'}}
                              <option>{{Name}}</option>
                              {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <button class="btn-primary prevBtn btn-lg button" type="button">PREVIOUS</button>
                    <button class="btn-success btn-lg button" type="button" onclick="confirmSend()" id="send-assets">SEND ASSETS</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var selected_chain = null;
    var selected_symbol = null;
    var isFungible = 'True';
    var max_amount = 0;

    function validateForm(e)
    {
        e.preventDefault();
    }

    $(document).ready(function () {

        // set initial slider val
        $("#slider-amount").val(0)

        $("#amount").on('change keydown paste input', function(){
            updateSlider();
        });

        $("#slider-amount").on('change keydown paste input', function(){
            updateSlider();
        });

        $('#sendSpinner').hide();

        // force max 8 decimals
        $( "#amount" ).blur(function() {
          if (this.value) {
            this.value = round(this.value,8);
          }
        });

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function(){

          var curStep = $(this).closest(".setup-content"),
              curStepBtn = curStep.attr("id");

          if (curStepBtn === "step-2") {

            $("#step-1").show();
            $("#step-2").hide();

          } else {

            $("#step-2").show();
            $("#step-3").hide();

          }

        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            if (curStepBtn === "step-2") {
                //saveToken();
                nftId = $("#select-id").val();
                let amount = $("#amount").val();
                if (parseFloat(amount) > parseFloat(max_amount.replace(/\,/g,''))) {
                    bootbox.alert("Insufficient funds");
                    return;
                }
            }

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');


        // Trigger send assets button on press enter
        var input = document.getElementById("destination");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send-assets").click();
            }
        });

        // Trigger next button on press enter
        var input = document.getElementById("amount");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("amount-next").click();
            }
        });

        sendcustomNFT = []
        arrayNFT = '';
        arrayNFTFormatted = '';
        arrayNFTlength = 0;
        {{#each chainTokens}}
            {{#each Ids}}
            arrayNFTlength++
            {{/each}}
        {{/each}}
        for (i = 0; i < (arrayNFTlength/100); i++) {
          idList = 0;
          window['arrayNFT' + i] = '';
          {{#each chainTokens}}
              {{#each Ids}}
              idList++
              if (idList/100 >= i && idList/100 < (i+1)) {
                  window['arrayNFT' + i] += '{{this}}' + ',';
              }
              {{/each}}
          {{/each}}
          window['arrayNFTFormatted' + i] = (window['arrayNFT' + i]).substring(0, (window['arrayNFT' + i]).length - 1)
        }

        if (arrayNFTlength > 0) {

          var arrayNFTFormattedResultTotal = [];
          for (i = 0; i < (arrayNFTlength/100); i++) {
              arrayNFTFormattedResultTotal.push(getNFTIds(window['arrayNFTFormatted' + i]));
          }
          Promise.all(arrayNFTFormattedResultTotal)
          .then(data => {

            // reduce
            dataNFT = data.reduce(function(result, current) {
              return Object.assign(result, current);
            }, {});

            // temp map to array & add id to array
            dataNFT = $.map(dataNFT, function(value, index) { value.id = index; return value; });

            // double sort item & mint
            dataNFT.sort(function (a, b) {

            	if (a.item > b.item) return 1;
            	if (a.item < b.item) return -1;

            	if (a.mint > b.mint) return 1;
            	if (a.mint < b.mint) return -1;

            });

            // pre sort by item high first
            let byThis = 'item';
            let compare = (k, kk) => dataNFT[kk][byThis] - dataNFT[k][byThis];
            preSorteddataNFT = Object.keys(dataNFT).sort(compare);

            for (i = 0; i < preSorteddataNFT.length; i++) {

              rarity = '';
              mint = '';
              id = '';
              type = '';
              item = '';
              img = '';
              name = 'goati server error';

              if (dataNFT[preSorteddataNFT[i]].img) {
                img = dataNFT[preSorteddataNFT[i]].img
              } else {
                img = '/img/nft_notfound.png';
              }
              if (dataNFT[preSorteddataNFT[i]].item_info.rarity) {
                rarity = ' | ' + formatRarity(dataNFT[preSorteddataNFT[i]].item_info.rarity)
              } else {
                rarity = '';
              }
              sendcustomNFT.push({
                  id: dataNFT[preSorteddataNFT[i]].id,
                  item: dataNFT[preSorteddataNFT[i]].item,
                  mint: dataNFT[preSorteddataNFT[i]].mint,
                  image: img,
                  type: dataNFT[preSorteddataNFT[i]].item_info.display_type_english,
                  rarity: rarity,
                  name: dataNFT[preSorteddataNFT[i]].item_info.name_english
              });
              //sendcustomNFT.sort(function(a, b) {
              //  return b.item- a.item;
              //})

            };

          })

          async function getNFTIds(arrayids) {

            let myPromise = new Promise((resolve, reject) => {

            $.ajax({
                xhrFields: {
                    withCredentials: !1
                },
                cache: !1,
                crossDomain: !0,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ids: arrayids}),
                url: 'https://www.22series.com/api/store/nft',
                success: function(returnedDataTX) {
                  var dataNFT = returnedDataTX;
                  resolve(dataNFT);
                }
              })

            });

            let dataNFTdetail = await myPromise;
            return dataNFTdetail;

          }

        }

    });

    function updateSliderFixed(value) {

      $("#slider-amount").val(value);
      updateSlider();

    }

    function updateSlider() {

      if ($("#slider-amount").val() != 0) {
        currentMultiplier = parseFloat($("#slider-amount").val());
        maxAmount = parseFloat(max_amount.replace(',',''))
        $("#amount").val(round(currentMultiplier * maxAmount, 3));
      } else if ($("#amount").val() != 0){
        maxAmount = parseFloat(max_amount.replace(',',''))
        currentMultiplier = ($("#amount").val())/maxAmount;
      } else {
        currentMultiplier = 0;
        $("#amount").val();
      }
      var backgroundImg = '-webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(' + currentMultiplier + ', rgb(23,176,231)), color-stop(' + currentMultiplier + ', rgb(167, 160, 160)))';
      $("#slider-amount").css("background-image", backgroundImg);
      if (currentMultiplier < 0.25) {
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").removeClass("active");
        $(".button-container.half").removeClass("active");
        $(".button-container.three-quarter").removeClass("active");
        $(".button-container.max").removeClass("active");
      } else if (currentMultiplier >= 0.25 && currentMultiplier < 0.5) {
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").addClass("active");
        $(".button-container.half").removeClass("active");
        $(".button-container.three-quarter").removeClass("active");
        $(".button-container.max").removeClass("active");
      } else if (currentMultiplier >= 0.5 && currentMultiplier < 0.75) {
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").addClass("active");
        $(".button-container.half").addClass("active");
        $(".button-container.three-quarter").removeClass("active");
        $(".button-container.max").removeClass("active");
      } else if (currentMultiplier >= 0.75 && currentMultiplier < 1) {
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").addClass("active");
        $(".button-container.half").addClass("active");
        $(".button-container.three-quarter").addClass("active");
        $(".button-container.max").removeClass("active");
      } else if (currentMultiplier == 1) {
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").addClass("active");
        $(".button-container.half").addClass("active");
        $(".button-container.three-quarter").addClass("active");
        $(".button-container.max").addClass("active");
      }

    }

    function confirmSend() {
        let amount = $("#amount").val().replace(/\,/g,'');
        let target_address = $("#destination").val();

        if (isFungible) {
            if (amount <= 0) {
                bootbox.alert("Please insert a valid amount!");
                return;
            }

            if (parseFloat(amount) > parseFloat(max_amount.replace(/\,/g,''))) {
                bootbox.alert("Insufficient funds");
                return;
            }
        }
        var selectedDestinationChain = $("#destinationChain").val();
        var isValid = false;

        if (formatedAmountKCAL == 0) {
            bootbox.alert("You need a small drop of KCAL to send transactions!");
            return;
        }

        if (target_address.length == 0) {
            bootbox.alert("Please insert an destination address!");
            return;
        }

        if (target_address.length < 4) {
            bootbox.alert("Please insert a valid destination address!");
            return;
        }

        if (target_address.startsWith('P')) {
            isName = 'False';
        } else {
            isName = 'True';
        }

        if (selected_chain === selectedDestinationChain) {
            if (target_address === '{{address}}') {
                bootbox.alert("The destination address cannot be the same as your own address!");
                return;
            }
        }

        if (isFungible) {
          descNFTConfirm = '';
        } else {
          descNFTConfirm = ' ' + $("#select-id option:selected").text();
          var oHandler = $('#select-id').msDropDown();
          if (oHandler[0].selectedOptions.length > 1) {
            bulkTransfer = true;
          } else {
            bulkTransfer = false;
          }
        }

        $('#sendSpinner').show();
        bootbox.confirm({
            title: "Transfer confirmation",
            message: "Send <strong>" +
                numberWithCommas(amount) +
                " " +
                selected_symbol +
                descNFTConfirm +
                "</strong> to address <strong>" +
                target_address +
                "</strong>?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function(result) {

                if (result) {
                    console.log('This was logged in the callback: ' + result);

                    var symbol = selected_symbol;
                    var amount = document.getElementById("amount");
                    var addressTo = document.getElementById("destination");
                    if (isFungible) {

                        $.post('/sendrawtx',
                            {
                                fungible: 'True', token: symbol, amount: amount.value, dest: addressTo.value, chain: selected_chain , destChain: selectedDestinationChain, isName: isName
                            },
                            function (returnedData) {
                                if (returnedData !== "") {
                                    //$('#sendSpinner').hide();
                                    window.location.replace("/waiting/" + returnedData);
                                } else {
                                    //$('#sendSpinner').hide();
                                    window.location.replace("/error");
                                }
                                console.log(returnedData);
                            }).fail(function() {
                            $('#sendSpinner').hide();
                            console.log("error");
                            });

                    } else {

                      if (bulkTransfer) {

                        nftIdArr = []

                        var oHandler = $('#select-id').msDropDown();
                        for (i = 0; i < (oHandler[0].selectedOptions.length); i++) {
                          nftIdArr.push ({
                              id: oHandler[0].selectedOptions[i].value
                          });
                        }


                        $.post('/sendmultiplenft',
                            {
                                token: symbol, id: JSON.stringify(nftIdArr), dest: addressTo.value, chain: selected_chain , destChain: selectedDestinationChain, isName: isName
                            },
                            function (returnedData) {
                              if (returnedData !== "") {
                                  //$('#sendSpinner').hide();
                                  window.location.replace("/waiting/" + returnedData);
                              } else {
                                  //$('#sendSpinner').hide();
                                  window.location.replace("/error");
                              }
                              console.log(returnedData);
                            }).fail(function() {
                            $('#sendSpinner').hide();
                            console.log("error nft");
                        });


                      } else {

                        $.post('/sendrawtx',
                            {
                                fungible: 'False', token: symbol, id: nftId[0], dest: addressTo.value, chain: selected_chain , destChain: selectedDestinationChain, isName: isName
                            },
                            function (returnedData) {
                              if (returnedData !== "") {
                                  //$('#sendSpinner').hide();
                                  window.location.replace("/waiting/" + returnedData);
                              } else {
                                  //$('#sendSpinner').hide();
                                  window.location.replace("/error");
                              }
                              console.log(returnedData);
                            }).fail(function() {
                            $('#sendSpinner').hide();
                            console.log("error nft");
                        });

                      }

                    }

                } else {
                  $('#sendSpinner').hide();
                }
            }
        });
    }

    function selectTokens() {

    selected_chain = $( "#selectChain" ).val();

		let tokenBox = $('#select-token-form');
		tokenBox.find('option').remove();

    formatedAmountKCAL = 0;
		{{#each chainTokens}}
		if ('{{ChainName}}' === selected_chain) {
      formatedAmount = numberWithCommas('{{Amount}}');
			tokenBox.append($('<option>', {value:'{{Symbol}}', text:'{{Name}} ({{Symbol}}) - ' + formatedAmount}));
		}
    if ('{{Symbol}}' === 'KCAL') {
      formatedAmountKCAL = numberWithCommas('{{Amount}}');
		}
		{{/each}}

		$('.chain_token').hide();
		$('.chain_'+selected_chain).show();

		$('#selectChain option:first').prop('selected',true);

        }

		function saveToken() {

        var backgroundImg = '-webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgb(23,176,231)), color-stop(0, rgb(167, 160, 160)))';
        $("#slider-amount").css("background-image", backgroundImg);
        $(".button-container.zero").addClass("active");
        $(".button-container.quarter").removeClass("active");
        $(".button-container.half").removeClass("active");
        $(".button-container.three-quarter").removeClass("active");
        $(".button-container.max").removeClass("active");

		    selected_symbol = $('#select-token-form').val();
		    {{#each chainTokens}}
            if ('{{Symbol}}' === selected_symbol && selected_chain === '{{ChainName}}') {
                max_amount = numberWithCommas('{{Amount}}');
                if ('{{Fungible}}' === 'False') {
                    $("#multiple-nft-selected").show();
                    isFungible = false;
                    $('#amountGroup').hide();
                    $('#nft-id-group').show();

                    let nftIds = $('#select-id');

                    nftIds.find('option').remove();

                    sendcustomNFTlength = sendcustomNFT.length
                    for (i = 0; i < sendcustomNFTlength; i++) {
                      if (sendcustomNFT[i].name) {
                        name = (sendcustomNFT[i].name).replace('<br/>', ' • ');
                      } else {
                        name = sendcustomNFT[i].name
                      }
                      if (i == 0) {
                          nftIds.append($('<option>', { value: sendcustomNFT[i].id, "selected": "selected", "data-image": sendcustomNFT[i].image, text: ' • ' + name + ' | Mint #' + sendcustomNFT[i].mint + ' | ' + sendcustomNFT[i].type + sendcustomNFT[i].rarity}));
                      } else {
                          nftIds.append($('<option>', { value: sendcustomNFT[i].id, "data-image": sendcustomNFT[i].image, text: ' • ' + name + ' | Mint #' + sendcustomNFT[i].mint + ' | ' + sendcustomNFT[i].type + sendcustomNFT[i].rarity}));
                      }
                    }
                    $("#select-id").msDropDown({enableCheckbox:true});

                    // Handle dropdown close and trigger text NFT count
                    var observer = new MutationObserver(function(mutations) {
                      var oHandler = $('#select-id').msDropDown();
                      if (oHandler[0].selectedOptions.length > 1) {
                        document.getElementById("multiple-nft-selected").innerHTML = '<span style="font-style:italic"><u>note</u>: a total of ' + oHandler[0].selectedOptions.length + ' NFTs are selected.</span>';
                      } else if (oHandler[0].selectedOptions.length == 1) {
                        document.getElementById("multiple-nft-selected").innerHTML = '<span style="font-style:italic"><u>note</u>: a single NFT is selected.</span>';
                      } else {
                        document.getElementById("multiple-nft-selected").innerHTML = '<span style="font-style:italic"><u>note</u>: please select a NFT above.</span>';
                      }

                    });
                    var target = document.querySelector('#select-id_child');
                    observer.observe(target, {
                      attributes: true
                    });

                    return;
                } else {
                    $("#multiple-nft-selected").hide();
                    var existingText = $('#select-token-form option:selected').text();
                    if (!existingText.includes(max_amount)) {
                        $('#select-token-form option:selected').text(existingText + " - " + max_amount);
                    }
                    $('#amountGroup').show();
                    $('#nft-id-group').hide();
                    isFungible = true;

                }
            }
		    {{/each}}

        // reinit amount
        $("#amount").val('');
        $("#slider-amount").val(0);

		}

    // function format rarity
    function formatRarity(rarity) {

      switch(rarity)
      {
        case 1: return 'Consumer';
        case 2: return 'Industrial';
        case 3: return 'Professional';
        case 4: return 'Custom';
        case 5: return 'Collector';
        case 6: return 'Unique';
        default: return 'Common';
      }

    }

    function getMax() {
      $("#amount").val(parseFloat(max_amount.replace(',','')));
      document.getElementById("slider-amount").value = 100;
      var backgroundImg = '-webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(1, rgb(23,176,231)), color-stop(1, rgb(167, 160, 160)))';
      $("#slider-amount").css("background-image", backgroundImg);
      $(".button-container.zero").addClass("active");
      $(".button-container.quarter").addClass("active");
      $(".button-container.half").addClass("active");
      $(".button-container.three-quarter").addClass("active");
      $(".button-container.max").addClass("active");
    }

    function round(value, decimals) {
      return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
    }

</script>
{{#else}}
<div class="alert alert-info" role="alert" id="sendnewaccount">
    This address is still new and does not have any assets yet.
</div>
{{/if}}
