<h3 class="tab-title">Send assets</h3>
{{#if holdings}}

<div class="container send">
    <div id="sendSpinner" class="loading">Loading&#8230;</div>
    <div class="stepwizard" style="display:none;">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle" style="color: white; background-color: #107dac">1</a>
                <p>Chain</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" style="color: white; background-color: #107dac" disabled="disabled">2</a>
                <p>Asset</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" style="color: white; background-color: #107dac" disabled="disabled">3</a>
                <p>Address</p>
            </div>
        </div>
    </div>
    <form role="form" onsubmit="validateForm()">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 1) Select chain</h4>
                        <select id="selectChain">
                            {{#each availableChains}}
                              {{#if this == 'main'}}
                              <option>{{this}}</option>
                              {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <button class="btn-primary nextBtn btn-lg button" type="button" onclick="selectTokens()">NEXT</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 2) Select token</h4>
                        <select id="select-token-form" onchange="saveToken()"></select>
                    </div>
                    <div class="form-group" id="amountGroup">
                        <h4 class="control-label send-label">Step 3) Enter amount</h4>
                        <input onfocusin="saveToken()" class="form-control parameters-input" maxlength="100" type="number" required="required" placeholder="Enter amount" id="amount" />
                    </div>
                    <div class="form-group" id="nft-id-group" hidden>
                        <h4 class="control-label send-label">Step 3) Select NFT</h4>
                        <select id="select-id"></select>
                    </div>
                    <button class="btn-primary prevBtn btn-lg button" type="button">PREVIOUS</button>
                    <button class="btn-primary nextBtn btn-lg button" type="button" id="amount-next">NEXT</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 4) Select destination address</h4>
                        <input maxlength="100" class="form-control parameters-input" type="text" required="required" id="destination" placeholder="Enter destination address" />
                    </div>
                    <div class="form-group">
                        <h4 class="control-label send-label">Step 5) Select destination chain</h4>
                        <select id="destinationChain" style="margin-top: 0;">
                            {{#each chains}}
                              {{#if Name == 'main'}}
                              <option>{{Name}}</option>
                              {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <button class="btn-primary prevBtn btn-lg button" type="button">PREVIOUS</button>
                    <button class="btn-success btn-lg button" type="button" onclick="confirmSend()" id="send-assets">SEND ASSETS</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var selected_chain = null;
    var selected_symbol = null;
    var isFungible = 'True';
    var max_amount = 0;

    function validateForm(e)
    {
        e.preventDefault();
    }

    $(document).ready(function () {

        $('#sendSpinner').hide();

        // force max 8 decimals
        $( "#amount" ).blur(function() {
          if (this.value) {
            this.value = round(this.value,8);
          }
        });
        function round(value, decimals) {
          return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
        }

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function(){

          var curStep = $(this).closest(".setup-content"),
              curStepBtn = curStep.attr("id");

          if (curStepBtn === "step-2") {

            $("#step-1").show();
            $("#step-2").hide();

          } else {

            $("#step-2").show();
            $("#step-3").hide();

          }

        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            if (curStepBtn === "step-2") {
                //saveToken();
                nftId = $("#select-id").val();
                let amount = $("#amount").val();
                if (parseFloat(amount) > parseFloat(max_amount.replace(/\,/g,''))) {
                    bootbox.alert("Insufficient funds");
                    return;
                }
            }

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');


        // Trigger send assets button on press enter
        var input = document.getElementById("destination");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send-assets").click();
            }
        });

        // Trigger next button on press enter
        var input = document.getElementById("amount");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("amount-next").click();
            }
        });

        arrayNFT = ''
        sendcustomNFT = []
        {{#each chainTokens}}
            {{#each Ids}}
            arrayNFT += '{{this}}' + ',';
            {{/each}}
        {{/each}}
        arrayNFTFormatted = arrayNFT.substring(0, arrayNFT.length - 1)

        if (arrayNFTFormatted != '') {

          $.ajax({
              xhrFields: {
                  withCredentials: !1
              },
              cache: !1,
              crossDomain: !0,
              type: 'POST',
              dataType: 'json',
              data: JSON.stringify({ids: arrayNFTFormatted}),
              // final url pricing
              url: 'https://www.22series.com/api/store/nft',
              success: function(returnedDataTX) {
                dataNFT = returnedDataTX;
                Object.keys(dataNFT).forEach(key => {
                  if (dataNFT[key].item_info) {
                    name = dataNFT[key].item_info.name_english
                  } else {
                    name = 'goati server error';
                  }
                  sendcustomNFT.push({
                      id: key,
                      item: dataNFT[key].item,
                      type: dataNFT[key].item_info.display_type_english,
                      name: ' • ' + name
                  });
                  sendcustomNFT.sort(function(a, b) {
                    return b.item- a.item;
                  })
                });
              }})

        }

    });

    function confirmSend() {
        let amount = $("#amount").val().replace(/\,/g,'');
        let target_address = $("#destination").val();

        if (isFungible) {
            if (amount <= 0) {
                bootbox.alert("Please insert a valid amount!");
                return;
            }

            if (parseFloat(amount) > parseFloat(max_amount.replace(/\,/g,''))) {
                bootbox.alert("Insufficient funds");
                return;
            }
        }
        var selectedDestinationChain = $("#destinationChain").val();
        var isValid = false;

        if (formatedAmountKCAL == 0) {
            bootbox.alert("You need a small drop of KCAL to send transactions!");
            return;
        }

        if (target_address.length == 0) {
            bootbox.alert("Please insert an destination address!");
            return;
        }

        if (target_address.length < 4) {
            bootbox.alert("Please insert a valid destination address!");
            return;
        }

        if (target_address.startsWith('P')) {
            isName = 'False';
        } else {
            isName = 'True';
        }

        if (selected_chain === selectedDestinationChain) {
            if (target_address === '{{address}}') {
                bootbox.alert("The destination address cannot be the same as your own address!");
                return;
            }
        }

        if (isFungible) {
          descNFTConfirm = '';
        } else {
          descNFTConfirm = ' - ' + $("#select-id option:selected").text();
        }

        $('#sendSpinner').show();
        bootbox.confirm({
            title: "Transfer confirmation",
            message: "Send <strong>" +
                numberWithCommas(amount) +
                " " +
                selected_symbol +
                descNFTConfirm +
                "</strong> to address <strong>" +
                target_address +
                "</strong>?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function(result) {

                if (result) {
                    console.log('This was logged in the callback: ' + result);

                    var symbol = selected_symbol;
                    var amount = document.getElementById("amount");
                    var addressTo = document.getElementById("destination");
                    if (isFungible) {
                        $.post('/sendrawtx',
                            {
                                fungible: 'True', token: symbol, amount: amount.value, dest: addressTo.value, chain: selected_chain , destChain: selectedDestinationChain, isName: isName
                            },
                            function (returnedData) {
                                setTimeout(function(){ $('#sendSpinner').hide(); }, 3000);
                                if (returnedData !== "") {
                                    window.location.replace("/waiting/" + returnedData);
                                } else {
                                    window.location.replace("/error");
                                }
                                console.log(returnedData);
                            }).fail(function() {
                            $('#sendSpinner').hide();
                            console.log("error");
                            });
                    } else {
                        $.post('/sendrawtx',
                            {
                                fungible: 'False', token: symbol, id: nftId, dest: addressTo.value, chain: selected_chain , destChain: selectedDestinationChain, isName: isName
                            },
                            function (returnedData) {
                                setTimeout(function(){ $('#sendSpinner').hide(); }, 3000);
                                if (returnedData !== "") {
                                    window.location.replace("/waiting/" + returnedData);
                                } else {
                                    window.location.replace("/error");
                                }
                                console.log(returnedData);
                            }).fail(function() {
                            $('#sendSpinner').hide();
                            console.log("error nft");
                        });
                    }

                } else {
                  $('#sendSpinner').hide();
                }
            }
        });
    }

    function selectTokens() {

    selected_chain = $( "#selectChain" ).val();

		let tokenBox = $('#select-token-form');
		tokenBox.find('option').remove();

    formatedAmountKCAL = 0;
		{{#each chainTokens}}
		if ('{{ChainName}}' === selected_chain) {
      formatedAmount = numberWithCommas('{{Amount}}');
			tokenBox.append($('<option>', {value:'{{Symbol}}', text:'{{Name}} ({{Symbol}}) - ' + formatedAmount}));
		}
    if ('{{Symbol}}' === 'KCAL') {
      formatedAmountKCAL = numberWithCommas('{{Amount}}');
		}
		{{/each}}

		$('.chain_token').hide();
		$('.chain_'+selected_chain).show();

		$('#selectChain option:first').prop('selected',true);

        }

		function saveToken() {
		    selected_symbol = $('#select-token-form').val();
		    {{#each chainTokens}}
            if ('{{Symbol}}' === selected_symbol && selected_chain === '{{ChainName}}') {
                max_amount = numberWithCommas('{{Amount}}');
                if ('{{Fungible}}' === 'False') {
                    isFungible = false;
                    $('#amountGroup').hide();
                    $('#nft-id-group').show();

                    let nftIds = $('#select-id');

                    nftIds.find('option').remove();

                    sendcustomNFTlength = sendcustomNFT.length
                    for (i = 0; i < sendcustomNFTlength; i++) {
                      console.log(sendcustomNFT[i])
                      if (sendcustomNFT[i].name) {
                        name = (sendcustomNFT[i].name).replace('<br/>', ' • ');
                      } else {
                        name = sendcustomNFT[i].name
                      }
                      nftIds.append($('<option>', { value: sendcustomNFT[i].id, text: 'NFT #' + sendcustomNFT[i].item + ' • ' + sendcustomNFT[i].type + name}));
                    }
                    return;
                } else {
                    var existingText = $('#select-token-form option:selected').text();
                    if (!existingText.includes(max_amount)) {
                        $('#select-token-form option:selected').text(existingText + " - " + max_amount);
                    }
                    $('#amountGroup').show();
                    $('#nft-id-group').hide();
                    isFungible = true;
                }
            }
		    {{/each}}
		}

</script>
{{#else}}
<div class="alert alert-info" role="alert" id="sendnewaccount">
    This address is still new and does not have any assets yet.
</div>
{{/if}}
