<h3 class="tab-title">Settings</h3>

<div class="settings">
  <div class="wrapper-settings" style="margin-top:0;">
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-dollar-sign"></i></div>
      <span class="settings-row-name">CURRENCY</span>
      <div class="settings-row-item">
        <select id="selectcurrency" class="bootstrap-select">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="CAD">CAD</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="AUD">AUD</option>
        </select>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-adjust"></i></div>
      <span class="settings-row-name">DARK THEME</span>
      <div>
        <input class="tgl tgl-flat" id="cb4" type="checkbox" onclick="toggleNightMode()">
        <label class="tgl-btn" for="cb4"></label>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-cog"></i></div>
      <span class="settings-row-name">NETWORK</span>
      <div class="settings-row-item">
        <select id="selectnetwork" class="bootstrap-select" style="text-transform: capitalize;">
            {{#each networks}}
            <option value="{{Name}}" {{#if IsEnabled}} {{#else}} disabled {{/if}}>{{Name}}</option>
            {{/each}}
        </select>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-globe"></i></div>
      <span class="settings-row-name">EXPLORER URL</span>
      <div class="settings-row-item">
        <input type="text" class="form-control" id="explurl">
      </div>
      <div class="settings-row-item">
        <button type="button" id="explorer-url-update" class="button" onclick="updateExplorer()">SAVE</button>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-check-circle"></i></div>
      <span class="settings-row-name">RPC NODE SELECTION</span>
      <div style="display:flex;">
        <span id="manual-text" style="display:inline-block;">MANUAL</span>
        <input class="tgl tgl-flat" id="cb5" type="checkbox" onclick="toggleRPCMode()">
        <label style="display:inline-block;margin-left:1em;margin-right:1em;" class="tgl-btn" for="cb5"></label>
        <span id="auto-text" class="highlighted" style="display:inline-block;">AUTOMATIC</span>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-server"></i></div>
      <span class="settings-row-name">RPC NODE URL</span>
      <div class="settings-row-item">
        <input type="text" class="form-control" id="rpcurl">
        <i style="display:inline-block;margin-right:.5em;" id="refresh-rpc" class="fas fa-sync fa-sync-rpc" onclick="getRPCList()"></i>
        <select id="rpcdropdown" class="bootstrap-select">
        </select>
      </div>
      <div class="settings-row-item">
        <button type="button" id="rpc-url-update" class="button" onclick="updateRPC()">SAVE</button>
      </div>
    </div>
  </div>
  <div style="margin: 2em auto;width:750px;display:none">
    <div class="center" style="border:0;padding:1em;font-size: 1.2em;">
      <div style="display: flex;justify-content: center;">
        <span style="display: inline-block;">Show Advanced Settings</span>
        <div style="display: inline-block;margin-left:1em;font-size:1em;">
          <input class="tgl tgl-flat" type="checkbox" id="check-advanced">
          <label class="tgl-btn" for="check-advanced"></label>
        </div>
      </div>
      <div id="toggle-advanced" style="-webkit-animation: fadeIn 1s;animation: fadeIn 1s;display:none;">
        <div class="alert alert-warning" style="overflow: auto;margin-top:1em;margin-bottom:1em;">
            This setting allows to convert this wallet to a multisignature wallet.<br>
            This is for advanced users and should only be done with <strong> extreme precaution</strong>!
        </div>
        <div id="multisig-on">
        </div>
        <div id="multisig-off" style="width: 600px;margin: 0 auto;">
          <span style="float:left;">
            Number of addresses managing this multisignature wallet:
          </span>
          <select id="multisig-qty" class="bootstrap-select" style="float: right;width: 70px;text-align-last: center;">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
          <br><br>
          <div id="multisig-sign-wrapper" style="display:none;">
            <span style="float:left;">
              Number of signatures required for withdrawals:
            </span>
            <select id="multisig-sign" class="bootstrap-select" style="float: right;width: 70px;text-align-last: center;">
            </select>
          </div>
          <div id="address-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function() {

  getSettings();
  initialRPCcall = true;
  getRPCList();

});

function getSettings() {

  // Get setting values on load
  $.post('/config',
        {
            mode: 'get',
        },
    function (returnedData) {
      if (JSON.parse(returnedData) !== null) {
         // if returned data, get network and currency
         var e = document.getElementById("selectnetwork");
         var f = document.getElementById("selectcurrency");
         var g = document.getElementById("rpcurl");
         g.value = JSON.parse(returnedData).rpc_url;
         var h = document.getElementById("explurl");
         h.value = JSON.parse(returnedData).explorer_url;
         var j = document.getElementById("cb5");
         if (JSON.parse(returnedData).rpc_mode == 'manual') {
           j.checked = false;
           $('#manual-text').toggleClass('highlighted');
           $('#auto-text').toggleClass('highlighted');
           $('#rpcurl').show();
           $('#rpcdropdown').hide();
           $('#refresh-rpc').hide();
         } else {
           j.checked = true;
         }
         function setSelectedIndex(s, v) {
          for ( var i = 0; i < s.options.length; i++ ) {
              if ( s.options[i].text == v ) {
                  s.options[i].selected = true;
                  return;
              }
          }
         }
         // init network and currencies based on what /config returns
         setSelectedIndex(e,JSON.parse(returnedData).network);
         setSelectedIndex(f,JSON.parse(returnedData).currency);
      }
    }).fail(function(e) {
       console.log(e);
    });
}


  // On network change event
  $("#selectnetwork").change(function () {
    var e = document.getElementById("selectnetwork");
    var network = e.options[e.selectedIndex].value;
    var g = document.getElementById("rpcurl");
    var gAuto = document.getElementById("rpcdropdown");
    var url = g.value;
    var urlAuto = gAuto.options[gAuto.selectedIndex].value;
    var h = document.getElementById("explurl");
    var expl = h.value;
    var f = document.getElementById("selectcurrency");
    var currency = f.options[f.selectedIndex].value;
    var selecttheme = document.getElementById('cb4').checked;
    var rpcmode = document.getElementById('cb5').checked;
    if (selecttheme == true) {
      if (rpcmode == true) {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
      } else {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
      }
    } else {
      if (rpcmode == true) {
        config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
      } else {
        config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
      }
    }
    // post new config
    $.post('/config',
      {
          mode: 'set',
          config: JSON.stringify(config)
      },
      function (returnedData) {

      }).fail(function(e) {
         console.log(e);
      });
   })

   // On rpc url click event
   function updateRPC() {

       var e = document.getElementById("selectnetwork");
       var network = e.options[e.selectedIndex].value;
       var g = document.getElementById("rpcurl");
       var gAuto = document.getElementById("rpcdropdown");
       var url = g.value;
       var urlAuto = gAuto.options[gAuto.selectedIndex].value;
       var h = document.getElementById("explurl");
       var expl = h.value;
       var f = document.getElementById("selectcurrency");
       var currency = f.options[f.selectedIndex].value;
       var selecttheme = document.getElementById('cb4').checked;
       var rpcmode = document.getElementById('cb5').checked;
       if (selecttheme == true) {
         if (rpcmode == true) {
           config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
         } else {
           config = {network: network, currency: currency, theme: 'dark', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
         }
       } else {
         if (rpcmode == true) {
           config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
         } else {
           config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
         }
       }
       // post new config
       $.post('/config',
         {
             mode: 'set',
             config: JSON.stringify(config)
         },
         function (returnedData) {
           bootbox.alert("RPC URL updated!");
         }).fail(function(e) {
            console.log(e);
         });

   }

   // On explorer url click event
   function updateExplorer() {

     var e = document.getElementById("selectnetwork");
     var network = e.options[e.selectedIndex].value;
     var g = document.getElementById("rpcurl");
     var gAuto = document.getElementById("rpcdropdown");
     var url = g.value;
     var urlAuto = gAuto.options[gAuto.selectedIndex].value;
     var h = document.getElementById("explurl");
     var expl = h.value;
     var f = document.getElementById("selectcurrency");
     var currency = f.options[f.selectedIndex].value;
     var selecttheme = document.getElementById('cb4').checked;
     var rpcmode = document.getElementById('cb5').checked;
     if (selecttheme == true) {
       if (rpcmode == true) {
         config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
       } else {
         config = {network: network, currency: currency, theme: 'dark', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
       }
     } else {
       if (rpcmode == true) {
         config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
       } else {
         config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
       }
     }
     // post new config
     $.post('/config',
       {
           mode: 'set',
           config: JSON.stringify(config)
       },
       function (returnedData) {
          bootbox.alert("Explorer URL updated!");
       }).fail(function(e) {
          console.log(e);
       });

   }

   // Trigger update button on press enter
   var inputrpc = document.getElementById("rpcurl");
   inputrpc.addEventListener("keyup", function(event) {
       if (event.keyCode === 13) {
           //event.preventDefault();
           document.getElementById("rpc-url-update").click();
       }
   });

   // Trigger update button on press enter
   var inputexplorer = document.getElementById("explurl");
   inputexplorer.addEventListener("keyup", function(event) {
       if (event.keyCode === 13) {
           //event.preventDefault();
           document.getElementById("explorer-url-update").click();
       }
   });

   // On currency change event
   $("#selectcurrency").change(function () {
     var e = document.getElementById("selectnetwork");
     var network = e.options[e.selectedIndex].value;
     var g = document.getElementById("rpcurl");
     var gAuto = document.getElementById("rpcdropdown");
     var url = g.value;
     var urlAuto = gAuto.options[gAuto.selectedIndex].value;
     var h = document.getElementById("explurl");
     var expl = h.value;
     var f = document.getElementById("selectcurrency");
     var currency = f.options[f.selectedIndex].value;
     var selecttheme = document.getElementById('cb4').checked;
     var rpcmode = document.getElementById('cb5').checked;
     if (selecttheme == true) {
       if (rpcmode == true) {
         config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
       } else {
         config = {network: network, currency: currency, theme: 'dark', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
       }
     } else {
       if (rpcmode == true) {
         config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
       } else {
         config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
       }
     }
     console.log(config)
     // set session storage currency
     localStorage.setItem('currency', currency);
     // get price based on the new currency
     getPricing();
     // post new config
     $.post('/config',
       {
           mode: 'set',
           config: JSON.stringify(config)
       },
       function (returnedData) {

       }).fail(function(e) {
          console.log(e);
       });
    })

  // On theme change event
  const selecttheme = document.getElementById('cb4');
  selecttheme.addEventListener('change', (event) => {
    // if input already checked
    if (event.target.checked) {
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var g = document.getElementById("rpcurl");
      var gAuto = document.getElementById("rpcdropdown");
      var url = g.value;
      var urlAuto = gAuto.options[gAuto.selectedIndex].value;
      var h = document.getElementById("explurl");
      var expl = h.value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      var rpcmode = document.getElementById('cb5').checked;
      if (rpcmode == true) {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
      } else {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
      }
      // post new config
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    } else {
      // if input not already checked
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var g = document.getElementById("rpcurl");
      var url = g.value;
      var h = document.getElementById("explurl");
      var expl = h.value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      var rpcmode = document.getElementById('cb5').checked;
      if (rpcmode == true) {
        config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'automatic'}
      } else {
        config = {network: network, currency: currency, theme: 'light', rpc_url: url, explorer_url: expl, rpc_mode: 'manual'}
      }
      // post new config
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    }
  })

  // On rpc mode change event
  const selectrpcmode = document.getElementById('cb5');
  selectrpcmode.addEventListener('change', (event) => {
    // if input already checked
    if (event.target.checked) {
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var g = document.getElementById("rpcurl");
      var gAuto = document.getElementById("rpcdropdown");
      var url = g.value;
      var urlAuto = gAuto.options[gAuto.selectedIndex].value;
      var h = document.getElementById("explurl");
      var expl = h.value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      var selecttheme = document.getElementById('cb4').checked;
      if (selecttheme == true) {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
      } else {
        config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'automatic'}
      }
      // post new config
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    } else {
      // if input not already checked
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var g = document.getElementById("rpcurl");
      var url = g.value;
      var h = document.getElementById("explurl");
      var expl = h.value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      var selecttheme = document.getElementById('cb4').checked;
      if (selecttheme == true) {
        config = {network: network, currency: currency, theme: 'dark', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'manual'}
      } else {
        config = {network: network, currency: currency, theme: 'light', rpc_url: urlAuto, explorer_url: expl, rpc_mode: 'manual'}
      }
      // post new config
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    }
  })

  // Toggle on/off advanced settings
  const selectadvanced = document.getElementById('check-advanced');
  selectadvanced.addEventListener('change', (event) => {
    if (event.target.checked) {
      // Temp multisig disabled
      document.getElementById("toggle-advanced").innerHTML = '<h4 style="margin-top:2em;">Not available yet, coming soon!</h4>'
      $("#toggle-advanced").fadeIn();
    } else {
      $("#toggle-advanced").fadeOut();
    }
  })

  // Multisignature dropdown on change event
  $("#multisig-qty").change(function () {

    $("#multisig-sign-wrapper").hide();
    // start with number of addresses required
    var e = document.getElementById("multisig-qty");
    var eselected = e .options[e .selectedIndex].value;
    var multisigqty = [];
    // start building the future dropdown for signature count based on qty
    for (i = 0; i < e.options.length;i++) {
      // build array up to signature count <= number of addresses
      if (e.options[i].value <= eselected) {
        multisigqty.push(e.options[i].value)
      }
    }

    var f = document.getElementById("multisig-sign");
    f.innerHTML = "";
    // loop over the number of addresses
    for (i = 0; i < multisigqty.length; i++) {
      var opt = multisigqty[i];
      // for each number of address picked, fill the dropdown
      f.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
    }

    fetchValueInputs = '';
    var e = document.getElementById("multisig-qty");
    var quantity = e.options[e.selectedIndex].value,
        i = 0;
    // build the div/input based on the number of addresses
    for (i; i < quantity; i += 1) {
      fetchValueInputs += 'Address ' + [i+1] + '<div><input id="addressinput-' + [i+1] + '" type="text" class="form-control " placeholder="Enter address ' + [i+1] + '"></div>'
    }
    // add the confirm button
    fetchValueInputs += '<button id="confirmrun-' + [i] + '" style="font-size:.9em;margin-top:2em;" type="button" required class="button" onclick="confirmRun(this.id)">CONVERT TO<br>MULTISIGNATURE WALLET</button>'

    document.getElementById("address-input").innerHTML = fetchValueInputs;
    $("#multisig-sign-wrapper").show();

   });

// confirm conversion to multisig
function confirmRun(quantity) {

  if (1 == 1) {
      bootbox.alert("Functionality coming soon!");
      return;
  }

  var e = document.getElementById("multisig-qty");
  qty = e.options[e.selectedIndex].value;
  max = document.getElementById("multisig-max").value;
  var g = document.getElementById("multisig-sign");
  sign = g.options[g.selectedIndex].value;
  quantity = quantity.substr(11);

  var i = 0;
  var params = [];
  // start building the params to be sent
  for (i; i < quantity; i += 1) {
    paramsaddress = ((document.getElementById('addressinput-' + [i+1])).value)
    params[i] = { address: paramsaddress, order: i+1, minsignature: sign, maxwithoutsignature: max }
  }
  // todo actual multisig params to send
  console.log(params)

}

</script>
