
<h4 class="tab-title">Settings</h4>

<div class="settings">
  <div class="wrapper-settings" style="margin-top:0;">
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-cog"></i></div>
      <span class="settings-row-name">NETWORK</span>
      <div class="settings-row-item">
        <select id="selectnetwork" class="bootstrap-select" style="text-transform: capitalize;">
            {{#each networks}}
            <option value="{{Name}}" {{#if IsEnabled}} {{#else}} disabled {{/if}}>{{Name}}</option>
            {{/each}}
        </select>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-dollar-sign"></i></div>
      <span class="settings-row-name">CURRENCY</span>
      <div class="settings-row-item">
        <select id="selectcurrency" class="bootstrap-select">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="CAD">CAD</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="AUD">AUD</option>
        </select>
      </div>
    </div>
    <div class="settings-row">
      <div class="settings-row-icon"><i class="fas fa-adjust"></i></div>
      <span class="settings-row-name">DARK THEME</span>
      <div>
        <input class="tgl tgl-flat" id="cb4" type="checkbox" onclick="toggleNightMode()">
        <label class="tgl-btn" for="cb4"></label>
      </div>
    </div>
  </div>
  <div style="margin: 2em auto;width:750px;">
    <div style="text-align:center;border:0;padding:1em;font-size: 1.2em;">
      <div style="display: flex;justify-content: center;">
        <span style="display: inline-block;">Show Advanced Settings</span>
        <div style="display: inline-block;margin-left:1em;font-size:1em;">
          <input class="tgl tgl-flat" type="checkbox" id="check-advanced">
          <label class="tgl-btn" for="check-advanced"></label>
        </div>
      </div>
      <div id="toggle-advanced" style="-webkit-animation: fadeIn 1s;animation: fadeIn 1s;display:none;">
        <div class="alert alert-warning" style="overflow: auto;margin-top:1em;margin-bottom:1em;">
            This setting allows to convert this regular wallet to a multi signature wallet.<br>
            This is for advanced users and should only be done with <strong> extreme precaution</strong>!
        </div>
        <div id="multisig-on">
        </div>
        <div id="multisig-off" style="width: 600px;margin: 0 auto;">
          <span style="float:left;">
            Number of addresses managing this multi-signature wallet:
          </span>
          <select id="multisig-qty" class="bootstrap-select" style="float: right;width: 70px;text-align-last: center;">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
          <br><br>
          <div id="multisig-sign-wrapper" style="display:none;">
            <span style="float:left;">
              Maximum withdrawal amount per day without multi-signature:
            </span>
            <input id="multisig-max" class="form-control" type="text" style="float: right;width: 70px;text-align-last: center;height: 2.1em;">
            <br><br>
            <span style="float:left;">
              Number of signatures required for withdrawals:
            </span>
            <select id="multisig-sign" class="bootstrap-select" style="float: right;width: 70px;text-align-last: center;;">
            </select>
          </div>
          <div id="address-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(

    getSettings()

  );

  function getSettings() {

    // Update setting values on load
    $.post('/config',
          {
              mode: 'get',
          },
      function (returnedData) {
        if (JSON.parse(returnedData) !== null) {
           var e = document.getElementById("selectnetwork");
           var f = document.getElementById("selectcurrency");
           function setSelectedIndex(s, v) {
            for ( var i = 0; i < s.options.length; i++ ) {
                if ( s.options[i].text == v ) {
                    s.options[i].selected = true;
                    return;
                }
            }
           }
           setSelectedIndex(e,JSON.parse(returnedData).network);
           setSelectedIndex(f,JSON.parse(returnedData).currency);
        }
      }).fail(function(e) {
         console.log(e);
      });
  }

  // Network Change
  $("#selectnetwork").change(function () {
    var e = document.getElementById("selectnetwork");
    var network = e.options[e.selectedIndex].value;
    var f = document.getElementById("selectcurrency");
    var currency = f.options[f.selectedIndex].value;
    var selecttheme = document.getElementById('cb4').checked;
    if (selecttheme = true) {
      config = {network: network, currency: currency, theme: 'dark'}
    } else {
      config = {network: network, currency: currency, theme: 'light'}
    }
    $.post('/config',
      {
          mode: 'set',
          config: JSON.stringify(config)
      },
      function (returnedData) {

      }).fail(function(e) {
         console.log(e);
      });
   })

   // Currency Change
   $("#selectcurrency").change(function () {
     var e = document.getElementById("selectnetwork");
     var network = e.options[e.selectedIndex].value;
     var f = document.getElementById("selectcurrency");
     var currency = f.options[f.selectedIndex].value;
     var selecttheme = document.getElementById('cb4').checked;
     if (selecttheme = true) {
       config = {network: network, currency: currency, theme: 'dark'}
     } else {
       config = {network: network, currency: currency, theme: 'light'}
     }
     localStorage.setItem('currency', currency);
     $.post('/config',
       {
           mode: 'set',
           config: JSON.stringify(config)
       },
       function (returnedData) {

       }).fail(function(e) {
          console.log(e);
       });
    })

  // Theme Change
  const selecttheme = document.getElementById('cb4');
  selecttheme.addEventListener('change', (event) => {
    if (event.target.checked) {
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      config = {network: network, currency: currency, theme: 'dark'}
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    } else {
      var e = document.getElementById("selectnetwork");
      var network = e.options[e.selectedIndex].value;
      var f = document.getElementById("selectcurrency");
      var currency = f.options[f.selectedIndex].value;
      config = {network: network, currency: currency, theme: 'light'}
      $.post('/config',
        {
            mode: 'set',
            config: JSON.stringify(config)
        },
        function (returnedData) {

        }).fail(function(e) {
           console.log(e);
        });
    }
  })

  // Toggle Advanced Settings
  const selectadvanced = document.getElementById('check-advanced');
  selectadvanced.addEventListener('change', (event) => {
    if (event.target.checked) {
      $("#toggle-advanced").fadeIn();
    } else {
      $("#toggle-advanced").fadeOut();
    }
  })

  // Multi signature creation
  $("#multisig-qty").change(function () {

    $("#multisig-sign-wrapper").hide();
    var e = document.getElementById("multisig-qty");
    var eselected = e .options[e .selectedIndex].value;
    var multisigqty = [];
    for (i = 0; i < e.options.length;i++) {
      console.log(e.options[i].value)
      if (e.options[i].value <= eselected) {
        multisigqty.push(e.options[i].value)
      }
    }

    var f = document.getElementById("multisig-sign");
    f.innerHTML = "";
    for (i = 0; i < multisigqty.length; i++) {
      var opt = multisigqty[i];
      f.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
    }

    fetchValueInputs = '';
    var e = document.getElementById("multisig-qty");
    var quantity = e.options[e.selectedIndex].value,
        i = 0;
    for (i; i < quantity; i += 1) {
      fetchValueInputs += 'Address ' + [i+1] + '<div><input id="addressinput-' + [i+1] + '" type="text" class="form-control " placeholder="Enter address ' + [i+1] + '"</div>'
    }

    fetchValueInputs += '<button id="confirmrun-' + [i] + '" style="font-size:.9em;margin-top:2em;" type="button" required class="button" onclick="confirmRun(this.id)">CONVERT TO<br>MULTISIGNATURE WALLET</button>'

    document.getElementById("address-input").innerHTML = fetchValueInputs;
    $("#multisig-sign-wrapper").show();

   });

   function confirmRun(quantity) {

     var e = document.getElementById("multisig-qty");
     qty = e.options[e.selectedIndex].value;
     max = document.getElementById("multisig-max").value;
     var g = document.getElementById("multisig-sign");
     sign = g.options[g.selectedIndex].value;
     quantity = quantity.substr(11);

     var i = 0;
     var params = [];
     for (i; i < quantity; i += 1) {
       paramsaddress = ((document.getElementById('addressinput-' + [i+1])).value)
       params[i] = { address: paramsaddress, order: i+1, minsignature: sign, maxwithoutsignature: max }
     }

     console.log(params)

   }

</script>
