<h3 class="tab-title">Swap assets</h3>

<div class="swap">
    <div id="sendSpinner" class="loading">Loading&#8230;</div>
    <div style="font-size:2em;display:flex;justify-content: center;">
      <span style="margin:1em;display:inline-block;" id="cosmicswap">Cosmic Swap</span>
      <div style="margin-top:1em;display:inline-block;">
        <input class="tgl tgl-flat" id="cb4" type="checkbox" onclick="toggleSwap()">
        <label class="tgl-btn" style="margin: 0 auto;" for="cb4"></label>
      </div>
      <span style="margin:1em;display:inline-block;" id="chainswap" class="highlighted">Chain Swap</span>
    </div>
    <div id="chainswapdiv" class="container" style="margin-top:0">
      <div id="chainswapdesc" style="margin:1em 1em 2em 1em;font-style:italic;color:#17B0E7;display:inline-block;font-size:1.2em;">From NEO Blockchain to Phantasma Blockchain</div>
      <i style="display:inline-block;font-size: 1.5em;" class="fas fa-sync" onclick="toggleChains()"></i>
      <div id="neotophantasma">
          <div class="row setup-content" id="step-2" style="display:none;">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div id="loader-interopaddress" class="block-loader center">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                      </div>
                      <div class="alert alert-warning" style="overflow: auto;">
                          Do NOT send assets from an exchange wallet.<br>
                          Please send assets from the same <strong> personal wallet only</strong>!
                      </div>
                      <h4 class="control-label">Step 1) Send NEO, GAS or SOUL</h4>
                      <div class="center">
                          <p class="public-address" style="display:inline-block;">
                              <em><span id="currentplatformaddress"></span></em>
                          </p>
                          <span id="padcurrentplatformaddress" class="copy-pad" style="font-size: 20px;">
                            <a href="#">
                                <i class="fas fa-copy"></i>
                            </a>
                          </span>
                      </div>
                   </div>
               </div>
          </div>
          <div class="row setup-content" id="step-3" style="display:none;">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <h4 class="control-label">Step 2) Enter transaction hash</h4>
                      <input type="search" class="form-control parameters-swap-input" id="neohash" style="text-align:center;" placeholder="Enter transaction hash">
                  </div>
              </div>
          </div>
          <div class="row setup-content">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div>
                          <h4 class="control-label">Step 3) Sign with your NEO wallet</h4>
                          <div id="keytypetoggle" style="margin:.5em;font-style:italic;color:#17B0E7;display:inline-block;">Private Key</div>
                          <i style="display:inline-block;" class="fas fa-sync" onclick="toggleKeyType()"></i>
                          <input type="search" class="form-control parameters-swap-input" id="neoprivatekey" style="text-align:center;" placeholder="Enter NEO key">
                          <input type="search" class="form-control parameters-swap-input" id="neopassword" style="text-align:center;margin-top:1em;display:none;" placeholder="Enter NEO password">
                          <button class="btn-primary nextBtn btn-lg button" type="button" onclick="swapNEOToPhantasma()" id="neotophantasmabutton">SWAP ASSETS</button>
                          <div id="wrapper-link-confirm" style="opacity:0;margin-bottom:1em;">
                            Transaction
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="phantasmatoneo" style="display:none;">
            <div class="row setup-content">
                <div class="col-xs-12">
                    <div class="col-md-12">
                      <div class="alert alert-warning" style="overflow: auto;">
                          Do NOT send assets from an exchange wallet.<br>
                          Please send assets from the same <strong> personal wallet only</strong>!
                      </div>
                      <h4 class="control-label">Step 2) Select token</h4>
                      <select id="select-token-form"></select>
                      <h4 class="control-label" style="margin-top:1em;">Step 3) Enter amount</h4>
                      <input class="form-control parameters-swap-input" id="neoamount" type="number" style="text-align:center;" placeholder="Enter amount">
                      <button class="btn-success btn-lg button" type="button" onclick="swapPhantasmaToNEO()" id="phantasmatoneobutton">SWAP ASSETS</button>
                      <div id="wrapper-swapphantasma-confirm" style="opacity:0;">Transaction</div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
<div id="cosmicswapdiv" class="container" style="margin-top:1em;display:none;">
  <h4>Not available yet, coming soon!</h4>
</div>

<script>

    $(document).ready(function () {

        $('#sendSpinner').hide();
        $("#loader-interopaddress").show();

        let tokenBox = $('#select-token-form');
        tokenBox.find('option').remove();

        {{#each chainTokens}}
        if ('{{Symbol}}' == 'SOUL' || '{{Symbol}}' == 'NEO' || '{{Symbol}}' == 'GAS') {
          formatedAmount = numberWithCommas('{{Amount}}');
          tokenBox.append($('<option>', {value:'{{Symbol}}', text:'{{Name}} ({{Symbol}}) - ' + formatedAmount}));
        }
        {{/each}}

        $.get('/platforms/',
            function (returnedDataPlatforms) {
              //console.log(returnedDataTX)
              var pLength = (JSON.parse(returnedDataPlatforms)).length,
                  dstaddress = '',
                  i = 0;
              for (i; i < pLength; i += 1) {
                if (JSON.parse(returnedDataPlatforms)[i].platform == 'neo') {
                  dstaddress = JSON.parse(returnedDataPlatforms)[i].address
                }
              }
              document.getElementById("currentplatformaddress").innerHTML = dstaddress;
              document.getElementById("padcurrentplatformaddress").addEventListener('click', function(){ copyText(dstaddress, 'Address');}, false);
              $("#loader-interopaddress").hide();
              $("#step-2").show();
              $("#step-3").show();
            })

        // Trigger update button on press enter
        var inputrpc = document.getElementById("neohash");
        inputrpc.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                //event.preventDefault();
                document.getElementById("neotophantasmabutton").click();
            }
        });

        // Trigger update button on press enter
        var inputrpc = document.getElementById("neoamount");
        inputrpc.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                //event.preventDefault();
                document.getElementById("phantasmatoneobutton").click();
            }
        });

    })

    function swapPhantasmaToNEO() {

      $("#wrapper-swapphantasma-confirm").fadeTo(1, 0);

      let token = $("#select-token-form").val();
      let amount = $("#neoamount").val().replace(/\,/g,'');
      let target_address_neo = '';
      let target_address_interop = '';
      {{#if interops}}
      {{#each interops}}
      target_address_interop = '{{InteropAddress}}';
      target_address_neo = '{{Address}}';
      {{/each}}
      {{#else}}
      {{/if}}

      if (token == null) {
          bootbox.alert("No assets available!");
          return;
      }

      if (parseInt(amount) <= 0) {
          bootbox.alert("Please insert a valid amount!");
          return;
      }

      if (target_address_neo == '' || target_address_interop == '') {
          bootbox.alert("Please link a NEO address first!");
          return;
      }

      $('#sendSpinner').show();
      bootbox.confirm({
          title: "Swap confirmation",
          message: "Swap <strong>" +
              numberWithCommas(amount) +
              " " +
              token +
              "</strong> from Phantasma Blockchain to NEO Blockchain address <strong>" +
              target_address_neo +
              "</strong>?",
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> Cancel'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> Confirm'
              }
          },
          callback: function(result) {

            if (result) {
              $.post('/sendrawtx',
                  {
                      fungible: 'True', token: token, amount: amount, dest: target_address_interop, chain: 'main' , destChain: 'main'
                  },
                  function (returnedData) {
                    if (returnedData !== "") {
                        window.location.replace("/waiting/" + returnedData);
                    } else {
                        window.location.replace("/error");
                    }
                    //console.log(returnedData);
                  })
                  .fail(function(e) {
                    console.log(JSON.stringify(e.statusText))
                    document.getElementById("wrapper-swapphantasma-confirm").innerHTML = JSON.stringify(e.statusText);
                    $("#wrapper-swapphantasma-confirm").fadeTo("slow", 1);
                  })
              }
              $('#sendSpinner').hide();
          }
      });

    }

    function swapNEOToPhantasma() {

      $("#wrapper-swapneo-confirm").fadeTo(1, 0);

      let hash = $("#neohash").val();
      let neokey = $("#neoprivatekey").val();
      let neopassword = $("#neopassword").val();

      if (!hash.length == 64) {
          bootbox.alert("Please insert a valid transaction hash!");
          return;
      }

      if (!neokey.length == 52 || !neokey.length == 64) {
          bootbox.alert("Please insert a valid private key!");
          return;
      }

      $('#sendSpinner').show();
      bootbox.confirm({
          title: "Swap confirmation",
          message: "Validate <strong>" +
              hash +
              "</strong><br>from NEO Blockchain and release the corresponding assets on Phantasma Blockchain" +
              "</strong>?",
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> Cancel'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> Confirm (personal wallet only, no exchange!)'
              }
          },
          callback: function(result) {

            if (result) {

              $.post('/settle/tx',
                 {
                     neoTxHash: hash,
                     neoKey: neokey,
                     neoPassword: neopassword
                 },
                 function (returnedData) {
                   if (returnedData !== "") {
                       window.location.replace("/waiting/" + returnedData);
                   } else {
                       window.location.replace("/error");
                   }
                   //console.log(returnedData);
                 }
               ).fail(function(e) {
                 console.log(JSON.stringify(e.statusText))
               })

             }
             $('#sendSpinner').hide();
           }
        });

    }
/*
    function updateLink() {

      $("#wrapper-link-confirm").fadeTo(1, 0);

      let target_address_link = $("#neoaddresslink").val();

      if (target_address_link.length < 34 || !target_address_link.startsWith('A')) {
          bootbox.alert("Please insert a valid NEO address!");
          return;
      }

      var params = [];
      // build params for contract call
      params[0] = { name: 'from', type: 'Object', input: '{{address}}', info: '' }
      params[1] = { name: 'target', type: 'Object', input: target_address_link, info: '' }

      $('#sendSpinner').show();
      bootbox.confirm({
          title: "Address link confirmation",
          message: "Link <strong>" +
              target_address_link +
              "</strong> on NEO Blockchain with <strong>" +
              " {{address}}</strong> on Phantasma Blockchain" +
              "?",
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> Cancel'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> Confirm'
              }
          },
          callback: function(result) {

            if (result) {

              $.post('/registerlink',
                 {
                     target: target_address_link,
                 },
                 function (returnedData) {
                   //console.log(returnedData)
                   // If /contract/tx works, call /tx/hash in a loop to check if the tx worked
                   var counter = 0;
                   getConfirmations();
                   function getConfirmations() {

                   $.get('/tx/' + returnedData,
                       function (returnedDataTX) {
                         //console.log(returnedDataTX)
                         $('#sendSpinner').hide();
                         if ((JSON.parse(returnedDataTX).error) == 'pending') {
                             counter++;
                             if (counter <= 6){
                               setTimeout(getConfirmations, 2000);
                             }
                             // If tx pending, returns the custom error message
                             document.getElementById("wrapper-link-confirm").innerHTML = 'Transaction pending <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                             $("#wrapper-link-confirm").fadeTo("slow", 1);
                         } else {

                             if ((JSON.parse(returnedDataTX).error) != undefined) {
                               $("#wrapper-link-confirm").fadeTo("fast", 0);
                               document.getElementById("wrapper-link-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                               $("#wrapper-link-confirm").fadeTo("slow", 1);
                             } else {
                               // If it works, returns the tx link
                               $("#wrapper-link-confirm").fadeTo("fast", 0);
                               document.getElementById("wrapper-link-confirm").innerHTML = 'Transaction successful <a href="{{explorer}}/tx/' + returnedData + '" target="_blank" title="View Transaction">' + returnedData + '</a>';
                               document.getElementById("currentlink").innerHTML = target_address_link;
                               $("#wrapper-link-confirm").fadeTo("slow", 1);
                               $('#neoaddresslink').val('');
                             }

                         }

                       }).fail(function(e) {
                         $('#sendSpinner').hide();
                         console.log(JSON.stringify(e))
                         document.getElementById("wrapper-link-confirm").innerHTML = e;
                         $("#wrapper-link-confirm").fadeTo("slow", 1);
                       });
                     }
                 }
               ).fail(function(e) {
                 $('#sendSpinner').hide();
                 console.log(JSON.stringify(e.statusText))
                 document.getElementById("wrapper-swapneo-confirm").innerHTML = JSON.stringify(e.statusText);
                 $("#wrapper-link-confirm").fadeTo("slow", 1);
               })

             } else {
               $('#sendSpinner').hide();
             }
           }
        });

    }
*/
</script>
