<h3 class="tab-title">Swap assets</h3>

<div class="swap">
    <div id="sendSpinner" class="loading">Loading&#8230;</div>
    <div style="font-size:2em;display:flex;justify-content: center;">
      <span style="margin:1em;display:inline-block;" id="cosmicswap">Cosmic Swap</span>
      <div style="margin-top:1em;display:inline-block;">
        <input class="tgl tgl-flat" id="cb5" type="checkbox" onclick="toggleSwap()">
        <label class="tgl-btn" style="margin: 0 auto;" for="cb5"></label>
      </div>
      <span style="margin:1em;display:inline-block;" id="chainswap" class="highlighted">Chain Swap</span>
    </div>
    <div id="chainswapdiv" class="container" style="margin-top:0">
      <div id="chainswapdesc" style="margin:1em 1em 2em 1em;font-style:italic;color:#17B0E7;display:inline-block;font-size:1.2em;">From NEO Blockchain to Phantasma Blockchain</div>
      <i style="display:inline-block;font-size: 1.5em;" class="fas fa-random fa-sync-chains" onclick="toggleChains()"></i>
      <div id="neotophantasma">
          <div class="row setup-content" id="step-1" style="display:none;">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div class="alert alert-warning" style="overflow: auto;">
                          Do NOT send assets from an exchange wallet.<br>
                          Please send assets from a <strong> personal wallet only (no ledger)</strong>!
                      </div>
                      <div id="loader-interopaddress" class="block-loader center">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                      </div>
                      <h4 class="control-label">Step 1) Send NEO (min. 2), GAS or SOUL</h4>
                      <div class="center">
                          <p class="public-address" style="display:inline-block;margin-bottom:0;">
                              <em><span id="currentplatformaddress"></span></em>
                          </p>
                          <span id="padcurrentplatformaddress" class="copy-pad" style="font-size: 20px;">
                            <a href="#">
                                <i class="fas fa-copy"></i>
                            </a>
                          </span>
                      </div>
                   </div>
               </div>
          </div>
          <div class="row setup-content" id="step-2" style="display:none;">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div>
                          <h4 class="control-label">Step 2) Sign with your NEO wallet</h4>
                          <div id="keytypetoggle" style="margin:.5em;font-style:italic;color:#17B0E7;display:inline-block;">Private Key</div>
                          <i style="display:inline-block;" class="fas fa-sync fa-sync-neo" onclick="toggleKeyType()"></i>
                          <input type="search" class="form-control parameters-swap-input" id="neoprivatekey" style="text-align:center;" placeholder="Enter NEO key">
                          <input type="password" class="form-control parameters-swap-input" id="neopassphrase" style="text-align:center;margin-top:1em;display:none;" placeholder="Enter NEO passphrase">
                          <button class="btn-primary nextBtn btn-lg button" type="button" onclick="swapPendingNEO()" id="neocheckbutton">CHECK PENDING SWAP</button>
                          <div id="wrapper-swapaddressfail-confirm" style="opacity:0;text-align:center;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row setup-content" id="step-3" style="display:none;">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div>
                          <h4 class="control-label">Step 3) Validate swap</h4>
                          <div id="wrapper-swapaddress-confirm" style="opacity:0;text-align:center;"></div>
                          <button class="btn-primary nextBtn btn-lg button" type="button" onclick="swapNEOToPhantasma()" id="neotophantasmabutton" style="opacity:0;">SWAP ASSETS</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row setup-content" id="step-error">
              <h3>Swapping not available</h3>
          </div>
      </div>
      <div id="phantasmatoneo" style="display:none;">
            <div class="row setup-content">
                <div class="col-xs-12">
                    <div class="col-md-12">
                      <div class="alert alert-warning" style="overflow: auto;">
                          Do NOT send assets to an exchange wallet.<br>
                          Please send assets to a <strong> personal wallet only</strong>!
                      </div>
                      <h4 class="control-label">Step 1) Enter NEO address</h4>
                      <input class="form-control parameters-swap-input" id="neoaddress" type="text" style="text-align:center;" placeholder="Enter NEO address">
                      <h4 class="control-label" style="margin-top:1em;">Step 2) Select token</h4>
                      <select id="select-token-form"></select>
                      <h4 class="control-label" style="margin-top:1em;">Step 3) Enter amount</h4>
                      <input class="form-control parameters-swap-input" id="neoamount" type="number" style="text-align:center;" placeholder="Enter amount">
                      <button class="btn-success btn-lg button" type="button" onclick="swapPhantasmaToNEO()" id="phantasmatoneobutton">SWAP ASSETS</button>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
<div id="cosmicswapdiv" class="container swap" style="margin-top:1em;display:none;">
  <h4>Not available yet, coming soon!</h4>
  <div class="row setup-content" style="display:none;">
      <div class="col-xs-12">
          <div class="col-md-12">
            <h4 class="control-label">Step 1) Select token to sell</h4>
            <select id="select-token-form-cosmic">
            </select>
            <h4 class="control-label" style="margin-top:1em;">Step 2) Select token to buy</h4>
            <select id="select-token-form-cosmicreceive">
            </select>
            <h4 class="control-label" style="margin-top:1em;">Step 3) Enter amount to sell</h4>
            <input class="form-control parameters-swap-input" id="phantasmaamount" type="number" style="text-align:center;" placeholder="Enter amount">
            <div class="cosmic-calc">
                <br>You are sending:<br>
                You will be receiving:<br>
                Rate: X SOUL for Y KCAL
            </div>
            <button class="btn-success btn-lg button" type="button" onclick="swapCosmic()" id="cosmicswapbutton">SWAP ASSETS</button>
          </div>
      </div>
  </div>
</div>
<div id="wrapper-swap-confirm" style="opacity:0;text-align:center;">
  Transaction
</div><br>
<div id="wrapper-pending-confirm" class="pending" style="opacity:1;text-align:center;margin-top:2em;display:none;">
  <span>Swap pending? Re-process it (optional)</span><br>
  <div style="display:inline-flex;">
    <input class="form-control parameters-swap-input" id="neopending" type="text" style="text-align:center;display:inline-block;width:22em;" placeholder="Enter NEO public address">
    <button class="btn-success btn-lg button" style="margin-left:1em;width:12em;font-size:.6em;" type="button" onclick="swapPendingSettle()" id="swappendingsettlebutton">PROCESS SWAP</button>
  </div>
  <br><div id="wrapper-pendingswap-confirm" style="opacity:1;text-align:center;margin-top:1em;">
  </div>
</div>

<script>

    $(document).ready(function () {

        $('#sendSpinner').hide();
        $("#loader-interopaddress").show();
        isName = 'False';
        $('#neopassphrase').val('');
        $('#neoprivatekey').val('');
        $('#neohash').val('');
        $('#neoaddress').val('');
        $('#neoamount').val('');
        hasKCAL = 0;
        hasGAS = 0;

        let tokenBox = $('#select-token-form');
        tokenBox.find('option').remove();

        let tokenBoxCosmic = $('#select-token-form-cosmic');
        tokenBoxCosmic.find('option').remove();

        let tokenBoxCosmicReceive = $('#select-token-form-cosmicreceive');
        tokenBoxCosmicReceive.find('option').remove();

        {{#each chainTokens}}
        if ('{{Symbol}}' == 'SOUL' || '{{Symbol}}' == 'NEO' || '{{Symbol}}' == 'GAS') {
          formatedAmount = numberWithCommas('{{Amount}}');
          tokenBox.append($('<option>', {value:'{{Symbol}}', text:'{{Name}} ({{Symbol}}) - ' + formatedAmount}));
        }
        if ('{{Symbol}}' == 'SOUL' || '{{Symbol}}' == 'KCAL' || '{{Symbol}}' == 'NEO' || '{{Symbol}}' == 'GAS') {
          formatedAmountCosmic = numberWithCommas('{{Amount}}');
          tokenBoxCosmic.append($('<option>', {value:'{{Symbol}}', text:'{{Name}} ({{Symbol}}) - ' + formatedAmountCosmic}));
        }
        {{/each}}
        tokenBoxCosmicReceive.append($('<option>', {value:'KCAL', text:'KCAL'}));
        tokenBoxCosmicReceive.append($('<option>', {value:'SOUL', text:'SOUL'}));
        tokenBoxCosmicReceive.append($('<option>', {value:'NEO', text:'NEO'}));
        tokenBoxCosmicReceive.append($('<option>', {value:'GAS', text:'GAS'}));

        customrestport = '{{rpcurl}}';
        customrestport = customrestport.slice(0,-8) + '7078';
        $.get(customrestport + '/api/getPlatforms',
            function (returnedDataPlatforms) {
              //console.log(returnedDataPlatforms[0].interop[0].external)
              dstaddress = returnedDataPlatforms[0].interop[0].external;
              document.getElementById("currentplatformaddress").innerHTML = dstaddress;
              document.getElementById("padcurrentplatformaddress").addEventListener('click', function(){ Clipboard.copy(dstaddress, 'Address');}, false);
              $("#loader-interopaddress").hide();
              $("#step-error").hide();
              $("#step-1").show();
              $("#step-2").show();
            })

        // Trigger update button on press enter
        var inputrpc = document.getElementById("neoamount");
        inputrpc.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                //event.preventDefault();
                document.getElementById("phantasmatoneobutton").click();
            }
        });

        // Trigger update button on press enter
        var inputneoprivatekey = document.getElementById("neoprivatekey");
        inputneoprivatekey.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                //event.preventDefault();
                document.getElementById("neotophantasmabutton").click();
            }
        });

        // Default swap mode
        if (document.getElementById("cb5")) {
          document.getElementById("cb5").checked = true;
        }

        {{#each holdings}}
          if ('{{Symbol}}' == 'KCAL') {
            hasKCAL = 1;
          }
          if ('{{Symbol}}' == 'GAS') {
            hasGAS = 1;
          }
        {{/each}}

    })

    function swapPendingSettle() {

      $('#sendSpinner').show();
      $("#wrapper-pendingswap-confirm").fadeTo("fast", 0);
      neopending = $("#neopending").val();

      $.get(customrestport + '/api/getSwapsForAddress',
        {
            account: neopending
        },
          function (returnedDataPending) {
            //console.log(returnedDataPending)
            $('#sendSpinner').hide();
            if (returnedDataPending.length == 0) {
                $('#wrapper-pendingswap-confirm').fadeTo("fast", 0, function() {
                    document.getElementById("wrapper-pendingswap-confirm").innerHTML = 'No pending swap';
                    $("#wrapper-pendingswap-confirm").fadeTo("slow", 1);
                });
            } else {
              neopendinghash = returnedDataPending[0].sourceHash;
              $.get(customrestport + '/api/settleSwap',
                {
                    sourcePlatform: 'phantasma', destPlatform: 'neo', hashText: neopendinghash
                },
                  function (returnedDataPending) {
                    //console.log(returnedDataPending)
                    $('#wrapper-pendingswap-confirm').fadeTo("fast", 0, function() {
                        document.getElementById("wrapper-pendingswap-confirm").innerHTML = 'Swap processed successfully: <a href="{{explorer}}/tx/' + returnedDataPending + '" target="_blank" title="View Transaction" class="pendingswaphash">' + returnedDataPending + '</a>';
                        $("#wrapper-pendingswap-confirm").fadeTo("slow", 1);
                    });
                    setTimeout(function(){window.location.href = "/portfolio"}, 5000);
                }).fail(function(e) {
                  $('#sendSpinner').hide();
                  console.log(JSON.stringify(e))
                  $('#wrapper-pendingswap-confirm').fadeTo("fast", 0, function() {
                      document.getElementById("wrapper-pendingswap-confirm").innerHTML = 'Swap processing failed.';
                      $("#wrapper-pendingswap-confirm").fadeTo("slow", 1);
                  });
                });
            }

        }).fail(function(e) {
          $('#sendSpinner').hide();
          console.log(JSON.stringify(e))
          $('#wrapper-pendingswap-confirm').fadeTo("fast", 0, function() {
              document.getElementById("wrapper-pendingswap-confirm").innerHTML = 'Swap processing failed.';
              $("#wrapper-pendingswap-confirm").fadeTo("slow", 1);
          });
        });

    }

    function swapPhantasmaToNEO() {

      $("#wrapper-swap-confirm").fadeTo(1, 0);
      let target_address_neo = $("#neoaddress").val();
      let token = $("#select-token-form").val();
      let amount = $("#neoamount").val().replace(/\,/g,'');

      if (hasKCAL == 0) {
          bootbox.alert("All transactions on Phantasma require KCAL. Please claim some first!");
          return;
      }

      if (hasGAS == 0) {
          bootbox.alert("All Swaps from Phantasma to NEO require a drop of GAS, please swap some GAS first!");
          return;
      }

      if (target_address_neo == '') {
          bootbox.alert("Please enter a NEO address!");
          return;
      }

      if (target_address_neo.length !== 34) {
          bootbox.alert("Please enter a valid NEO address!");
          return;
      }

      if (token == null) {
          bootbox.alert("No assets available!");
          return;
      }

      if (toFixed((amount)) == 0 || Number.isNaN(amount)) {
          bootbox.alert("Please insert a valid amount!");
          return;
      }

      $('#sendSpinner').show();
      bootbox.confirm({
          title: "Swap confirmation",
          message: "Swap <strong>" +
              numberWithCommas(amount) +
              " " +
              token +
              "</strong> from Phantasma Blockchain to NEO Blockchain address <strong>" +
              target_address_neo +
              "</strong>?",
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> Cancel'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> Confirm'
              }
          },
          callback: function(result) {

            if (result) {
              $.post('/sendrawtx',
                  {
                      fungible: 'True', token: token, amount: amount, dest: target_address_neo, chain: 'main' , destChain: 'main', isName: isName
                  },
                  function (returnedData) {
                    if (returnedData !== "") {
                        //console.log(returnedData)
                        $('#sendSpinner').hide();
                        document.getElementById("wrapper-swap-confirm").innerHTML = '<div class="loader" style="position:initial;"><div class="loader-dot"></div><div class="loader-dot"></div><div class="loader-dot"></div><div class="loader-text" style="margin-top:1.5em;position:initial;" id="waitingText">Waiting for transaction confirmations<div class="loader-dots"></div></div></div>';
                        $("#wrapper-swap-confirm").fadeTo("slow", 1);
                        // If /sendrawtx works, call /tx/hash in a loop to check if the tx worked
                        var counter = 0;
                        getConfirmations();
                        function getConfirmations() {

                         $.get('/tx/' + returnedData,
                             function (returnedDataTX) {
                               //console.log(returnedDataTX)
                               if ((JSON.parse(returnedDataTX).error) == 'pending') {
                                   // If tx pending, returns the custom error message
                                   counter++;
                                   if (counter <= 10){
                                     setTimeout(getConfirmations, 2000);
                                   } else {
                                     document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction unconfirmed, please re-process it below.';
                                     $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                   }
                               } else {

                                   if ((JSON.parse(returnedDataTX).error) != undefined) {
                                     // If .error defined, returns the custom error message
                                     $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                         document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                                         $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                     });
                                   } else {
                                     $('#neoaddress').val('');
                                     $('#neoamount').val('');
                                     // If it works, settle tx
                                     $.get(customrestport + '/api/settleSwap',
                                       {
                                           sourcePlatform: 'phantasma', destPlatform: 'neo', hashText: JSON.parse(returnedDataTX).hash
                                       },
                                         function (returnedDataSettle) {
                                           //console.log(returnedDataSettle)
                                           $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                               document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + returnedDataSettle + '" target="_blank" title="View Transaction">' + returnedDataSettle + '</a>';
                                               $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                           });
                                           setTimeout(function(){window.location.href = "/portfolio"}, 5000);
                                       }).fail(function(e) {
                                         $('#sendSpinner').hide();
                                         console.log(JSON.stringify(e))
                                         $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                             document.getElementById("wrapper-swap-confirm").innerHTML = JSON.stringify(e);
                                             $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                         });
                                       });

                                   }
                               }
                             }).fail(function(e) {
                               $('#sendSpinner').hide();
                               console.log(JSON.stringify(e))
                               $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                   document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction unconfirmed, please re-process it below.';
                                   $("#wrapper-swap-confirm").fadeTo("slow", 1);
                               });
                             });
                           }
                    } else {
                        $('#sendSpinner').hide();
                        //console.log(returnedData)
                        $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                          document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction unconfirmed, please re-process it below.';
                          $("#wrapper-swap-confirm").fadeTo("slow", 1);
                        });
                    }
                  }).fail(function(e) {
                    $('#sendSpinner').hide();
                    console.log(e)
                    $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                        document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction rejected';
                        $("#wrapper-swap-confirm").fadeTo("slow", 1);
                    });
                  })
              } else {
                $('#sendSpinner').hide();
              }
          }
      });

    }

    function swapPendingNEO() {

      $("#wrapper-swap-confirm").fadeTo("slow", 0);
      $("#wrapper-swapaddress-confirm").fadeTo("slow", 0);
      $("#wrapper-swapaddressfail-confirm").fadeTo("slow", 0);
      $("#neotophantasmabutton").fadeTo("slow", 0);
      $("#step-3").fadeTo("slow", 0);

      neokey = $("#neoprivatekey").val();
      neopassphrase = $("#neopassphrase").val();
      txhash = '';
      assetsymbol = '';

      if (neokey.length < 52 || neokey.length > 58 || (neokey.length > 52 && neokey.length < 58)) {
          bootbox.alert("Please insert a valid private key or encrypted key!");
          return;
      }

      $('#sendSpinner').show();
      $.post('/convert',
         {
             neoKey: neokey,
             neoPassphrase: neopassphrase
         },
         function (returnedData) {
           //console.log(returnedData)
           currentaddress = returnedData;
           $.get(customrestport + '/api/getSwapsForAddress',
             {
                 account: currentaddress
             },
               function (returnedDataPending) {
                 //console.log(returnedDataPending)
                 for ( var i = 0; i < returnedDataPending.length; i++ ) {
                     if (returnedDataPending[i].destinationHash == 'pending' && returnedDataPending[i].sourceChain == 'neo') {

                       txhash = returnedDataPending[i].sourceHash;
                       last10TX = txhash.substr(txhash.length - 10);
                       first10TX = txhash.substr(0, 10);
                       partialTX = first10TX + '...' + last10TX;
                       assetsymbol = returnedDataPending[i].symbol
                       if (returnedDataPending[i].symbol == 'SOUL') {
                         decimals = Math.pow(10,8);
                       } else if (returnedDataPending[i].symbol == 'GAS') {
                         decimals = Math.pow(10,8);
                       } else {
                         decimals = Math.pow(10,0);
                       }
                       valueSwap = (returnedDataPending[i].value)/decimals;
                       $('#sendSpinner').hide();
                       $('#wrapper-swapaddress-confirm').fadeTo("fast", 0, function() {
                           document.getElementById("wrapper-swapaddress-confirm").innerHTML = 'Transaction: <a href="https://neoscan.io/transaction/' + txhash + '" target="_blank">' + partialTX + '</a><br>Pending swap: ' + numberWithCommas(valueSwap) + ' ' + assetsymbol;
                           $("#wrapper-swapaddress-confirm").fadeTo("slow", 1);
                           $("#step-3").fadeTo("slow", 1);
                           $('#neotophantasmabutton').fadeTo("slow", 1);
                       });

                     }
                 }
                 if (txhash == '') {
                   $('#sendSpinner').hide();
                   $('#wrapper-swapaddressfail-confirm').fadeTo("fast", 0, function() {
                       document.getElementById("wrapper-swapaddressfail-confirm").innerHTML = 'No pending swaps for ' + currentaddress;
                       $("#wrapper-swapaddressfail-confirm").fadeTo("slow", 1);
                   });
                 }
             }).fail(function(e) {
               $('#sendSpinner').hide();
               console.log(e)
               $('#wrapper-swapaddressfail-confirm').fadeTo("fast", 0, function() {
                   document.getElementById("wrapper-swapaddressfail-confirm").innerHTML = e;
                   $("#wrapper-swapaddressfail-confirm").fadeTo("slow", 1);
               });
             })

       })

    }

    function swapNEOToPhantasma() {

      $("#wrapper-swap-confirm").fadeTo(1, 0);

      $('#sendSpinner').show();
      bootbox.confirm({
          title: "Swap confirmation",
          message: "Validate <strong>" +
              txhash +
              "</strong><br>from <strong>NEO Blockchain</strong> address " + currentaddress + " and swap <strong>" + numberWithCommas(valueSwap) + ' ' + assetsymbol + " to Phantasma Blockchain" +
              "</strong>?",
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> Cancel'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> Confirm (personal wallet only, no exchange!)'
              }
          },
          callback: function(result) {

            if (result) {

              $.post('/settle/tx',
                 {
                     txHash: txhash,
                     neoKey: neokey,
                     neoPassphrase: neopassphrase,
                     assetSymbol: assetsymbol
                 },
                 function (returnedData) {
                   //console.log(returnedData)
                   if (returnedData !== "") {
                     $('#sendSpinner').hide();
                     // If /settle/tx works, call /tx/hash in a loop to check if the tx worked
                     document.getElementById("wrapper-swap-confirm").innerHTML = '<div class="loader" style="position:initial;"><div class="loader-dot"></div><div class="loader-dot"></div><div class="loader-dot"></div><div class="loader-text" style="margin-top:1.5em;position:initial;" id="waitingText">Waiting for transaction confirmations<div class="loader-dots"></div></div></div>';
                     $("#wrapper-swap-confirm").fadeTo("slow", 1);
                     var counter = 0;
                     getConfirmations();
                     function getConfirmations() {

                      $.get('/tx/' + returnedData,
                          function (returnedDataTX) {
                            //console.log(returnedDataTX)
                            if ((JSON.parse(returnedDataTX).error) == 'pending') {
                                counter++;
                                if (counter <= 15){
                                  setTimeout(getConfirmations, 2000);
                                } else {
                                  $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                      document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction unconfirmed, please re-process it above.';
                                      $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                  });
                                }
                            } else {

                                if ((JSON.parse(returnedDataTX).error) != undefined) {
                                  // If .error defined, returns the custom error message
                                  $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                      document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction ' + (JSON.parse(returnedDataTX).error);
                                      $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                  });
                                } else {
                                  $('#neopassphrase').val('');
                                  $('#neoprivatekey').val('');
                                  $('#neohash').val('');
                                  let neopassphrase = '';
                                  // If it works, returns tx
                                  $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                      document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction successful: <a href="{{explorer}}/tx/' + JSON.parse(returnedDataTX).hash + '" target="_blank" title="View Transaction">' + JSON.parse(returnedDataTX).hash + '</a>';
                                      $("#wrapper-swap-confirm").fadeTo("slow", 1);
                                  });
                                  setTimeout(function(){window.location.href = "/portfolio"}, 5000);
                                }
                            }
                          }).fail(function(e) {
                            $('#sendSpinner').hide();
                            console.log(JSON.stringify(e))
                            $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                                document.getElementById("wrapper-swap-confirm").innerHTML = JSON.stringify(e);
                                $("#wrapper-swap-confirm").fadeTo("slow", 1);
                            });
                          });
                        }
                   } else {
                       $('#sendSpinner').hide();
                       console.log(returnedData)
                       $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                           document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction rejected';
                           $("#wrapper-swap-confirm").fadeTo("slow", 1);
                       });
                   }
                   //console.log(returnedData);
                 }
               ).fail(function(e) {
                 $('#sendSpinner').hide();
                 console.log(e)
                 $('#wrapper-swap-confirm').fadeTo("fast", 0, function() {
                     document.getElementById("wrapper-swap-confirm").innerHTML = 'Transaction rejected';
                     $("#wrapper-swap-confirm").fadeTo("slow", 1);
                 });
               })
             } else {
               $('#sendSpinner').hide();
             }
           }
        });

    }

</script>
